<div class="home landing">
  <div class="landing-hero business-welcome">
    <div class="landing-hero-overlay"></div>
    <div class="container container-transitional">
      <div class="row" style="padding: 8rem 0 10rem 0">
        <div class="rpad col-md-6">
          <p>
            <img ng-src="assets/img/mywheels-zakelijk-textwhite.png" height="32" />
          </p>
          <h1 style="margin: 2rem 0 3rem; color: white;">Welkom bij MyWheels!</h1>
          <p class="size-3 text-white">Vul eerst nog even je profiel aan, daarna kun je direct op weg!</p>
        </div>
        <div class="rpad col-md-6">
          <div style="
            background: rgba(255, 255, 255, 0.85);
            padding: 1.4rem 2rem 2rem;
            margin-top: -3rem;
          ">
            <p class="size-5" style="font-weight: bold;">{{ $root.providerInfo.visibleName }}</p>
            <div class="snarkdown" ng-bind-html="$root.providerInfo.extraInfo.welcome_text | snarkdown"></div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- TRIANGLE BAR HOME -->
  <div class="triangle--bar--home triangle--bar--home-white"></div>
  <!-- /TRIANGLE BAR -->

  <div class="container container-transitional" style="padding-bottom: 20rem;">
    <div class="row">
      <div class="rpad col-xs-12 col-md-8 col-md-offset-2"
        style="position: relative; min-height: 50rem;">

        <form
          ng-if="step === 0"
          style="position: absolute; top: 0; left: 0; right: 0;"
          class="mywheels-form smooth-slide-appear"
          name="profileForm"
        >
          <div class="card mw">
            <div class="card-body">
              <h3>1/2 Basisgegevens</h3>
              <div class="row" style="padding-top: 2rem;">
                <div class="col-xs-12 col-sm-4">
                  <label class="surround">
                    <span class="lbl">Voornaam</span>
                    <input
                      type="text"
                      name="firstName"
                      class="form-control fat"
                      ng-model="person.firstName"
                      required
                    />
                    <div class="text-danger" ng-show="profileForm.firstName.$touched && profileForm.firstName.$error.required">
                      Dit veld is verplicht
                    </div>
                  </label>
                </div>
                <div class="col-xs-4 col-sm-3">
                  <label class="surround">
                    <span class="lbl">Tussenvoegsel</span>
                    <input
                      type="text"
                      name="preposition"
                      class="form-control fat"
                      ng-model="person.preposition"
                      null-if-empty
                    />
                  </label>
                </div>
                <div class="col-xs-8 col-sm-5">
                  <label class="surround">
                    <span class="lbl">Achternaam</span>
                    <input
                      type="text"
                      name="surname"
                      class="form-control fat"
                      ng-model="person.surname"
                      required
                    />
                    <div class="text-danger" ng-show="profileForm.surname.$touched && profileForm.surname.$error.required">
                      Dit veld is verplicht
                    </div>
                  </label>
                </div>
              </div><!-- /.row -->

              <div class="row">
                <div
                  class="col-xs-12"
                  style="padding-top: 2rem;"
                  ng-init="(phoneNumberOptions = {
                    disableTitle: true,
                    onUpdate: phoneUpdate(profileForm),
                  }) && phoneUpdate(profileForm)(person.phoneNumbers)"
                >
                  <div phone-number></div>
                </div>
              </div><!-- /.row -->

              <div class="row">
                <div class="col-xs-8">
                  <label class="surround">
                    <span class="lbl">Postcode</span>
                    <input
                      type="text"
                      name="zipcode"
                      class="form-control fat"
                      ng-model="person.zipcode"
                      required
                    />
                    <div class="text-danger" ng-show="profileForm.zipcode.$touched && profileForm.zipcode.$error.required">
                      Dit veld is verplicht
                    </div>
                  </label>
                </div>
                <div class="col-xs-4">
                  <label class="surround">
                    <span class="lbl">Huisnummer</span>
                    <input
                      type="text"
                      name="streetNumber"
                      class="form-control fat"
                      ng-model="person.streetNumber"
                      required
                    />
                    <div class="text-danger" ng-show="profileForm.streetNumber.$touched && profileForm.streetNumber.$error.required">
                      Dit veld is verplicht
                    </div>
                  </label>
                </div>
              </div><!-- /.row -->

              <p ng-if="person.zipcode && person.streetNumber">
                <span ng-if="zipcodeAutocompleting"><inline-spinner /></span>
                <span ng-if="!zipcodeAutocompleting" style="color: #777;">
                  <span ng-if="person.city">{{ person.streetName }} {{ person.city }}</span>
                  <span ng-if="!person.city">Onbekend adres</span>
                </span>
              </p>

            </div>
          </div><!-- /.card -->
          <p style="text-align: center;">
            <md-button
              class="mywheels-btn-call-to-action"
              md-ink-ripple="#8f6700"
              ng-click="next()"
              ng-disabled="profileForm.$invalid"
              style="
                font-size: 2rem;
                padding: .4rem 1.2rem;
                margin-left: 0;
              "
            >
              Volgende
            </md-button>
          </p>
        </form>

        <form
          ng-if="step === 1"
          style="position: absolute; top: 0; left: 0; right: 0;"
          class="mywheels-form smooth-slide-appear"
          name="extraInfoForm"
        >
          <div class="card mw">
            <div class="card-body">
              <h3>2/2 Extra gegevens</h3>
              <div class="row" style="padding-top: 2rem;">
                <div class="col-xs-12 col-sm-8">
                  <label class="surround">
                    <span class="lbl">Rijbewijsnummer</span>
                    <div class="form-group">
                      <input
                        style="height: 4rem;"
                        type="text"
                        name="driverLicenseNumber"
                        class="form-control fat"
                        ng-model="person.driverLicenseNumber"
                        ng-pattern="/^[0-9]+$/"
                        maxlength="10"
                        required
                      />
                    </div>
                    <div class="text-danger" ng-show="extraInfoForm.driverLicenseNumber.$touched && extraInfoForm.driverLicenseNumber.$error.required">
                      Dit veld is verplicht
                    </div>
                    <div class="text-danger" ng-show="extraInfoForm.driverLicenseNumber.$touched && extraInfoForm.driverLicenseNumber.$error.pattern">
                      Voer het 10-cijferige rijbewijsnummer in
                    </div>
                  </label>
                </div>
                <div class="col-xs-12 col-sm-4">
                  <label class="surround">
                    <span class="lbl">Verloopdatum rijbewijs</span>
                    <div class="form-group mw-datepicker mw-icon"
                        style="font-size: 1.111em;"
                        bootstrap-date-time-picker="dateConfig">
                      <ng-md-icon aria-hidden="true" icon="today"></ng-md-icon>
                      <input style="font-weight: 600;" type="text" autocomplete="off" name="licenseDateValidUntil" id="date" placeholder="Datum" required
                            ng-model="bladate"
                            ng-change="setLicenseDateValidUntil(extraInfoForm)" />
                    </div>
                    <div class="text-danger" ng-show="extraInfoForm.licenseDateValidUntil.$error.validAndFuture">
                      Voer een geldige toekomstige verloopdatum in
                    </div>
                  </label>
                </div>
              </div><!-- /.row -->

              <div class="row">
                <div class="col-xs-12">
                  <label class="surround">
                    <span class="lbl">Personeelsnummer</span>
                    <input
                      type="text"
                      name="externalIdentifier"
                      class="form-control fat"
                      ng-model="person.externalIdentifier"
                    />
                  </label>
                </div>
              </div><!-- /.row -->

            </div>
          </div><!-- /.card -->
          <p style="text-align: center;">
            <md-button
              class="mywheels-btn-call-to-action"
              md-ink-ripple="#8f6700"
              ng-click="next()"
              ng-disabled="extraInfoForm.$invalid"
              style="
                font-size: 2rem;
                padding: .4rem 1.2rem;
                margin-left: 0;
              "
            >
              Volgende
            </md-button>
          </p>
        </form>

        <div
          ng-if="step === 2"
          style="position: absolute; top: 0; left: 0; right: 0;"
          class="smooth-slide-appear"
        >
          <div class="card mw">
            <div class="card-body">
              <h3>Compleet!</h3>
              <p>Klaar</p>
            </div>
          </div><!-- /.card -->
        </div><!-- /step -->

      </div>
    </div><!-- /.col -->
  </div>

  <!-- TRIANGLE BAR HOME -->
  <div class="triangle--bar--home triangle--bar--home-lightgray"></div>
  <!-- /TRIANGLE BAR -->

  <div class="footer-logo-row text-center">
    <div class="container-home">
      <h2 class="footer-logo-row-header">Onze referenties</h2>
      <div class="row no-margin">
        <div class="col-xs-6 col-md-2"><img src="assets/img/media/de_volkskrant_logo.png"></div>
        <div class="col-xs-6 col-md-2"><img src="assets/img/media/nos_logo.png"></div>
        <div class="col-xs-6 col-md-2"><img src="assets/img/media/de_telegraaf_logo.png"></div>
        <div class="col-xs-6 col-md-2"><img src="assets/img/media/financieel_dagblad_logo.png"></div>
        <div class="col-xs-6 col-md-2"><img src="assets/img/media/bnr_nieuwsradio_logo.png"></div>
        <div class="col-xs-6 col-md-2"><img src="assets/img/media/het_parool_logo.png"></div>
      </div>
    </div>
  </div>
</div>