<form name="accountForm" ng-controller="PersonAccountController">
  <div class="row" ng-if="isAccountLoaded">
    <div class="col-xs-12">

      <p ng-bind="'PROFILE_IBAN_INTRO' | translate"></p>
      <div class="form-group">
        <label>
          {{ 'IBAN_ACCOUNT_OWNER' | translate }}
          <info-icon tooltip-html="'IBAN_ACCOUNT_OWNER_INFO' | translate"></info-icon>
        </label>

        <input type="text" class="form-control" name="iban" placeholder="Bijvoorbeeld A Jansen" ng-model="account.name" />
      </div>
      <div class="form-group">
        <label>
          {{ 'IBAN_NUMBER' | translate }}
          <info-icon tooltip-html="'IBAN_NUMBER_INFO' | translate"></info-icon>
        </label>
        <input type="text" class="form-control" name="iban" placeholder="Bijvoorbeeld op de volgende manier: NL29RABO0159955734" ng-model="account.iban" />
      </div>

      <button type="button" class="btn btn-primary" ng-click="save(account)"
        ng-disabled="isAccountSaving || accountForm.$pristine">{{ 'SAVE' | translate }}</button>
      &nbsp;
      <inline-spinner ng-if="isAccountSaving" />
      <i class="fa fa-check text-success" ng-if="isAccountSaved"></i>

    </div>
  </div>
  <div ng-if="!isAccountLoaded">
    <spinner ng-if="isAccountLoading" />
    <span ng-if="!isAccountLoading">
      Deze gegevens zijn tijdelijk niet beschikbaar
    </span>
  </div>
</form>
