
<div class="slider" style="padding: 3rem 0;">
    <div class="container container-transitional">
        <div class="row">
            <div class="rpad col-md-12">
                <h2 class="ratings--heading">Sluit je aan bij 60.000 autodelers</h2>
            </div>
        </div>

        <div class="row">
            <div class="rpad col-xs-12">
                <div class="ratings--average text-center">
                    <span class="ratings--average--stars">
                        <ng-md-icon icon="star" aria-hidden="true" class="rating--title--icon"></ng-md-icon>
                        <ng-md-icon icon="star" aria-hidden="true" class="rating--title--icon"></ng-md-icon>
                        <ng-md-icon icon="star" aria-hidden="true" class="rating--title--icon"></ng-md-icon>
                        <ng-md-icon icon="star" aria-hidden="true" class="rating--title--icon"></ng-md-icon>
                        <ng-md-icon icon="star_half" aria-hidden="true" class="rating--title--icon grey-star"></ng-md-icon>
                        <span class="ratings--average--text"><strong>8.1</strong><small> / 10</small></span>
                        <br/>
                        Gebaseerd op 70 beoordelingen bij <a href="https://kiyoh.nl/mywheels/" target="_blank">Kiyoh</a>
                    </span>
                </div>
            </div>

            <div class="rpad col-xs-12">
                <div class="ratings">
                    <div class="rating">
                        <div layout="row">
                            <span class="rating--title--stars">
                                <ng-md-icon icon="star" aria-hidden="true" class="rating--title--icon"></ng-md-icon>
                                <ng-md-icon icon="star" aria-hidden="true" class="rating--title--icon"></ng-md-icon>
                                <ng-md-icon icon="star" aria-hidden="true" class="rating--title--icon"></ng-md-icon>
                                <ng-md-icon icon="star" aria-hidden="true" class="rating--title--icon"></ng-md-icon>
                                <ng-md-icon icon="star_half" aria-hidden="true" class="rating--title--icon"></ng-md-icon>
                            </span>
                            <span class="rating--title--text">
                                <h3>9</h3>
                            </span>
                        </div>
                        <p class="rating--content">Duidelijke instructies via de mail. Informatie is helder. Erg handig in het gebruik. Was de eerste keer, en zeker voor herhaling vatbaar!</p>
                        <p class="rating--sender"><strong>Marlies</strong> uit Utrecht op 12 februari 2018</p>
                    </div>

                    <div class="rating">
                        <div layout="row">
                            <span class="rating--title--stars">
                                <ng-md-icon icon="star" aria-hidden="true" class="rating--title--icon"></ng-md-icon>
                                <ng-md-icon icon="star" aria-hidden="true" class="rating--title--icon"></ng-md-icon>
                                <ng-md-icon icon="star" aria-hidden="true" class="rating--title--icon"></ng-md-icon>
                                <ng-md-icon icon="star" aria-hidden="true" class="rating--title--icon"></ng-md-icon>
                                <ng-md-icon icon="star" aria-hidden="true" class="rating--title--icon"></ng-md-icon>
                            </span>
                            <span class="rating--title--text">
                                <h3>10</h3>
                            </span>
                        </div>
                        <p class="rating--content">Al jaren lid en alleen maar positieve ervaringen gehad! Groot aanbod van auto's met MyWheels Open in mijn woonplaats, heel behulpzame medewerkers en ook nog erg voordelig geprijsd. Laatste jaar veel van particulieren gehuurd, ook dit werkt vlekkeloos. Dankzij MyWheels hebben we geen eigen auto nodig.</p>
                        <p class="rating--sender"><strong>Marcel</strong> uit Houten op 7 oktober 2017</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>