<md-dialog flex-xs="90" flex-sm="60" flex-md="50" flex-lg="30" flex-xl="25"
           style="overflow: visible; position: absolute; top: 10px;">

  <md-toolbar>
    <div class="md-toolbar-tools">
      <h2>
        <ng-md-icon icon="access_time"></ng-md-icon>
        <span ng-if="blocking.id" class="modal-title">{{ 'EDIT_BLOCKING' | translate }}</span>
        <span ng-if="!blocking.id" class="modal-title">{{ 'CREATE_BLOCKING' | translate }}</span>
      </h2>
      <span flex></span>
      <md-button class="md-icon-button" ng-click="hide()">
        <ng-md-icon icon="close"></ng-md-icon>
      </md-button>
    </div>
  </md-toolbar>

  <md-dialog-content class="md-dialog-content"
                     style="overflow: visible; padding: 14px;">
    <timeframe-picker name="timeframe"
                      pickup-date-time="blocking.start"
                      return-date-time="blocking.until"
                      mobile-autoscroll="false"
                      disable-time-fields="blocking.allDay">
    </timeframe-picker>

    <md-checkbox class="md-primary" ng-model="blocking.allDay" aria-label="{{ 'ALL_DAY' | translate }}">
      {{ 'ALL_DAY' | translate }}
    </md-checkbox>

    <md-checkbox class="md-primary" ng-if="!blocking.id" ng-model="blocking.repeat" aria-label="{{ 'REPEAT_BLOCKING' | translate }}">
      {{ 'REPEAT_BLOCKING' | translate }}
    </md-checkbox>

  </md-dialog-content>
  
  <md-dialog-actions layout="row">
    <md-button ng-if="blocking.id" ng-click="remove()" class="md-raised md-primary mw-red">Verwijderen</md-button>
    <md-button ng-click="hide()">Annuleren</md-button>
    <md-button ng-click="accept()" class="md-raised md-primary mw-green">OK</md-button>
  </md-dialog-actions>

</md-dialog>