<div class="home landing landing-open">
    <!-- SEARCHBAR -->
    <div class="hero inverted text-center">
        <div class="hero-overlay"></div>
        <div class="landing-title">
            <h1><span class="highlight">Verhuur je auto, ook als je niet thuis bent</span></h1>
            <!--<p class="sub">Dus geen gedoe met sleutels. Makkelijk toch?</p>-->
            <a class="mywheels-btn mywheels-btn-bigger mywheels-btn-call-to-action"
                    md-ink-ripple="#8f6700"
                    href="#aanmeldformulier"
                    ng-click="$anchorScroll('aanmeldformulier')">
                Meld je nu aan
                <span style="position: relative; bottom: -.1em; right: -.4em;">〉</span>
            </a>
        </div>
    </div>
    <!-- /SEARCHBAR -->

    <!-- TRIANGLE BAR HOME -->
    <div class="triangle--bar--home triangle--bar--home-white"></div>
    <!-- /TRIANGLE BAR -->

    <div class="discount-action-badges">
        <div class="discount-action-badge">
            <div class="b" ng-click="$anchorScroll('gratisjaar')">
                <div class="text">
                    <div>1 jaar</div>
                    <div class="gratis">gratis</div>
                    <div>in Amsterdam, Den Haag en Utrecht</div>
                </div>
            </div>
        </div>
    </div>

   
    <!-- ABOUT MYWHEELS OPEN -->
    <div class="container-fluid
                container-home
                wat-is-mywheels-open">
        <div class="col-md-12">
            <h2>Wat is <span style="white-space: nowrap;"><img title="MyWheels Open" alt="MyWheels Open" ng-src="assets/img/mywheels-open.png" />?</span></h2>
            <p class="subtitle">
                Verhuur je auto op afstand wanneer je wilt, hoe lang je wilt.
                De huurder opent jouw auto met zijn smartphone, dus geen gedoe met sleutels.
            </p>
        </div>
    </div>

    <!-- RENTER CALL TO ACTION -->
    <div class="renter--actions">
        <div class="renter--action">
            <section>
                <h2>Wat heb je er aan?</h2>
                <div class="size-2">
                    <ul>
                        <li>
                            <ng-md-icon size="32" icon="check" aria-hidden="true"></ng-md-icon>
                            Je verdient de vaste kosten van de auto terug.
                        </li>
                        <li>
                            <ng-md-icon size="32" icon="check" aria-hidden="true"></ng-md-icon>
                            Je verhuurt je auto vaker, omdat je niet thuis hoeft te zijn.
                        </li>
                        <li>
                            <ng-md-icon size="32" icon="check" aria-hidden="true"></ng-md-icon>
                            Je helpt zowel je buren, als je vrienden, als het milieu.
                        </li>
                    </ul>
                </div>
            </section>
            <div class="renter--action--image"></div>
        </div>
    </div>
    <!-- /RENTER CALL TO ACTION -->

    <!-- OWNER CALL TO ACTION -->
    <div class="owner--actions">
        <div class="owner--action">
            <section>
                <h2>Hoe werkt het precies?</h2>
                <div class="size-2">
                    <p>Aansluiten bij MyWheels Open gaat heel makkelijk:</p>
                    <ul>
                        <li>
                            <span class="n">1.</span>
                            Je meldt je aan
                        </li>
                        <li>
                            <span class="n">2.</span>
                            Jij bepaalt wanneer en hoe lang je je auto wilt verhuren
                        </li>
                        <li>
                            <span class="n">3.</span>
                            Iemand uit de buurt huurt jouw auto via de website
                        </li>
                        <li>
                            <span class="n">4.</span>
                            Wij regelen de rest
                        </li>
                    </ul>
                    <p>Wist je dat er al 65.000 autodelers zijn?</p>
                </div>
            </section>
            <div class="owner--action--image"></div>
        </div>
    </div>
    <!-- /OWNER CALL TO ACTION -->

    <!-- WIL JE MEEDOEN? -->
    <div class="container-fluid
                container-home
                landing-section">
        <div class="col-md-12">
            <h2>Wil jij ook meedoen? Zo meld je je aan</h2>

            <div class="open-steps">
                <div class="step">
                    <div class="circle"><ng-md-icon size="50" icon="create"></ng-md-icon></div>
                    <div class="step-label">Aanmelden</div>
                    <p class="size-2">Is je auto jonger dan 10 jaar? Meld je dan aan via deze website.</p>
                </div>
                <div class="line"></div>
                <div class="step">
                    <div class="circle"><ng-md-icon size="50" icon="directions_car"></ng-md-icon></div>
                    <div class="step-label">Installeren</div>
                    <p class="size-2">We kijken of je auto geschikt is. Vervolgens maken we een afspraak om MyWheels Open te installeren.</p>
                </div>
                <div class="line"></div>
                <div class="step">
                    <div class="circle"><ng-md-icon size="50" icon="euro_symbol"></ng-md-icon></div>
                    <div class="step-label">Verdienen</div>
                    <p class="size-2">Begin met verhuren en krijg je opbrengsten uitbetaald.</p>
                </div>
            </div>
        </div>
    </div>
    <!-- /WIL JE MEEDOEN? -->

    <!-- IK DOE MEE! -->
    <div class="container container-transitional
                mywheels-ik-doe-mee">
        <div class="rpad col-sm-8">
            <div id="aanmeldformulier" style="padding-top: 1em;">
                <div class="aanmeldformulier">
                    <h2>Meld je nu aan</h2>
                    <div class="form-surround">
                        <p class="size-2">
                            Geen zorgen. Je zit nergens aan vast. We checken eerst of je auto geschikt is. Daarna nemen we contact met je op.
                        </p>
                        <form name="form" class="mywheels-form">

                            <div class="form-group">
                                <input type="text"
                                       name="first_name"
                                       ng-model="formEntry.firstName"
                                       md-select-on-focus
                                       required="true"
                                       placeholder="Initialen / voornaam" />
                                <div ng-show="form.$submitted || form.first_name.$touched">
                                  <div class="text-danger" ng-show="form.first_name.$error.required">Vul ajb je initialen of voornaam in.</div>
                                </div>
                            </div>
                            <div class="form-group">
                                <input type="text"
                                       name="surname"
                                       ng-model="formEntry.surname"
                                       md-select-on-focus
                                       required="true"
                                       placeholder="Achternaam" />
                                <div ng-show="form.$submitted || form.surname.$touched">
                                  <div class="text-danger" ng-show="form.surname.$error.required">Vul ajb je achternaam in.</div>
                                </div>
                            </div>
                            <div class="form-group">
                                <input type="email"
                                       name="email"
                                       ng-model="formEntry.email"
                                       md-select-on-focus
                                       required="true"
                                       placeholder="Email" />
                                <div ng-show="form.$submitted || form.email.$touched">
                                  <div class="text-danger" ng-show="form.email.$error.required || form.email.$error.email">Vul ajb een email-adres in.</div>
                                </div>
                            </div>
                            <div class="form-group">
                                <input type="text"
                                       name="city"
                                       ng-model="formEntry.city"
                                       md-select-on-focus
                                       required="true"
                                       placeholder="Stad" />
                                <div ng-show="form.$submitted || form.city.$touched">
                                  <div class="text-danger" ng-show="form.city.$error.required">Vul ajb je stad in.</div>
                                </div>
                            </div>
                            <div class="form-group">
                                <input type="text"
                                       name="registration_plate"
                                       ng-model="formEntry.registrationPlate"
                                       md-select-on-focus
                                       required="true"
                                       ng-pattern="/^[a-zA-Z0-9- ]+$/"
                                       placeholder="Kenteken" />
                                <div ng-show="form.$submitted || form.registration_plate.$touched">
                                  <div class="text-danger" ng-show="form.registration_plate.$error.required">Vul ajb het kentekenbewijs van je auto in. Zo kunnen we checken of je auto in aanmerking komt.</div>
                                  <div class="text-danger" ng-show="form.registration_plate.$error.pattern">Dit lijkt niet een valide kentekenbewijs te zijn.</div>
                                </div>
                            </div>
                            <div class="form-group">
                                <input type="text"
                                       name="phone_number"
                                       ng-model="formEntry.phoneNumber"
                                       md-select-on-focus
                                       required="true"
                                       valid-phone-number
                                       placeholder="Telefoonnummer" />
                                <div ng-show="form.$submitted || form.phone_number.$touched">
                                  <div class="text-danger" ng-show="form.phone_number.$error.required">Vul ajb een telefoonnummer in. Zo kunnen we je bereiken.</div>
                                  <div class="text-danger" ng-show="form.phone_number.$error.validPhoneNumber">Dit lijkt niet een valide telefoonnummer te zijn. Graag een telefoonnummer invoeren met enkel nummers, spaties en streepjes en haakjes, dat tussen de 5 en 20 tekens lang is.</div>
                                </div>
                            </div>
                            <div class="form-group">
                                <input type="text"
                                       name="km_stand"
                                       ng-model="formEntry.kmStand"
                                       md-select-on-focus
                                       required="true"
                                       placeholder="Huidge KM stand auto" />
                            </div>

                            <p class="w-submit-button">
                                <button type="submit"
                                        ng-click="submit()"
                                        class="mywheels-btn mywheels-btn-call-to-action"
                                        md-ink-ripple="#8f6700">
                                    Ja, ik doe mee <span style="position: relative; bottom: -.1em; right: -.4em;">〉</span>
                                </button>
                            </p>
                            <p class="size-2" style="text-align: center; font-style: italic;">
                                <a href="/signup" ui-sref="owm.auth.signup">Of meld je aan zonder MyWheels Open</a>
                            </p>
                            <p class="voorwaarden-akkoord">Wil je meer weten? Neem dan ook alvast even de <a target="_blank" href="https://mywheels.nl/autodelen/wp-content/uploads/2019/05/MyWheelsOpenvoorwaardenmei2019.pdf">voorwaarden van MyWheels Open</a> door.</p>
                        </form>
                        <div class="form-overlay form-sending" ng-if="formSendStatus === 'sending'">
                            <md-progress-circular md-mode="indeterminate" md-diameter="96"></md-progress-circular>
                        </div>
                        <div class="form-overlay form-submitted" ng-if="formSendStatus === 'success'">
                            <div class="size-2" style="font-weight: bold;">
                                <p><ng-md-icon icon="check" size="40" style="width: 20px; height: 40px;"></ng-md-icon></p>
                                <p>Bedankt voor de interesse!</p>
                                <p>We nemen spoedig contact met je op.</p>
                            </div>
                        </div>
                        <div class="form-overlay form-error" ng-if="formSendStatus === 'error'">
                            <div class="size-2">
                                <p><ng-md-icon icon="error" size="40" style="width: 20px; height: 40px;"></ng-md-icon></p>
                                <p>
                                    Het spijt ons heel erg, maar er is iets misgegaan bij het versturen van het formulier.
                                    Je kunt in plaats hiervan een mailtje sturen naar <a href="support@mywheels.nl">support@mywheels.nl</a>.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="rpad col-sm-4">
            <div id="gratisjaar" style="padding-top: 1em;">
                <div class="gratisjaar">
                    <h2>1 jaar gratis</h2>
                    <div class="size-2">
                        <p>Woon je in Amsterdam, Den Haag en provincie Utrecht? Dan kost dit je het eerste jaar niks!</p>
                        <p><a target="_blank" href="https://mywheels.nl/autodelen/wp-content/uploads/2019/05/MyWheelsOpenvoorwaardenmei2019.pdf">Lees de voorwaarden</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /IK DOE MEE! -->

    <!-- ADAVANTAGES -->
    <div class="advantage-mywheels">
        <div class="container container-transitional">
            <div class="row">
                <div class="rpad col-md-12">
                    <h2 class="infoboxes--heading">Dit wil je misschien ook nog weten</h2>
                </div>
            </div>

            <div class="row is-flex">
                <div class="rpad col-sm-6">
                    <div class="infobox">
                        <div layout="row" layout-align="start center" layout-margin class="infobox--title">
                            <ng-md-icon size="32" icon="directions_car" aria-hidden="true"></ng-md-icon>
                            <h3 class="infobox--title--text">Zo kan je veilig verhuren</h3>
                        </div>
                        <div class="size-2">
                            <p>Wij regelen een all-risk verzekering bij Centraal Beheer voor de duur van de huur. Zo kan je met een gerust hart je auto verhuren.</p>
                            <p>Dit verzekering vervangt jouw eigen autoverzekering en beschermt je no-claim. De verzekering heeft ook een inzittendendekking.</p>
                        </div>
                    </div>
                </div>
                <div class="rpad col-sm-6">
                    <div class="infobox">
                        <div layout="row" layout-align="start center" layout-margin class="infobox--title">
                            <ng-md-icon size="32" icon="security" aria-hidden="true"></ng-md-icon>
                            <h3 class="infobox--title--text">Wat kost het jou?</h3>
                        </div>
                        <div class="size-2">
                            <p>Je auto aanbieden is gratis. Je betaalt geen vaste (abonnements)kosten.</p>
                            <p>Ga je voor MyWheels Open, dan plaatsen we een boardcomputer. Dat kost €29 per maand.</p>
                            <p>Voor autobezitters in Amsterdam, Den Haag en provincie Utrecht is het tijdelijk 1 jaar gratis.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row is-flex">
                <div class="rpad col-sm-6">
                    <div class="infobox">
                        <div layout="row" layout-align="start center" layout-margin class="infobox--title">
                            <ng-md-icon size="32" icon="contact_phone" aria-hidden="true"></ng-md-icon>
                            <h3 class="infobox--title--text">Wat verdienen wij eraan?</h3>
                        </div>
                        <div class="size-2">
                            <p>Bij verhuring van je auto vragen we een vergoeding van 2,50 euro per etmaal. Daarnaast betaal je 20% van de verhuuropbrengst voor de all-risk verzekering. De 20% geldt niet voor de brandstofkosten die huurder betaalt.</p>
                        </div>
                    </div>
                </div>
                <div class="rpad col-sm-6">
                    <div class="infobox">
                        <div layout="row" layout-align="start center" layout-margin class="infobox--title">
                            <ng-md-icon size="32" icon="call_split" aria-hidden="true"></ng-md-icon>
                            <h3 class="infobox--title--text">Dag en nacht hulp bij pech</h3>
                        </div>
                        <div class="size-2">
                            <p>Gebeurt er iets onderweg? 24 uur per dag staat er iemand voor je klaar om je uit de brand te helpen. Een telefoontje is genoeg, en als de auto niet meer verder kan, regelt de verzekering vervangend vervoer.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /ADVANTAGES -->

    <div ng-include="'partials/landing-ratings.tpl.html'"></div>

    <!-- TRIANGLE BAR HOME -->
    <div class="triangle--bar--home triangle--bar--home-lightgray"></div>
    <!-- /TRIANGLE BAR -->

    <div class="footer-logo-row text-center">
        <div class="container-home">
            <h2 class="footer-logo-row-header">In de media</h2>
            <div class="row no-margin">
                <div class="col-xs-6 col-md-2"><img src="assets/img/media/de_volkskrant_logo.png" /></div>
                <div class="col-xs-6 col-md-2"><img src="assets/img/media/nos_logo.png" /></div>
                <div class="col-xs-6 col-md-2"><img src="assets/img/media/de_telegraaf_logo.png" /></div>
                <div class="col-xs-6 col-md-2"><img src="assets/img/media/financieel_dagblad_logo.png" /></div>
                <div class="col-xs-6 col-md-2"><img src="assets/img/media/bnr_nieuwsradio_logo.png" /></div>
                <div class="col-xs-6 col-md-2"><img src="assets/img/media/het_parool_logo.png" /></div>
            </div>
        </div>
    </div>
</div>
<!-- close home -->