<div ng-repeat="rating in person.ratings">
  <div class="personRating">

    <div layout="row" layout-wrap>
      
      <div flex="15" flex-xs="30" class="img-user">
        <a ui-sref="member({ personId: rating.sender.id })">
          <img class="media-object img-user-normal pull-left" person-profile-image="{ person: rating.sender, size: 'normal' }" />
        </a>
      </div>

      <div flex="85" flex-xs="70">
        <div class="reviewer">

          <div class="thumb">
            <span rating-thumb-binary="{ value : rating.satisfaction }"></span>
          </div>

          <div>
            <strong>{{ rating.sender.firstName | toTitleCase }}</a></strong>
            <br>
            <span class="text-muted" am-time-ago="rating.created"></span>
          </div>

          <div class="review">
            <span>{{ rating.review}}</span>
          </div>

        </div>
      </div>
    </div>

  </div>
</div>