<div class="voucher">
    <table class="financial">
        <tbody>
            <tr>
                <td style="width:100%">
                    <huurkosten-line resource="booking.resource" price="booking.details.booking_price" ng-if="booking.details"></huurkosten-line>
                    <div class="discount-line" ng-if="booking.details && booking.details.booking_price.discount_rent">
                      - incl. {{ booking.details.booking_price.discount_rent | currency }} korting
                    </div>

                    <span ng-if="!booking.details">Huur</span> <!-- still loading -->
                </td>
                <td class="text-right">{{ booking.details.booking_price.rent | currency }}</td>
            </tr>
            <tr class="bt">
                <td>
                    Boekingskosten
                    <div class="discount-line" ng-if="booking.details && booking.details.booking_price.discount_booking_fee">
                      - incl. {{ booking.details.booking_price.discount_booking_fee | currency }} korting
                    </div>
                </td>
                <td class="text-right">{{ booking.details.booking_price.booking_fee | currency }}</td>
            </tr>
            <tr class="bt"
                ng-if="readOnlyMode">
                <td>
                    <span ng-if="booking.details.riskReduction">Eigen risico verlaagd</span>
                    <span ng-if="!booking.details.riskReduction">Eigen risico niet verlaagd</span>
                </td>
                <td class="text-right">{{ booking.details.booking_price.redemption | currency }}</td>
            </tr>
            <tr class="bt"
                ng-if="readOnlyMode &&
                       booking.details.contract_type === 60">
                <td>
                    Extra bestuurders
                </td>
                <td class="text-right">{{ extraDrivers.check ? (extraDrivers.price * extraDrivers.drivers.length) : 0 | currency }}</td>
            </tr>
            <tr ng-if="!readOnlyMode">
                <td style="padding: 0;" colspan="2">
                    <div class="pricing-options">
                        <table>
                            <!-- Own risk reduction -->
                            <tr>
                                <td>
                                    <div class="media">
                                        <div class="media-object pull-left">
                                            <input id="bookingRiskReduction" type="checkbox" ng-disabled="redemptionPending[booking.details.id]" ng-model="booking.details.riskReduction" ng-click="toggleRedemption()" />
                                        </div>
                
                                        <div class="media-body" style="padding:0">
                                            <p>
                                                <label class="mywheels-form__label mywheels-form__label--no-margin" for="bookingRiskReduction">Eigen risico verlagen</label><br />
                                                Het eigen risico bij schade is 500 euro. Voor 3,50 euro per dag verlaag je het eigen risico met 250 euro.
                                                <a href="https://mywheels.nl/autodelen/hoe-huren-werkt/verzekering/" target="_blank">Lees meer</a>
                                            </p>
                                            <p class="text-danger" ng-show="voucherError.show">
                                                {{'PERSON.CONTRACT.OWN_RISK_NOT_ALLOWED' | translate }}
                                                <a ui-sref="contractchoice">{{'PERSON.CONTRACT.CHANGE_CONTRACT' | translate }}</a>
                                            </p>
                                        </div>
                                    </div>
                                </td>
                
                                <td class="text-right">
                                    <inline-spinner ng-if="redemptionPending[booking.details.id]" />
                                    <span ng-if="!redemptionPending[booking.details.id]">{{ booking.details.booking_price.redemption | currency }}</span>
                                </td>
                            </tr>
                
                            <!-- Extra driver -->
                            <tr ng-if="booking.details.contract_type === 60">
                                <td>
                                    <div class="media">
                                        <div class="media-object pull-left">
                                            <input type="checkbox" ng-model="extraDrivers.check" ng-click="toggleExtraDrivers(undefined, $event)" id="extraDriversCheck" />
                                        </div>
                
                                        <div class="media-body" style="padding:0">
                                            <form style="margin: 0"
                                                class="mywheels-form"
                                                name="formExtraDriver"
                                                ng-submit="formExtraDriver.$valid && addExtraDriver()"
                                                novalidate
                                            >
                                                <p>
                                                    <label class="label--no-margin" for="extraDriversCheck">Extra bestuurders toevoegen</label><br />
                                                    Voor 1,25 euro per persoon kun je bestuurders toevoegen. Alleen toegevoegde bestuurders mogen rijden.
                                                </p>
                                                
                                                <div ng-if="extraDrivers.check">
                                                    <ul class="list-group" ng-if="extraDrivers.drivers.length > 0">
                                                        <!-- persons -->
                                                        <li class="list-group-item"
                                                            ng-class="'status-' + inviteRequest.status"
                                                            ng-repeat="inviteRequest in extraDrivers.drivers"
                                                        >
                                                            <a href="#" class="pull-right hidden-xs" ng-if="inviteRequest.recipient.id" ng-click="removeExtraDriver(inviteRequest)">{{ 'REMOVE' | translate }}</a>
                                                            <div ng-if="inviteRequest.status === 'accepted'">
                                                                <div><strong class="text-success">Geaccepteerd</strong></div>
                                                                <div><strong>{{ inviteRequest.recipient.firstName }} {{ inviteRequest.recipient.preposition }} {{ inviteRequest.recipient.surname }}</strong> &lt;{{ inviteRequest.recipient.email }}&gt;</div>
                                                                <div><em>Mag meerijden en boekingen maken op dit contract.</em></div>
                                                            </div>
                                                            <div ng-if="inviteRequest.status === 'invited'">
                                                                <div><strong class="text-warning">Uitgenodigd</strong></div>
                                                                <div>&lt;{{ inviteRequest.recipient.email }}&gt;</div>
                                                                <div><em>Let op: pas als de uitnodiging is geaccepteerd mag deze gebruiker meerijden op dit contract.</em></div>
                                                            </div>
                                                            <div class="visible-xs-block" style="text-align: right;">
                                                                <a href="#" ng-if="inviteRequest.recipient.id" ng-click="removeExtraDriver(inviteRequest)">{{ 'REMOVE' | translate }}</a>
                                                            </div>
                                                        </li>
                                                    </ul>

                                                    <div class="input-group" style="width: 100%;"
                                                        ng-class="{ 'has-error' : formExtraDriver.email.$error.email }"
                                                        ng-show="extraDrivers.drivers.length < 3"
                                                    >
                                                        <input type="email"
                                                            ng-disabled="extraDrivers.drivers.length >= 3"
                                                            required
                                                            name="email"
                                                            class="form-control"
                                                            placeholder="Emailadres medebestuurder"
                                                            ng-focus="toggleExtraDrivers(true)"
                                                            ng-blur="(extraDrivers.new && formExtraDriver.$valid) || toggleExtraDrivers(false)"
                                                            ng-model="extraDrivers.new" />
                                                        
                                                        <div class="input-group-btn">
                                                        <button class="btn btn-default"
                                                            ng-disabled="formExtraDriver.email.$error.required || formExtraDriver.email.$error.email"
                                                            ng-click="addPerson($index)">{{ 'ADD' | translate }}</button>
                                                        </div>
                                                    </div>
                                                    <p ng-show="extraDrivers.drivers.length === 3">
                                                        Je hebt het maximum aantal van 3 medebestuurders toegevoegd.
                                                    </p>
                                                </div>

                                            </form>
                                        </div>
                                    </div>
                                </td>

                                <td class="text-right">
                                    <span>{{ extraDrivers.check ? (extraDrivers.price * extraDrivers.drivers.length) : 0 | currency }}</span>
                                </td>
                            </tr>
                            <!-- //EXTRA DRIVER -->
                        </table>
                    </div>
                </td>
            </tr>

            <tr ng-class="{ bt: readOnlyMode }">
                <td>
                    <div>
                        Kilometerkosten
                        <a class="km" href="#"
                            ng-if="booking.details"
                            info-dialog="schatJeRitPrijs"
                            info-dialog-params="{
                              resource: booking.resource,
                              booking: booking,
                              price: booking.details.booking_price,
                              controller: estimateDialogController,
                            }" >{{ booking.details.booking_price.estimate_km_total }} km</a>
                    </div>

                    <div class="discount-line" ng-if="booking.details && booking.details.booking_price.discount_per_km">
                        - incl. {{ booking.details.booking_price.discount_per_km | currency }} korting per km
                    </div>
                    <div class="discount-line" ng-if="booking.details && booking.details.booking_price.discount_km_points_included">
                        - incl. {{ booking.details.booking_price.discount_km_points_included | currency }} beheerdersvergoeding
                    </div>
                </td>
                <td class="text-right">{{ booking.details.booking_price.km_price_rate | currency }}</td>
            </tr>

            <tr class="bt">
                <td>
                    <div>
                        Brandstof
                        <a class="km" href="#"
                            ng-if="booking.details"
                            info-dialog="schatJeRitPrijs"
                            info-dialog-params="{
                              resource: booking.resource,
                              booking: booking,
                              price: booking.details.booking_price,
                              controller: estimateDialogController,
                            }" >{{ booking.details.booking_price.estimate_km_total }} km</a>
                    </div>
                </td>
                <td class="text-right">{{ booking.details.booking_price.km_price_fuel | currency }}</td>
            </tr>

            <!--<tr><td colspan="2"><div class="line"></div></td></tr>-->

            <tr class="bt">
                <td>
                    <strong>{{ (booking.details.discount > 0 || booking.details.friend_invite_discount > 0) ? 'Totale huurkosten' : 'Totaal te betalen' }}</strong>
                    <ng-md-icon size="20" icon="info_italic" class="info-icon bg" info-dialog="schattingKilometerkosten" info-dialog-params="{ resource: booking.resource, title: (booking.details.discount > 0 || booking.details.friend_invite_discount > 0) ? 'Totale huurkosten' : 'Totaal te betalen' }"></ng-md-icon>
                </td>
                <td class="text-right">
                    <strong>{{ (booking.details.booking_price.total + booking.details.booking_price.km_price_rate + booking.details.booking_price.km_price_fuel) | currency }}</strong>
                </td>
            </tr>

            <tr class="bt" ng-if="booking.details.discount > 0">
                <td style="padding-top:25px">Af: korting</td>
                <td class="text-right" style="padding-top:25px">{{ booking.details.discount | currency }}</td>
            </tr>

            <tr class="bt" ng-if="booking.details.friend_invite_discount > 0">
                <td style="padding-top:25px">Af: korting van {{ me.invited.firstName | toTitleCase }}</td>
                <td class="text-right" style="padding-top:25px">{{ booking.details.friend_invite_discount | currency }}</td>
            </tr>

            <!--<tr ng-if="booking.details.discount > 0 || booking.details.friend_invite_discount > 0"><td colspan="2"><div class="line"></div></td></tr>-->

            <tr class="bt" ng-if="booking.details.discount > 0 || booking.details.friend_invite_discount > 0">
                <td>
                    <strong>Totaal te betalen</strong>
                </td>
                <td class="text-right">
                    <strong>{{ (booking.details.booking_price.total + booking.details.booking_price.km_price_rate + booking.details.booking_price.km_price_fuel - booking.details.discount - booking.details.friend_invite_discount) | currency }}</strong>
                </td>
            </tr>

        </tbody>
    </table>

    <div style="margin-top: 1rem;" ng-if="booking.cancelAfter && booking.approved !== 'OK' && booking.details.discount === 0 && booking.details.friend_invite_discount === 0 && !holidaytrip" class="text-danger">
        <span ng-if="blockedUntil > now">De auto is nog {{ minutesLeft }} minuten voor je geblokkeerd, daarna kunnen andere huurders de auto ook reserveren. Betaal direct om de reservering definitief te maken.</span>
        <span ng-if="blockedUntil < now">De auto is niet meer voor je geblokkeerd, andere huurders kunnen de auto ook reserveren. Betaal voor {{booking.cancelAfter | amDateFormat:'D MMMM YYYY HH:mm'}} om de reservering definitief te maken.</span>
    </div>

    <div class="voucher-overlay voucher-loading" ng-if="!booking.details">
        <md-progress-circular md-mode="indeterminate" md-diameter="96"></md-progress-circular>
    </div>
</div>