<div class="mw card">
  <!--
  <div class="card-heading">
    <h3>{{ 'MY_CONTRACTS' | translate }}</h3>
  </div>
  -->

  <div class="card-body" ng-if="isLoadingContracts">
    <spinner />
  </div>

  <div class="card-body" ng-show="!isLoadingContracts">

    <!-- own contracts -->

    <p ng-show="!ownContracts.length && !otherContracts.length">
      {{ 'PERSON.CONTRACT.LIST.NO_OWN_CONTRACTS' | translate }}
    </p>

    <div class="well" ng-show="ownContracts.length" ng-repeat="contract in ownContracts">
      <h4>{{ contract.type.name }}</h4>

      <p ng-if="!me.isBusinessConnected" hide-gt-xs></p>

      <span ng-if="ownContracts.length == 1 && !me.isBusinessConnected">
        <button class="btn btn-default" ui-sref="contractchoice">{{ 'PERSON.CONTRACT.CHANGE_CONTRACT' | translate }}</button>
      </span>

      <p ng-if="!me.isBusinessConnected" hide-gt-xs></p>

      <span ng-if="contract.type.id !== 60 && !me.isBusinessConnected">
        <button class="btn btn-default" ng-click="endContract($index)">{{ 'CONTRACT_END_ACTION' | translate }}</button>
      </span>

      <div id="edit_contract_button" ng-if="contract.type.id !== 60">
        <br>

        <form name="editForm">
          <div class="form-group">
            <label>{{ 'CONTRACT.PROP.OWNRISKWAIVER' | translate }}</label>
            <div class="radio" ng-if="contract.type.allowedReductions.indexOf('not') >= 0">
              <label>
              <input type="radio" value="not" ng-model="contract.ownRiskWaiver" />
                {{ 'CONTRACT.PROP.OWNRISKWAIVER.NOT.DESC' | translate }}<br/>
              </label>
            </div>

            <div class="radio">
              <label ng-if="contract.type.allowedReductions.indexOf('booking') >= 0">
                <input type="radio" value="booking" ng-model="contract.ownRiskWaiver" />
                <span>{{ 'CONTRACT.PROP.OWNRISKWAIVER.BOOKING.DESC' | translate }}<br/></span>
              </label>
            </div>

            <div class="radio">
              <label ng-if="contract.type.allowedReductions.indexOf('month') >= 0">
                <input type="radio" value="month" ng-model="contract.ownRiskWaiver" />
                <span>{{ 'CONTRACT.PROP.OWNRISKWAIVER.BOOKING.DESC_MONTH' | translate }}<br/></span>
              </label>
            </div>
          </div>
          <button class="btn btn-primary" ng-click="saveContract($index, editForm)" ng-disabled="busy || editForm.$pristine">
            {{ 'SAVE' | translate }}
          </button>
        </form>
      </div>

      <!-- edit_contract_button -->
      <div style="margin-top: 1.6rem;" id="add_person_to_contract" ng-if="contract.type.id !== 60" ng-init="getExtraDriverRequestsForContract(contract);">
        <p>
          <strong>{{ 'PERSON.CONTRACT.OTHER_CONTRACTS_PERSONS' | translate }}</strong>
        </p>
        <p style="text-align: center;" ng-if="contract.showLoaderSpinner">
          <spinner />
        </p>
        <p ng-if="!contract.showLoaderSpinner && contract.personsOnContracts.length === 0">
          Je hebt geen extra bestuurders uitgenodigd om mee te rijden op dit contract. Voer het email-adres in van een geregistreerde MyWheels lid om deze als medebestuurder uit te nodigen.
          <a href="https://mywheels.nl/autodelen/veelgestelde-vragen/iemand-anders-contract-gebruik-maken/">Wat is dit?</a>
        </p>
        <ul class="list-group" ng-if="contract.personsOnContracts.length > 0">
          <!-- persons -->
          <li class="list-group-item" ng-class="'status-' + inviteRequest.status" ng-repeat="inviteRequest in contract.personsOnContracts">
            <a href="#" class="pull-right hidden-xs" ng-if="inviteRequest.recipient.id" ng-click="removePerson(contract, inviteRequest.recipient)">{{ 'REMOVE' | translate }}</a>
            <div ng-if="inviteRequest.status === 'accepted'">
              <div><strong class="text-success">Geaccepteerd</strong></div>
              <div><strong>{{ inviteRequest.recipient.firstName }} {{ inviteRequest.recipient.preposition }} {{ inviteRequest.recipient.surname }}</strong> &lt;{{ inviteRequest.recipient.email }}&gt;</div>
              <div><em>Mag meerijden en boekingen maken op dit contract.</em></div>
            </div>
            <div ng-if="inviteRequest.status === 'invited'">
              <div><strong class="text-warning">Uitgenodigd</strong></div>
              <div>&lt;{{ inviteRequest.recipient.email }}&gt;</div>
              <div><em>Let op: pas als de uitnodiging is geaccepteerd mag deze gebruiker meerijden op dit contract.</em></div>
            </div>
            <div class="visible-xs-block" style="text-align: right;">
              <a href="#" ng-if="inviteRequest.recipient.id" ng-click="removePerson(contract, inviteRequest.recipient)">{{ 'REMOVE' | translate }}</a>
            </div>
          </li>
        </ul>

        <div class="text-center" style="margin-bottom: 20px;" ng-if="hasMoreToLoad">
          <button ng-click="loadMoreExtraDriverRequestsForContract(contract)" class="mywheels-btn mywheels-btn-normal mywheels-btn-big">
            <span ng-if="!contract.showLoaderSpinner">Laad meer</span>
            <inline-spinner ng-if="contract.showLoaderSpinner" />
          </button>
        </div>

        <form name="form">
          <div class="input-group" ng-class="{ 'has-error' : form.email.$error.email }">
            <input type="email" required name="email" class="form-control" placeholder="{{ 'EMAIL' | translate }}" ng-model="contract.emailToAdd" />
            <div class="input-group-btn">
              <button class="btn btn-default"
                ng-disabled="form.email.$error.required || form.email.$error.email"
                ng-click="addPerson($index)">{{ 'ADD' | translate }}</button>
            </div>
          </div>
        </form>
      </div>

    </div>

    <!-- other contracts -->
    <div ng-show="otherContracts.length">
      <h2>{{ 'PERSON.CONTRACT.OTHER_CONTRACTS' | translate }}</h2>

      <ul class="list-group">
        <li class="list-group-item" ng-repeat="contract in otherContracts">
          <h4>{{ contract.type.name }} <small>({{ contract.id }})</small></h4>
          <b>
            {{ contract.contractor.firstName }}
            {{ contract.contractor.preposition }}
            {{ contract.contractor.surname }}</b>&nbsp;&lt;{{ contract.contractor.email }}&gt;
        </li>
      </ul>
    </div>

  </div>
</div>