<div class="home landing landing-lease">
    <!-- SEARCHBAR
    <div class="hero inverted text-center">
        <div class="hero-overlay"></div>
        <div class="landing-title">
            <h1><span class="highlight">De lease-auto die zichzelf terugverdient</span></h1>
            <a
                class="mywheels-btn mywheels-btn-bigger mywheels-btn-call-to-action"
                md-ink-ripple="#8f6700"
                href="#aanmeldformulier"
                smooth-scroll-to-item="#aanmeldformulier"
            >
                Meld je nu aan
                <span style="position: relative; bottom: -.1em; right: -.4em;">〉</span>
            </a>
        </div>
    </div>
    /SEARCHBAR -->

    <div style="
        background-image: url('/assets/img/photo/opening_car_large_2.jpg');
        background-size: cover;
        background-position: 50% 15%;
        position: relative;
    ">
        <div style="position: absolute; top: 0; left: 0; right: 0; bottom: 0; background: rgba(41, 21, 6, 0.4)"></div>
        <div class="container container-transitional">
            <div class="row" style="padding: 12rem 0 12rem 0">
                <div class="rpad col-md-6">
                    <div>
                        <p>
                            <img ng-src="assets/img/mywheels-business-textwhite.png" height="32" />
                        </p>
                        <h1 style="margin: 2rem 0 3rem; color: white;">Het hele MyWheels platform ter beschikking</h1>
                        <p class="size-3 text-white">
                            Je hoeft het wiel niet opnieuw uit te vinden: laat al je medewerkers meerijden op één contract.
                        </p>
                        <p style="margin-top: 3rem;">
                            <md-button
                                hide-xs
                                class="mywheels-btn-call-to-action app--toolbar--button--text"
                                md-ink-ripple="#8f6700"
                                href="#aanmeldformulier"
                                smooth-scroll-to-item="#aanmeldformulier"
                                style="
                                    font-size: 2rem;
                                    padding: .4rem 1.2rem;
                                    margin-left: 0;
                                "
                            >
                                <span>Kies deze contractvorm &raquo;</span>
                            </md-button>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container container-transitional">
        <div class="row" style="padding: 5rem 0;">
            <div class="rpad col-md-6" style="padding: 12rem 3rem 0;">
                <h2 style="
                    font-size: 2.6rem;
                    color: #333;
                ">Gemakkelijk op weg</h2>
                <p class="size-3">
                    Medewerkers kunnen auto's direct reserveren, openen en sluiten via MyWheels.nl en de MyWheels app voor Android en iOS / iPhone.
                </p>
                <p class="size-3" style="text-align: center;">
                    <ng-md-icon icon="phone_android" size="28" style="color: #555; height: 28px; width: 28px;"></ng-md-icon>
                    <ng-md-icon icon="tablet" size="42" style="color: #555; height: 42px; width: 42px; margin: 0 2rem;"></ng-md-icon>
                    <ng-md-icon icon="laptop" size="60" style="color: #555; height: 60px; width: 60px;"></ng-md-icon>
                </p>
            </div>
            <div class="rpad col-md-6">
                <img class="img-responsive" ng-src="assets/img/screens/make_reservation_3.png" />
            </div>
        </div>

        <div class="row" style="padding: 5rem 0;">
            <div class="rpad col-md-6">
                <img class="img-responsive" ng-src="assets/img/screens/resource_calendar_4.png" />
            </div>
            <div class="rpad col-md-6" style="padding: 12rem 3rem 0;">
                <h2 style="
                    font-size: 2.6rem;
                    color: #333;
                ">Eenvoudige administratie</h2>
                <p class="size-3">
                    Medewerkers kunnen worden toegevoegd en verwijderd als gebruikers van auto's.
                    Rapportages meteen te downloaden over ritgegevens zoals datum, gebruikers, personeelsnummers en kilometers.
                </p>
            </div>
        </div>
    </div>

    <div class="container container-transitional">
        <div class="row">
            <div class="rpad col-xs-12">
                <h2 id="hoe_werkt_het" style="padding: 3rem 0; text-align: center; color: #333;">Hoe werkt MyWheels Business?</h2>
            </div>
            <div class="rpad col-sm-6 size-3">
                <p>
                    MyWheels bestaat al sinds 1996, en sinds 2010 zijn we gebruik gaan maken van boordcomputers in onze auto's, zodat de gebruiker zonder sleuteloverdracht gemakkelijk op weg kan. Ons autodeelplatform is een bewezen success, en daarom bieden we het nu graag aan als service aan bedrijven en organisaties die een groene stap willen zetten.
                </p>
            </div>
            <div class="rpad col-sm-6 size-3">
                <p>
                    Bij MyWheels Business kunnen de medewerkers van jouw bedrijf gemakkelijk bedrijfsauto's reserveren via ons autodeelplatform.
                    Dit reserveren kan gemakkelijk via de website, of een van onze apps. Een auto kan vervolgens ook via de website, of de app, geopend worden. Zo hoef je geen sleuteladministratie meer te doen.
                </p>
            </div>
        </div>
    </div>
    <!-- /WIL JE MEEDOEN? -->


    <!-- IK DOE MEE! -->
    <div class="container container-transitional">
        <div class="rpad col-xs-12" style="text-align: center;">
            <h2 id="aanmeldformulier" style="color: #333; padding-top: 5rem;">Neem contact op</h2>
            <p class="size-2">
                Geïnteresseerd? Vul hieronder je gegevens in en we nemen vrijblijvend contact met je op.
            </p>
        </div>
    </div>
    <div
        class="container container-transitional
                mywheels-ik-doe-mee"
        style="padding-top: 0;"
    >
        <div class="rpad col-sm-8 col-sm-offset-2">
            <div style="padding-top: 1em;">
                <div class="aanmeldformulier">
                    <div class="form-surround">
                        <form name="form" class="mywheels-form">

                            <div class="form-group">
                                <input type="text"
                                       name="first_name"
                                       ng-model="formEntry.firstName"
                                       md-select-on-focus
                                       required="true"
                                       placeholder="Initialen / voornaam" />
                                <div ng-show="form.$submitted || form.first_name.$touched">
                                  <div class="text-danger" ng-show="form.first_name.$error.required">Vul je initialen of voornaam in.</div>
                                </div>
                            </div>
                            <div class="form-group">
                                <input type="text"
                                       name="surname"
                                       ng-model="formEntry.surname"
                                       md-select-on-focus
                                       required="true"
                                       placeholder="Achternaam" />
                                <div ng-show="form.$submitted || form.surname.$touched">
                                  <div class="text-danger" ng-show="form.surname.$error.required">Vul je achternaam in.</div>
                                </div>
                            </div>
                            <div class="form-group">
                                <input type="text"
                                       name="zipcode"
                                       ng-model="formEntry.zipcode"
                                       md-select-on-focus
                                       required="true"
                                       placeholder="Postcode" />
                                <div ng-show="form.$submitted || form.zipcode.$touched">
                                  <div class="text-danger" ng-show="form.zipcode.$error.required">Vul je postcode in.</div>
                                </div>
                            </div>
                            <div class="form-group">
                                <input type="email"
                                       name="email"
                                       ng-model="formEntry.email"
                                       md-select-on-focus
                                       required="true"
                                       placeholder="Email" />
                                <div ng-show="form.$submitted || form.email.$touched">
                                  <div class="text-danger" ng-show="form.email.$error.required || form.email.$error.email">Vul een e-mailadres in.</div>
                                </div>
                            </div>
                            <div class="form-group">
                                <input type="text"
                                       name="phone_number"
                                       ng-model="formEntry.phoneNumber"
                                       md-select-on-focus
                                       required="true"
                                       valid-phone-number
                                       placeholder="Telefoonnummer" />
                                <div ng-show="form.$submitted || form.phone_number.$touched">
                                  <div class="text-danger" ng-show="form.phone_number.$error.required">Vul een telefoonnummer in. Zo kunnen we je bereiken.</div>
                                  <div class="text-danger" ng-show="form.phone_number.$error.validPhoneNumber">Dit lijkt niet een valide telefoonnummer te zijn. Graag een telefoonnummer invoeren met enkel nummers, spaties en streepjes en haakjes, dat tussen de 5 en 20 tekens lang is.</div>
                                </div>
                            </div>
                            <div class="form-group">
                                <select name="numEmployees"
                                        ng-model="formEntry.numEmployees"
                                        md-select-on-focus
                                        required="true"
                                        ng-options="option.value as option.label disable when options.disabled for option in [
                                            { label: '-- Omvang bedrijf/organisatie --', value: '', disabled: true },
                                            { label: 'Minder dan 10 medewerkers', value: '0-10' },
                                            { label: 'Tussen 10 en 100 medewerkers', value: '10-100' },
                                            { label: 'Meer dan 100 medewerkers', value: '100+' },
                                        ]"
                                />
                                <div ng-show="form.$submitted || form.numEmployees.$touched">
                                  <div class="text-danger" ng-show="form.numEmployees.$error.required">Geef a.j.b. de omvang van het bedrijf aan.</div>
                                </div>
                            </div>
                            <div class="form-group">
                                <select name="numCars"
                                        ng-model="formEntry.numCars"
                                        md-select-on-focus
                                        required="true"
                                        ng-options="option.value as option.label disable when options.disabled for option in [
                                            { label: '-- Omvang wagenpark --', value: '', disabled: true },
                                            { label: 'Minder dan 10 auto\'s', value: '0-10' },
                                            { label: 'Tussen 10 en 100 auto\'s', value: '10-100' },
                                            { label: 'Meer dan 100 auto\'s', value: '100+' },
                                        ]"
                                />
                                <div ng-show="form.$submitted || form.numCars.$touched">
                                  <div class="text-danger" ng-show="form.numCars.$error.required">Geef a.j.b. de omvang van het wagenpark aan.</div>
                                </div>
                            </div>

                            <p class="w-submit-button">
                                <button type="submit"
                                        ng-click="submit()"
                                        class="mywheels-btn mywheels-btn-call-to-action"
                                        md-ink-ripple="#8f6700">
                                    Ja, ik doe mee <span style="position: relative; bottom: -.1em; right: -.4em;">〉</span>
                                </button>
                            </p>
                        </form>
                        <div class="form-overlay form-sending" ng-if="formSendStatus === 'sending'">
                            <md-progress-circular md-mode="indeterminate" md-diameter="96"></md-progress-circular>
                        </div>
                        <div class="form-overlay form-submitted" ng-if="formSendStatus === 'success'">
                            <div class="size-2" style="font-weight: bold;">
                                <p><ng-md-icon icon="check" size="40" style="width: 20px; height: 40px;"></ng-md-icon></p>
                                <p>Bedankt voor de interesse!</p>
                                <p>We nemen spoedig contact met je op.</p>
                            </div>
                        </div>
                        <div class="form-overlay form-error" ng-if="formSendStatus === 'error'">
                            <div class="size-2">
                                <p><ng-md-icon icon="error" size="40" style="width: 20px; height: 40px;"></ng-md-icon></p>
                                <p>
                                    Het spijt ons heel erg, maar er is iets misgegaan bij het versturen van het formulier.
                                    Je kunt in plaats hiervan een mailtje sturen naar <a href="support@mywheels.nl">support@mywheels.nl</a>.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /IK DOE MEE! -->

    <!-- ADAVANTAGES -->
    <div class="advantage-mywheels">
        <div class="container container-transitional">
            <div class="row">
                <div class="rpad col-xs-12">
                    <h2 style="color: #333; text-align: center; padding: 1rem 0;">Veelgestelde vragen</h2>
                </div>
            </div>
            <div class="row">
                <div class="rpad col-sm-6 col-xs-12">

                <div class="card mw faq" ng-repeat="faq in FAQ.left">
                    <div class="card-heading" ng-click="faq.open = !faq.open;">
                    <h4 class="card-title">{{ faq.question }}</h4>
                    </div>
                    <div class="panel-body" uib-collapse="!faq.open">
                    <p>{{ faq.answer }}</p>
                    </div>
                </div>

                </div>
                <div class="rpad col-sm-6 col-xs-12">

                <div class="card mw faq" ng-repeat="faq in FAQ.right">
                    <div class="card-heading" ng-click="faq.open = !faq.open;">
                    <h4 class="card-title">{{ faq.question }}</h4>
                    </div>
                    <div class="panel-body" uib-collapse="!faq.open">
                    <p>{{ faq.answer }}</p>
                    </div>
                </div>

                </div>
            </div>
        </div>
    </div>
    <!-- /ADVANTAGES -->

    <!-- TRIANGLE BAR HOME -->
    <div class="triangle--bar--home triangle--bar--home-lightgray"></div>
    <!-- /TRIANGLE BAR -->

    <div class="footer-logo-row text-center">
        <div class="container-home">
            <h2 class="footer-logo-row-header">In de media</h2>
            <div class="row no-margin">
                <div class="col-xs-6 col-md-2"><img src="assets/img/media/de_volkskrant_logo.png" /></div>
                <div class="col-xs-6 col-md-2"><img src="assets/img/media/nos_logo.png" /></div>
                <div class="col-xs-6 col-md-2"><img src="assets/img/media/de_telegraaf_logo.png" /></div>
                <div class="col-xs-6 col-md-2"><img src="assets/img/media/financieel_dagblad_logo.png" /></div>
                <div class="col-xs-6 col-md-2"><img src="assets/img/media/bnr_nieuwsradio_logo.png" /></div>
                <div class="col-xs-6 col-md-2"><img src="assets/img/media/het_parool_logo.png" /></div>
            </div>
        </div>
    </div>
</div>
<!-- close home -->