<div class="home landing landing-lease">
    <div class="landing-hero business">
        <div class="landing-hero-overlay"></div>
        <div class="container container-transitional">
            <div class="row" style="padding: 12rem 0 12rem 0">
                <div class="rpad col-md-6">
                    <div>
                        <p>
                            <img ng-src="assets/img/mywheels-business-textwhite.png" height="32" />
                        </p>
                        <h1 style="margin: 2rem 0 3rem; color: white;">Huur zakelijk een MyWheels deelauto</h1>
                        <p class="size-3 text-white">
                            Met 2.500 deelauto's staat er altijd wel een auto bij jou in de buurt.
                        </p>
                        <p style="margin-top: 3rem;">
                            <md-button
                                hide-xs
                                class="mywheels-btn-call-to-action app--toolbar--button--text"
                                md-ink-ripple="#8f6700"
                                href="#aanmeldformulier"
                                smooth-scroll-to-item="#aanmeldformulier"
                                style="
                                    font-size: 2rem;
                                    padding: .4rem 1.2rem;
                                    margin-left: 0;
                                "
                            >
                                <span>Neem contact op</span>
                            </md-button>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- TRIANGLE BAR HOME -->
    <div class="triangle--bar--home triangle--bar--home-white"></div>
    <!-- /TRIANGLE BAR -->

    <div class="container container-transitional">
        <div class="row" style="padding: 5rem 0;">
            <div class="rpad col-xs-12 col-md-6">
                <div class="feature-pad">
                    <h2 style="
                        font-size: 2.6rem;
                        color: #333;
                    ">MyWheels Open</h2>
                    <p class="size-3">
                        De meeste bedrijven maken gebruik van deelauto’s met MyWheels Open. Deze auto’s kan een medewerker direct boeken en openen met zijn of haar smartphone, NS-Business Card of een andere OV-chipkaart. 
                    </p>
                    <p style="text-align: center;">
                        <md-button
                            hide-xs
                            class="mywheels-btn-call-to-action"
                            md-ink-ripple="#8f6700"
                            ui-sref="owm.resource.search.list({ smartwheels: true })"
                            style="
                                font-size: 2rem;
                                padding: .4rem 1.2rem;
                                margin-left: 0;
                            "
                        >
                            <span>Bekijk het aanbod</span>
                        </md-button>
                    </p>
                    <p class="size-2">
                        <em>Staan er nog geen auto’s met MyWheels Open in de buurt? Neem dan via onderstaand formulier contact met ons op, dan bekijken we of we een auto kunnen plaatsen.</em>
                    </p>
                </div>
            </div>
            <div class="rpad col-xs-12 col-md-6">
                <div class="feature-img">
                    <img class="img-responsive" ng-src="assets/img/photo/using_app_square.jpg" />
                </div>
            </div>
        </div>

        <div class="row" style="padding: 5rem 0;">
            <div class="rpad col-xs-12 col-md-6 col-md-push-6">
                <div class="feature-pad">
                    <h2 style="
                        font-size: 2.6rem;
                        color: #333;
                    ">Onze idealen</h2>
                    <div class="size-3">
                        <p>
                            Bedrijven die via MyWheels auto’s huren, betalen daarvoor een eerlijke prijs. Onze voordelige tarieven zijn het directe gevolg van onze idealen. MyWheels streeft namelijk niet naar winstmaximalisatie, maar naar doelen die goed zijn voor mens, milieu en maatschappij.
                        </p>
                    </div>
                </div>
            </div>
            <div class="rpad col-xs-12 col-md-6 col-md-pull-6">
                <div class="feature-img">
                    <img class="img-responsive" ng-src="assets/img/bomen_besparing.png" />
                </div>
            </div>
        </div>
    </div>

    <div class="container container-transitional">
        <div class="row">
            <div class="rpad col-xs-12">
                <h2 id="hoe_werkt_het" style="padding: 3rem 0; text-align: center; color: #333;">Kies een contract</h2>
            </div>
            <div class="rpad col-sm-8 col-sm-offset-2 size-3">
                <p class="text-center">
                    Kies het contract dat het meest aansluit bij jouw bedrijf. Je kunt maandelijks opzeggen of van contract wisselen.
                </p>
            </div>
        </div>
    </div>

    <contract-chooser
        me="me"
        disable-auto-request-go="true"
        disable-choice="!me"
        enable-company="true"
    />

    <div class="container container-transitional">
        <div class="row">
            <div class="rpad col-xs-12">
                <h2 id="hoe_werkt_het" style="padding: 3rem 0; text-align: center; color: #333;">Hoe werkt MyWheels Business?</h2>
            </div>
            <div class="rpad col-sm-6 size-3">
                <p>
                    Maak gebruik van 2.500 bedrijfsauto's en ervaar de voordelen van autodelen: lagere mobiliteitskosten, geen zorgen over onderhoud en schade, minder CO2-uitstoot en alle zakelijke ritten op één factuur.
                </p>
            </div>
            <div class="rpad col-sm-6 size-3">
                <p>
                    Zakelijk autodelen via MyWheels is geschikt voor freelancers, zzp’ers en eenmanszaken, maar ook voor gemeentes en het midden- en kleinbedrijf (MKB).
                </p>
            </div>
        </div>
    </div>

    <!-- IK DOE MEE! -->
    <div class="container container-transitional">
        <div class="rpad col-xs-12" style="text-align: center;">
            <h2 id="aanmeldformulier" style="color: #333; padding-top: 5rem;">Neem contact op</h2>
            <p class="size-2">
                Vul onderstaand contactformulier in voor meer informatie of om een zakelijk contract aan te vragen.
            </p>
        </div>
    </div>
    <div
        class="container container-transitional
                mywheels-ik-doe-mee"
        style="padding-top: 0;"
    >
        <div class="rpad col-sm-8 col-sm-offset-2">
            <div style="padding-top: 1em;">
                <request-info-form
                    extra-fields="{
                        numEmployees: true,
                        comment: true,
                    }"
                    track-event="mw_business_form"
                    form-name="mw_business_form"
                />
            </div>
        </div>
    </div>
    <!-- /IK DOE MEE! -->

    <!-- ADAVANTAGES -->
    <div class="advantage-mywheels">
        <div class="container container-transitional">
            <div class="row">
                <div class="rpad col-xs-12">
                    <h2 style="color: #333; text-align: center; padding: 1rem 0;">Veelgestelde vragen</h2>
                </div>
            </div>
            <div class="row">
                <div class="rpad col-sm-6 col-xs-12">

                <div class="card mw faq" ng-repeat="faq in FAQ.left">
                    <div class="card-heading" ng-click="faq.open = !faq.open;">
                    <h4 class="card-title">{{ faq.question }}</h4>
                    </div>
                    <div class="panel-body" uib-collapse="!faq.open">
                    <p>{{ faq.answer }}</p>
                    </div>
                </div>

                </div>
                <div class="rpad col-sm-6 col-xs-12">

                <div class="card mw faq" ng-repeat="faq in FAQ.right">
                    <div class="card-heading" ng-click="faq.open = !faq.open;">
                    <h4 class="card-title">{{ faq.question }}</h4>
                    </div>
                    <div class="panel-body" uib-collapse="!faq.open">
                    <p>{{ faq.answer }}</p>
                    </div>
                </div>

                </div>
            </div>
        </div>
    </div>
    <!-- /ADVANTAGES -->

    <!-- TRIANGLE BAR HOME -->
    <div class="triangle--bar--home triangle--bar--home-lightgray"></div>
    <!-- /TRIANGLE BAR -->

    <div class="footer-logo-row text-center">
        <div class="container-home">
            <h2 class="footer-logo-row-header">Onze partners</h2>
            <div class="partner_logos">
                <div class="logo"><img class="img-responsive" ng-src="assets/img/partners/wageningen_university.png" style="height: 50px;" /></div>
                <div class="logo"><img class="img-responsive" ng-src="assets/img/partners/reclassering_nederland.svg" style="height: 60px;" /></div>
                <div class="logo"><img class="img-responsive" ng-src="assets/img/partners/universiteit_leiden.png" style="height: 56px;" /></div>
                <div class="logo"><img class="img-responsive" ng-src="assets/img/partners/portaal.svg" style="height: 50px;" /></div>
                <div class="logo"><img class="img-responsive" ng-src="assets/img/partners/gemeente_nunspeet.png" style="height: 60px;" /></div>
                <div class="logo"><img class="img-responsive" ng-src="assets/img/partners/gemeente_wijk_bij_duurstede.png" style="height: 130px;" /></div>
                <div class="logo"><img class="img-responsive" ng-src="assets/img/partners/gemeente_houten.png" style="height: 90px;" /></div>
            </div>
        </div>
    </div>
</div>
<!-- close home -->