
<div class="card mw" ng-if="busy">
    <div class="card-body">
        <div style="text-align: center; font-size: 2.4rem; color: #444; margin: 1rem 0;">
            <i class="fa fa-spinner fa-spin fa-fw"></i>
        </div>
    </div>
</div>

<div class="card" ng-if="!busy && !requiredValue">
    <div class="card-heading">
        <h2 class="card-title">
            <p>
                <i class="fa fa-fw fa-frown-o"></i>
            </p>
        </h2>
        We kunnen op dit moment helaas niet zien of je voldoende rijtegoed hebt voor jouw reserveringen. Probeer het later nog eens, of neem contact met ons op.
    </div>
</div>

<div class="card mw" ng-if="!busy && requiredValue && (!accountDisapproved || accountApproved)" ng-repeat="booking in requiredValue.bookings" ng-init="booking.isOpen = $index <= 1">
    <div class="card-heading">
    <span class="pull-right" ng-if="booking.isOpen">
        <small hide-xs style="padding-left: 1em" ng-if="booking.cancelAfter && booking.approved !== 'OK'">Betaal voor {{booking.cancelAfter|amDateFormat:'D MMMM YYYY HH:mm'}} om annulering te voorkomen</small>
        <ng-md-icon icon="check" ng-show="booking.statusValue" ng-class="{'text-success': booking.statusValue}"></ng-md-icon>
        <b ng-class="{'text-success': booking.statusValue}" ng-if="booking.details.discount">{{ booking.details.booking_price.total + booking.details.km_price - booking.details.discount - booking.details.friend_invite_discount | currency }}</b>
        <b ng-class="{'text-success': booking.statusValue}" ng-if="!booking.details.discount">{{ booking.details.booking_price.total + booking.details.km_price - booking.details.friend_invite_discount | currency }}</b>
    </span>
    <h3 class="card-title">
        <a ng-click="toggleBookingCards($index)" ng-if="booking.person.id === me.id">
        <i class="fa fa-fw" ng-class="{ 'fa-chevron-right': !booking.isOpen, 'fa-chevron-down': booking.isOpen }"></i>
        Rit op {{ booking.beginBooking | amDateFormat:'DD-MM-YYYY' }} 
        </a>
        <a ng-click="toggleBookingCards($index)" ng-if="booking.person.id !== me.id">
        <i class="fa fa-fw" ng-class="{ 'fa-chevron-right': !booking.isOpen, 'fa-chevron-down': booking.isOpen }"></i>
        Rit van {{ booking.person.firstName | toTitleCase }} op {{ booking.beginBooking | amDateFormat:'DD-MM-YYYY' }} 
        </a>
        <small hide-gt-xs style="padding-top: 1em;" ng-if="booking.isOpen && booking.cancelAfter && booking.approved != 'OK'"><br>Betaal voor {{booking.cancelAfter|amDateFormat:'D MMMM YYYY HH:mm '}} om annulering te voorkomen</small>
    </h3>
    </div>

    <div uib-collapse="!booking.isOpen">
        <div class="card-body">
            <div class="media media--small" style="margin-bottom: 15px">
                <a class="media-object pull-left" ui-sref="owm.booking.show({ bookingId: booking.id })">
                    <img class="media-object img-resource-small" ng-src="{{ booking.resource.pictures[0] | resourceAvatar:'small' }}">
                </a>

                <div class="media-body">
                    <div class="pull-left">
                        <div class="booking__timeframe">
                            <datetime datetime="{{ booking.beginBooking }}"></datetime>
                            <datetime datetime="{{ booking.endBooking }}"></datetime>
                            <span class="tag tag-{{ booking.status }}">{{ booking.status | bookingStatus }}</span>
                        </div>
                    </div>

                    <div class="pull-left">
                        <div class="truncate">
                            <a ui-sref="owm.booking.show({ bookingId: booking.id })">
                                {{ booking.resource.alias }}
                            </a>
                        </div>
                        <div class="truncate">
                            <i class="fa fa-map-marker fa-fw"></i> {{ booking.resource.location }}
                        </div>
                        <div class="truncate">
                            <i class="fa fa-user fa-fw"></i> {{ booking.resource.owner | fullname }}
                        </div>
                    </div>

                </div>
            </div>

            <voucher me="me" booking="booking" on-changed="bookingChanged(booking)"></voucher>

        </div>
        <!-- /body -->
    </div>
    <!-- /collapse -->

</div>
<!-- /card -->

<div class="card mw" ng-if="!busy && requiredValue && (!accountDisapproved || accountApproved)">
    <div class="card-heading">
        <h2 class="card-title">Rijtegoed</h2>
    </div>

    <div class="card-body">
        <!-- credit -->
        <div style="margin-bottom: 15px;">

            <table class="financial">
                <tr>
                    <td style="width:100%">Benodigd voor je ritten</td>
                    <td class="text-right">{{ requiredValue.sub_total | currency }}</td>
                </tr>
                <tr class="bt" ng-if="requiredValue.debt > 0">
                    <td>Openstaande facturen</td>
                    <td class="text-right">{{ requiredValue.debt | currency }}</td>
                </tr>
                <tr class="bt">
                    <td>Af: je huidige rijtegoed</td>
                    <td class="text-right">{{ requiredValue.credit | currency }}</td>
                </tr>
                <tr class="bt" ng-if="requiredValue.credit_limit > 0">
                    <td>Af: je kredietlimiet <info-icon tooltip-placement="bottom" tooltip-html="'Je betaalt ritten achteraf per automatische incasso, je kredietlimiet is het maximale bedrag dat je achteraf kunt betalen.'"></info-icon></td>
                    <td class="text-right">{{ requiredValue.credit_limit | currency }}</td>
                </tr>
                <tr class="bt">
                    <td ng-if="requiredValue.total >= 0"><b>Te betalen</b></td>
                    <td ng-if="requiredValue.total < 0"><b>Resterend rijtegoed</b></td>
                    <td class="text-right"><b>{{ requiredValue.total | currency }}</b></td>
                </tr>
            </table>

            <div ng-show="!showVoucherOptions">

                <div ng-if="requiredValue.voucher > 0">
                    <button type="button" class="btn btn-success" ng-click="buyVoucher(requiredValue.voucher)">
                        Koop {{ requiredValue.voucher | currency }} rijtegoed
                    </button>
                    <button type="button" class="btn btn-link" ng-click="toggleVoucherOptions(true)">
                        Ander bedrag
                    </button>
                </div>

                <div ng-if="!(requiredValue.voucher > 0)">
                    <button type="button" class="btn btn-success" ng-click="toggleVoucherOptions(true)">Koop rijtegoed</button>
                    <button type="button" class="btn btn-link" ng-click="toggleVoucherOptions(true)">
                        Ander bedrag
                    </button>
                </div>
            </div>

            <div ng-show="showVoucherOptions">
                <div class="clearfix" style="margin: 0 -5px 15px -5px">
                    <div ng-repeat="option in voucherOptions" class="pull-left" style="width: 20%; padding: 5px">
                        <button ng-click="buyVoucher(option)" type="button" class="btn btn-block btn-success">{{ option | currency }}</button>
                    </div>
                </div>
                <a href="" ng-click="toggleVoucherOptions(false)">Annuleren</a>
            </div>
            <div ng-if="!accountApproved">
            <p class="mywheels-btn-margin-top">
                <b>Let op:</b> om de betaling te kunnen verwerken, moet de tenaamstelling van de rekening overeenkomen met je accountnaam.
            </p>
            </div>
        </div>
    </div>
</div>

<div class="card mw" ng-if="!busy && requiredValue && (accountDisapproved && !accountApproved && accounts.length === 1)">
    <div class="card-body">
        <h2 class="card-title">
        <ng-md-icon icon="error" class="text-danger"></ng-md-icon>
        {{ 'PAYMENT_NOT_APROVED_TITLE' | translate }}
    </h2>
        <p translate="PAYMENT_NOT_APROVED_BODY" translate-values="{name: name, surname: person.surname}"></p>

        <button ng-if="!afterPayment" type="button" class="mywheels-btn mywheels-btn-default" ng-click="buyVoucher('0.01')" md-ink-ripple="#3a6d81">
            {{ 'PAY' | translate }}
        </button>

        <p translate="PAYMENT_NOT_APROVED_FOOTER" translate-values="{lidnumber: person.id}" class="mywheels-btn-margin-top"> </p>
    </div>
</div>

<div class="card mw" ng-if="!busy && requiredValue && (accountDisapproved && !accountApproved && accounts.length > 1)">
    <div class="card-body">
        <h2 class="card-title">
        <ng-md-icon icon="error" class="text-danger"></ng-md-icon>
        {{ 'PAYMENT_NOT_APROVED_TITLE' | translate }}
    </h2>
        <p translate="PAYMENT_NOT_APROVED_SECOND_BODY" translate-values="{name: name, surname: person.surname}"></p>

        <button ui-sref="owm.person.dashboard" class="btn btn-primary">{{ 'MY_DASHBOARD' | translate }}</button>
    </div>
</div>

<!-- </div> -->
<!-- /card -->


<div class="mw card" ng-if="!busy && me.provider.id !== 5">
  <div class="card-heading">
    <h3 class="card-title">
      <a href="" ng-click="isCollapsed = !isCollapsed" ng-init="isCollapsed = false;">
        <i class="fa fa-fw" ng-class="{ 'fa-chevron-right': !isCollapsed, 'fa-chevron-down': isCollapsed }"></i>
        Aankoopgeschiedenis
      </a>
    </h3>
  </div>
  <div class="card-body" uib-collapse="!isCollapsed">
    <table class="table table-condensed" ng-show="vouchers && vouchers.length > 0">
      <tbody>
        <tr ng-class="{'text-muted': voucher.value < 0.001}" ng-repeat="voucher in vouchers | limitTo:vouchersPerPage:vouchersPerPage*(currentVoucherPage-1)">
          <td style="width: 20%"><strong>{{voucher.initialValue | currency}}</strong></td>
          <td>waarvan {{voucher.value | currency}} resterend</td>
          <td ng-if="voucher.payoutRequest && voucher.payoutRequest.paid === null" style="width: 40%">uitbetaling aangevraagd op  {{voucher.payoutRequest.created | amDateFormat:'DD-MM-YYYY'}}</td>
          <td ng-if="voucher.payoutRequest && voucher.payoutRequest.paid !== null" style="width: 40%">uitbetaald op  {{voucher.payoutRequest.paid | amDateFormat:'DD-MM-YYYY'}}</td>
          <td ng-if="!voucher.payoutRequest" style="width: 40%">gekocht op {{voucher.paid | amDateFormat:'DD-MM-YYYY'}}</td>
        </tr>
      </tbody>
      <tbody ng-hide="vouchers.length <= vouchersPerPage" style="border-top-width: 1px">
        <tr>
          <td colspan="3">
            <ul uib-pagination items-per-page="vouchersPerPage" ng-init="currentVoucherPage=1" direction-links="0" total-items="vouchers.length" ng-model="currentVoucherPage"></ul>
          </td>
        </tr>
      </tbody>
    </table>
    <p ng-if="!vouchers || vouchers.length === 0">
      Je hebt nog geen rijtegoed aangeschaft.
    </p>
  </div>
</div>
