
<md-dialog flex-xs="90" flex-sm="60" flex-md="50" flex-lg="30" flex-xl="25"
           class="info-dialog">
  <md-dialog-content class="md-dialog-content">
    <h3>
      <ng-md-icon icon="local_gas_station" size="28"></ng-md-icon>
      Vaste brandstofprijs
      <md-button class="md-icon-button close-button" ng-click="hide()">
        <ng-md-icon icon="close"></ng-md-icon>
      </md-button>
    </h3>
    <p>Je betaalt voor elke gereden kilometer een vaste brandstofprijs.</p>
    <div ng-if="tankpas">
      <p>Mocht je tock moeten tanken tijdens de rit, dan kan dit met de tankpas van de auto.</p>
      <p>De viercijferige pincode van de tankkaart kunt je vinden in de bevestigingsmail en in de MyWheels app. Je hoeft de tankbon niet te bewaren als je met de tankpas betaalt. (<em>Ga je naar het buitenland? Bewaar dan de bon van je tankbeurt, dan verrekenen wij dit achteraf.</em>)</p>
      <p>Je kunt met de tankkaart alleen goedkope Euro 95 betalen, niet de duurdere premium brandstoffen (zoals Shell V-Power). We houden samen de kosten laag door niet langs snelwegen te tanken, maar langs binnenwegen. De tankkosten vallen dan vaak circa 10 cent goedkoper uit.</p>
    </div>
    <div ng-if="!tankpas">
      <p>Mocht je toch moeten tanken tijdens de rit, dan kunnen jullie de tankbon onderling verrekenen of een kopie mailen naar <a href="mailto:support@mywheels.nl">support@mywheels.nl</a>. We trekken dan de tankkosten van je ritkosten af.</p>
    </div>

    <!-- TODO -- dit is een placeholder voor het bovenstaande -->
    <p>Sommige auto’s hebben een tankpas (zoals bij alle eigen MyWheels auto’s). Je kunt de brandstof dan met de tankpas betalen. <a target="_blank" href="https://mywheels.nl/autodelen/veelgestelde-vragen/hoe-betaal-ik-met-een-tankpas/">Lees meer over de tankpas in de helpdesk.</a></p>
  </md-dialog-content>
</md-dialog>
