
<div class="resource-pricing mw design-b">
  <div class="featured-price" style="position: relative;">
    <div class="pad">
      <span class="price is-1">{{ resource.price.hourRate | currency }}</span>
      <span class="annotation">per uur</span>
      <span style="margin: 0 10px;">/</span>
      <span class="price is-1">{{ resource.price.dayRateTotal | currency }}</span>
      <span class="annotation">per dag</span>
    </div>
  </div>
  <div style="padding: 0 1.6rem 1rem">
    <p style="
    margin: .4rem 0;
    color: #777;"><ng-md-icon icon="directions_car" style="margin-right: .5rem;"></ng-md-icon>
    100 km gratis per dag, <span class="price">{{ resource.price.kilometerRate | currency }}</span> per extra km</p>
    <p style="
    margin: .4rem 0;
    color: #777;"><ng-md-icon icon="local_gas_station" style="margin-right: .5rem;"></ng-md-icon>
    <span class="price">{{ resource.price.fuelPerKilometer | currency }}</span> per km</p>
  </div>
  <div class="secondary" ng-if="false">

    <!-- KILOMETERPRIJS -->

    <!-- geen gratis kilometers -->
    <div class="secondary-item" ng-click="infoDialog('kilometerkosten')" ng-if="!resource.price.kmFree">
      <ng-md-icon icon="directions_car"></ng-md-icon>
      <div class="lines">
        <div class="line underline"><span class="price">{{ resource.price.kilometerRate | currency }}</span> per km</div>
      </div>
    </div>

    <!-- wel gratis kilometers -->
    <div class="secondary-item" ng-click="infoDialog('kilometerkosten')" ng-if="resource.price.kmFree">
      <ng-md-icon icon="directions_car"></ng-md-icon>
      <div class="lines">
        <div class="line"><span class="free-km">{{ (showPricePerHour ? 'FREE_KM_HOUR' : 'FREE_KM_DAY') | translate }}</span></div>
        <div class="line underline"><span class="price">{{ resource.price.kilometerRate | currency }}</span> per extra km</div>
      </div>
    </div>



    <!-- BRANDSTOFBELEID -->

    <!-- zelf tanken -->
    <div class="secondary-item" ng-click="infoDialog('zelfTanken')" ng-if="resource.refuelByRenter">
      <ng-md-icon icon="local_gas_station"></ng-md-icon>
      <div class="lines">
        <div class="line refuel-by-renter underline">zelf tanken</div>
      </div>
    </div>

    <!-- vaste prijs per km -->
    <!-- (the `hidden-md` is an ugly fix, dependent on the specific current layout) -->
    <div class="plus hidden-md" ng-if="!resource.refuelByRenter">+</div>

    <div class="secondary-item" ng-click="infoDialog('vasteBrandstofprijs')" ng-if="!resource.refuelByRenter">
      <ng-md-icon icon="local_gas_station"></ng-md-icon>
      <div class="lines">
        <div class="line km-rate underline"><span class="price">{{ resource.price.fuelPerKilometer | currency }}</span> per km</div>
      </div>
    </div>

  </div>
</div>
