
<div class="resource-pricing mw">
  <div ng-if="isBusiness">
    <div class="featured-price">
      <div class="pad">
        <span class="price is-1">Reserveer auto</span>
        <div class="sub-price-line">
          Organisatie: {{ $root.providerInfo.visibleName }}
        </div>
      </div>
    </div>
  </div>

  <div ng-if="!isBusiness">
    <div class="featured-price">
      <div class="pad">
        <span class="price is-1">{{ resource.price.dayRateTotal | currency }}</span>
        <span class="annotation">per dag <span class="hourly">/ {{ resource.price.hourRate | currency }} per uur</span></span>
        <div class="sub-price-line">

          <!-- KILOMETERPRIJS -->

          <!-- geen gratis kilometers -->
          <div ng-if="!resource.price.kmFree">
            <span info-dialog="kilometerkosten" info-dialog-params="{ resource: resource }">
              + kilometerprijs {{ resource.price.kilometerRate | currency }} per km
            </span>
          </div>

          <!-- wel gratis kilometers -->
          <div ng-if="resource.price.kmFree">
            <span info-dialog="kilometerkosten" info-dialog-params="{ resource: resource }">
              + 100 km vrij, {{ resource.price.kilometerRate | currency }} per extra km
            </span>
          </div>


          <!-- BRANDSTOFBELEID -->

          <!-- zelf tanken -->
          <div>
            <span info-dialog="zelfTanken" ng-if="resource.refuelByRenter">
              zelf tanken
            </span>
          </div>

          <div ng-if="!resource.refuelByRenter">
            <span info-dialog="vasteBrandstofprijs" info-dialog-params="{ tankpas: resource.fuelCardCar }">
              + brandstofprijs {{ resource.price.fuelPerKilometer | currency }} per km
            </span>
          </div>

          <!-- <div ng-if="resource.price.vacationShortRate || resource.price.vacationLongRate">
            <span info-dialog="meerdagenkorting" info-dialog-params="{ resource: resource }">
              <ng-md-icon size="16" style="height: 16px; width: 16px;" icon="local_offer"></ng-md-icon> tot 25% meerdagenkorting
            </span>
          </div> -->

        </div>
      </div>
    </div>
  </div>
</div>
