<div class="mw-resource-location-map">

  <a class="map-link" target="_blank" href="{{ gmaps_url }}">
    <img style="display: block; max-width: 100%; height: auto;" src="{{ src }}" />
    <div class="hover_overlay">
      <ng-md-icon icon="exit_to_app" size="64"></ng-md-icon>
    </div>
  </a>

  <!-- from resource/show -->
  <!--
    <ui-gmap-google-map
    center="map.center"
    zoom="map.zoom"
    draggable="false"
    dragging="map.dragging"
    bounds="map.bounds"
    events="map.events"
    options="map.options">
      <ui-gmap-marker idKey="$index" ng-repeat="m in map.markers" coords="m" icon="m.icon" click="onMarkerClicked(m)">
          <ui-gmap-window show="m.showWindow" closeClick="m.closeClick()">
          </ui-gmap-window>
      </ui-gmap-marker>
  </ui-gmap-google-map>
  -->

  <!-- from booking/show -->
  <!--
  <ui-gmap-google-map
       center="map.center"
       zoom="map.zoom"
       draggable="false"
       dragging="map.dragging"
       bounds="map.bounds"
       events="map.events"
       options="map.options">
       <ui-gmap-marker ng-repeat="m in map.markers" idKey="m.idKey" coords="m" icon="m.icon"></ui-gmap-marker>
  </ui-gmap-google-map>
  -->
</div>