<md-card class="card">
    <md-card-title class="card-max-width">
        <md-card-title-text layout="colum" layout-wrap style="padding-bottom: 0px;" class="list-your-car--title">
            <h3 class="no-margin" style="font-size: 2rem" flex="100">
            <span>Autokenmerken</span>
            </h3>
        </md-card-title-text>
    </md-card-title>
    <md-card-body class="card-body card-max-width">

        <form class="mywheels-form" name="editResourceForm">
            <p class="lead">{{ ('LIST_YOUR_CAR_CAR_INFO' | translate).split('&nbsp;').join(' ') }}</p>

            <div class="form-group mw-icon mw-button">
                <ng-md-icon aria-hidden="true" icon="label"></ng-md-icon>
                <input type="text" id="alias" name="alias" ng-model="resource.alias" placeholder="{{ 'ALIAS' | translate }}">
                <div class="md-icon-button" style="padding: 4px 8px;">
                    <ng-md-icon class="right-addon" icon="info">
                        <md-tooltip md-direction="top" class="multiline">
                            {{ 'INFO_RESOURCE_ALIAS' | translate }}
                        </md-tooltip>
                    </ng-md-icon>
                </div>
                <div class="err-block" ng-show="editResourceForm.$submitted && !resource.alias">
                    <span class="text-danger">{{ 'REQUIRED' | translate }}</span>
                </div>
            </div>

            <div class="responsive">
                <div class="form-group mw-icon">
                    <ng-md-icon aria-hidden="true" icon="directions_car"></ng-md-icon>
                    <input type="text" id="brand" name="brand" ng-model="resource.brand" placeholder="{{ 'BRAND' | translate }}" ng-disabled="disabledFields.brand">
                    <div class="err-block" ng-show="editResourceForm.$submitted && !resource.brand">
                        <span class="text-danger">{{ 'REQUIRED' | translate }}</span>
                    </div>
                </div>
                <div class="form-group mw-icon">
                    <ng-md-icon aria-hidden="true" icon="directions_car"></ng-md-icon>
                    <input type="text" id="model" name="model" ng-model="resource.model" placeholder="{{ 'MODEL' | translate }}" ng-disabled="disabledFields.model" >
                    <div class="err-block" ng-show="editResourceForm.$submitted && !resource.model">
                        <span class="text-danger">{{ 'REQUIRED' | translate }}</span>
                    </div>
                </div>
            </div>

            <div class="form-group mw-icon">
                <ng-md-icon aria-hidden="true" icon="color_lens"></ng-md-icon>
                <input type="text" id="color" name="color" ng-model="resource.color" placeholder="{{ 'COLOR' | translate }}" ng-disabled="disabledFields.color">
                <div class="err-block" ng-show="editResourceForm.$submitted && !resource.color">
                    <span class="text-danger">{{ 'REQUIRED' | translate }}</span>
                </div>
            </div>

            <div class="form-group mw-icon">
                <ng-md-icon aria-hidden="true" icon="today"></ng-md-icon>
                <input type="text" id="bouwjaar" name="bouwjaar" ng-model="resource.bouwjaar" placeholder="{{ 'TIME_OF_ORGIN' | translate }}" ng-disabled="disabledFields.bouwjaar" pattern="[0-9]*" maxlength="4" max="2025" min="1950">
                <div class="err-block" ng-show="editResourceForm.$submitted && !resource.bouwjaar">
                    <span class="text-danger">{{ 'REQUIRED' | translate }}</span>
                </div>
            </div>

            <p><label for="numberOfSeats">{{ 'NUMBER_OF_SEATS' | translate }}</label></p>
            <div class="form-group mw-icon mw-button">
                <div class="md-icon-button" style="padding: 4px 8px;">
                    <ng-md-icon icon="keyboard_arrow_down" aria-hidden="true"></ng-md-icon>
                </div>
                <ng-md-icon aria-hidden="true" icon="event_seat"></ng-md-icon>
                <select id="numberOfSeats" name="numberOfSeats" ng-model="resource.numberOfSeats" ng-options="option.value as option.label for option in minSeatOptions" ng-disabled="disabledFields.numberOfSeats"></select>
                <div class="err-block" ng-show="editResourceForm.$submitted && !resource.numberOfSeats">
                    <span class="text-danger">{{ 'REQUIRED' | translate }}</span>
                </div>
            </div>

            <p><label for="fuelType">{{ 'FUEL_TYPE' | translate }}</label></p>
            <div class="form-group mw-icon mw-button">
                <div class="md-icon-button" style="padding: 4px 8px;">
                    <ng-md-icon icon="keyboard_arrow_down" aria-hidden="true"></ng-md-icon>
                </div>
                <ng-md-icon aria-hidden="true" icon="local_gas_station"></ng-md-icon>
                <select id="fuelType" name="fuelType" ng-model="resource.fuelType" ng-options="option.value as option.label for option in fuelTypeOptions" ng-disabled="disabledFields.fuelType"></select>
                <div class="err-block" ng-show="editResourceForm.$submitted && !resource.fuelType">
                    <span class="text-danger">{{ 'REQUIRED' | translate }}</span>
                </div>
            </div>

            <p><label for="resourceType">{{ 'RESOURCE_TYPE' | translate }}</label></p>
            <div class="form-group mw-icon mw-button">
                <div class="md-icon-button" style="padding: 4px 8px;">
                    <ng-md-icon icon="keyboard_arrow_down" aria-hidden="true"></ng-md-icon>
                </div>
                <ng-md-icon aria-hidden="true" icon="directions_car"></ng-md-icon>
                <select id="resourceType" name="resourceType" ng-model="resource.resourceType" ng-options="option.value as option.label for option in resourceTypeOptions" ng-disabled="disabledFields.resourceType"></select>
            </div>

            <p><label>{{ 'RESOURCE_PROPERTIES' | translate }}</label></p>
            <div class="form-group">
                <div class="checkbox" ng-repeat="option in resourcePropertyOptions">
                    <input type="checkbox" ng-model="resourceProperties[option.value]" id="{{ option.value }}" />
                    <label for="{{ option.value }}">
                        {{ option.label }}
                    </label>
                </div>
            </div>

            <p><label for="advertisement">Een korte beschrijving van de auto</label></p>
            <div class="form-group">
                <textarea id="advertisement"
                          name="advertisement"
                          rows="6"
                          cols="40"
                          ng-model="resource.advertisement"
                          placeholder="{{ 'ADVERTISEMENT' | translate }}"
                          auto-resize
                          md-select-on-focus></textarea>
            </div>

            <!-- call to action buttons -->
            <div class="nav-buttons" layout="row">
                <div flex></div>
                <button type="submit" name="button" class="mywheels-btn mywheels-btn-big mywheels-btn-call-to-action" ng-click="save()">
                    {{ 'NEXT' | translate }}
                    <ng-md-icon icon="navigate_next" class="text-white"></ng-md-icon>
                </button>
            </div>
            <!-- /call to action buttons -->
        </form>
    </md-card-body>
</md-card>
