<form role="form" class="mywheels-form">

  <div class="form-group" id="mywheelsOpen">
    <label for="mywheelsOpen">{{ 'MYWHEELS_OPEN_TIP' | translate }}</label>
    <md-switch class="md-accent" name="mywheelsOpen" ng-model="filters.smartwheels" aria-label="mywheelsOpen" ng-true-value="'true'" ga-track-event="['interaction', 'mywheelsOpenToggle', 'auto-huren']"></md-switch>
    <p style="color: #777;">{{ 'MYWHEELS_OPEN_INFO' | translate }}</p>
  </div>

  <div class="form-group">
    <label for="radius">{{ 'SEARCH_RADIUS' | translate }}</label>
    <div class="filter-items">
      <div class="filter-item"
           md-ink-ripple="#60a9c5"
          ng-class="{ selected: props.radius === radius.value }"
          ng-repeat="radius in radiusOptions"
          ng-click="selectRadius(radius.value)">
        {{ radius.label }}
        <!--
        <span class="pull-right"
              ng-click="resetRadius(); $event.stopPropagation();"
              ng-if="props.radius === radius.value">
          <ng-md-icon icon="close"></ng-md-icon>
        </span>
        -->
      </div>
    </div>
  </div>

  <div class="form-group">
    <label for="fuelType">{{ 'FUEL_TYPE' | translate }}</label>
    <div class="filter-items">
      <div class="filter-item"
           md-ink-ripple="#60a9c5"
          ng-class="{ selected: filters.fuelType === fuelType.value }"
          ng-repeat="fuelType in fuelTypeOptions"
          ng-click="selectFuelType(fuelType.value)">
        {{ fuelType.label }}
        <span class="pull-right"
              ng-click="resetFuelType(); $event.stopPropagation();"
              ng-if="filters.fuelType === fuelType.value">
          <ng-md-icon icon="close"></ng-md-icon>
        </span>
      </div>
    </div>
  </div>

  <div class="form-group">
    <label for="resourceType">{{ 'RESOURCE_TYPE' | translate }}</label>
    <div class="filter-items">
      <div class="filter-item"
           md-ink-ripple="#60a9c5"
          ng-class="{ selected: filters.resourceType === resourceType.value }"
          ng-repeat="resourceType in resourceTypeOptions"
          ng-click="selectResourceType(resourceType.value)">
        {{ resourceType.label }}
        <span class="pull-right"
              ng-click="resetResourceType(); $event.stopPropagation();"
              ng-if="filters.resourceType === resourceType.value">
          <ng-md-icon icon="close"></ng-md-icon>
        </span>
      </div>
    </div>
  </div>

  <div class="form-group">
    <label for="minSeats">Aantal zitplaatsen</label>
    <div class="filter-items">
      <div class="filter-item half"
           md-ink-ripple="#60a9c5"
          ng-class="{ selected: filters.minSeats === minSeats.value }"
          ng-repeat="minSeats in minSeatOptions"
          ng-click="selectMinSeats(minSeats.value)">
        {{ minSeats.label }} of meer
        <span class="pull-right"
              ng-click="resetMinSeats(); $event.stopPropagation();"
              ng-if="filters.minSeats === minSeats.value">
          <ng-md-icon icon="close"></ng-md-icon>
        </span>
      </div>
    </div>
  </div>

  <div class="form-group">
    <label>{{ 'RESOURCE_PROPERTIES' | translate }}</label>
    <div class="filter-items">
      <div class="checkbox-item"
           md-ink-ripple="#60a9c5"
           ng-repeat="(key, value) in optionsLabels">
        <md-checkbox ng-model="options[key]"
                     class="md-primary">
          {{ value }}
        </md-checkbox>
      </div>
    </div>
  </div>

</form>
