<div class="card resource-sidebar">
    <div class="card-heading">
        <h2 class="card-title">Jouw boeking</h2>
    </div>
    <div class="card-body">
        <h3>{{resource.alias}}</h3>
        <p>
            <img class="img-responsive"
                 style="width: 100%; max-width: 350px;"
                 ng-src="{{ resource.pictures[0] | resourceAvatar:'normal' }}" />
        </p>

                            <!-- from `resource/show` -- TODO: componentize -->
                            <md-card-body class="ow-list-compact">
                                <div class="card-body-margin">
                                    <h3 style="margin-bottom: 5px;">{{ (resource.brand | toTitleCase) || ('UNKNOWN_BRAND' | translate) }}
                                      <span ng-if="resource.model"> {{ resource.model }}</span>
                                    </h3>
                                        <span 
                                            ng-if="resource.locktypes.indexOf('chipcard') >= 0 || resource.locktypes.indexOf('smartphone') >= 0" 
                                            class="tag tag-warning" 
                                            style="margin-top: 8px; margin-bottom: 8px; margin-left: 0px;"
                                            id="mywheels-open-tip-label"
                                        >
                                            {{ 'MYWHEELS_OPEN_TIP' | translate }}
                                            <md-tooltip md-direction="bottom" class="multiline">{{ 'MYWHEELS_OPEN_INFO' | translate }}</md-tooltip>
                                        </span>
                                        <span 
                                            ng-if="resource.isNew && ['smartphone', 'chipcard'].indexOf(resource.locktype) < 0"
                                            class="tag tag-success"
                                            style="margin-top: 8px; margin-bottom: 8px; margin-left: 0px;"
                                        >
                                            {{ 'NEW_TIP' | translate }}
                                        </span>
                                        <span 
                                            ng-if="resource.isNew && ['smartphone', 'chipcard'].indexOf(resource.locktype) >= 0"
                                            class="tag tag-success"
                                            style="margin-left: 0px;"
                                        >
                                            {{ 'NEW_TIP' | translate }}
                                        </span>
                                    <div ng-include="'resource/partials/resource-features.tpl.html'"></div>
                                </div>
                            </md-card-body>

        <div class="mw-booking-timeframe">
            <div class="pickup">{{startDate}}</div>
            <div class="t"></div>
            <div class="return">{{endDate}}</div>
        </div>
    </div>
</div>