
<div class="invoice-estimate">

  <div ng-if="booking.contractOptions && booking.contractOptions.length > 1"
       style="text-align: center;">
    <div class="form-group mw-button" style="margin-bottom: 0;">
      <md-button class="md-icon-button" ng-click="">
        <ng-md-icon icon="keyboard_arrow_down" aria-hidden="true"></ng-md-icon>
      </md-button>
      <select id="res_contract" name="contract" ng-model="booking.contract" ng-options="c as (c.type.name + ' - ' + c.contractor.firstName) for c in contractOptions">
        <option value="">-- {{ 'PICK_A_CONTRACT' | translate }} --</option>
      </select>
    </div>
  </div>

  <div class="pricing-details" ng-if="price">
    <table>
      <tbody>
        <tr>
          <td class="description">
            <div class="name">
              {{ huurkosten() }}
              <info-icon ng-if="false"
                         tooltip-html="'Omdat resterende 6 uren over de dagprijs zouden gaan, wordt hiervoor in de plaats slechts 1 keer de dagprijs berekend voor deze uren.'"></info-icon>
            </div>
          </td>
          <td class="price">{{ price.rent | currency }}</td>
        </tr>
        <tr>
          <td class="description">
            <div class="name">
              Eigen risico verlagen
              <md-checkbox ng-model="booking.riskReduction"></md-checkbox>
              <!--<info-icon tooltip-html="'Bij een MyWheels Go contract moet je verplicht je eigen risico verlagen, van 500 euro naar 250 euro.'"></info-icon>-->
            </div>
            <div class="calculation" ng-if="booking.riskReduction && (price.redemption > price.default_price_decrease_own_risk)">
              {{ price.default_price_decrease_own_risk | currency }}
              per etmaal
            </div>
          </td>
          <td class="price">{{ price.redemption | currency }}</td>
        </tr>
        <tr>
          <td class="description">
            <div class="name">Boekingskosten</div>
          </td>
          <td class="price">{{ price.booking_fee | currency }}</td>
        </tr>
        <tr>
          <td colspan="2"><div class="line"></div></td>
        </tr>
        <tr class="total">
          <td class="description">
            <div class="name">Vaste kosten<span ng-if="!showPriceDetails">*</span></div>
          </td>
          <td class="price">{{ price.total | currency }}</td>
        </tr>
      </tbody>
    </table>

    <h4 ng-if="!showPriceDetails" ng-click="toggleShowPriceDetails()">
      <a class="underline">*excl. voorschot kilometerkosten</a>
      <ng-md-icon icon="expand_more"></ng-md-icon>
    </h4>
    <h4 ng-if="showPriceDetails" ng-click="toggleShowPriceDetails()">
      <a class="underline" style="text-trasform: uppercase;">Schatting variabele kosten</a>
      <ng-md-icon icon="expand_less"></ng-md-icon>
    </h4>

    <div class="km-price-details slide-toggleable" ng-class="{ 'ct-show': showPriceDetails }">
      <table>
        <tbody>
          <tr ng-if="!resource.refuelByRenter">
            <td class="description">
              <div class="name">Brandstof <span class="km">{{ price.estimate_km_total }} km</span></div>
            </td>
            <td class="price">{{ price.fuel_per_kilometer * price.estimate_km_total | currency }}</td>
          </tr>
          <tr>
            <td class="description">
              <div class="name">Kilometerkosten <span class="km">{{ price.estimate_km_total }} km</span></div>
              <!--<div class="calculation">
                waarvan {{ price.free_km_total }} km gratis
                
                <span ng-if="calculation.uponUserEstimate.paidKms > 0">
                  <br />
                  {{ resource.price.kilometerRate | currency }} x {{ calculation.uponUserEstimate.paidKms }} km
                </span>
              </div>
                -->
            </td>
            <td class="price">{{ (price.estimate_km_total - price.free_km_total) * resource.price.kilometerRate | currency }}</td>
          </tr>
          <tr>
            <td colspan="2"><div class="line"></div></td>
          </tr>
          <!--
          <tr class="total">
            <td class="description">
              <div class="name">Totale ritkosten</div>
            </td>
            <td class="price">{{ calculation.uponUserEstimate.total | currency }}</td>
          </tr>
          -->
          <tr class="total">
            <td class="description">
              <div class="name">Totaal voorschot</div>
            </td>
            <td class="price">{{ price.total + (price.fuel_per_kilometer * price.estimate_km_total) + (price.estimate_km_total - price.free_km_total) * resource.price.kilometerRate | currency }}</td>
          </tr>
        </tbody>
      </table>
      <p class="km-explanation">Het voorschot is gebaseerd op een schatting van het aantal km per uur. Rijd je minder? Dan kun je na afloop het teveel betaalde bedrag terugvragen.</p>
    </div>
  </div>
</div>
