<div>
  <ng-form name="form" class="mywheels-form mw-timeframe-picker">
    <p>
      <label for="pickupDate">Ophalen</label>
      <button id="resource_now_button" type="button" class="btn btn-warning btn-xs" ng-click="setPickupNow()">{{ 'NOW' | translate }}</button>
    </p>

    <div style="display: flex;">
      <div class="form-group mw-datepicker mw-icon" style="width: 55%;"
          bootstrap-date-time-picker="dateConfig"
          mobile="mobile"
          dtp-broadcast-accept="pickupDateAccepted"
          scroll-to-closest="(mobileAutoscroll ? '.mw-timeframe-picker' : false)">
        <md-icon aria-hidden="true">today</md-icon>
        <input type="text" autocomplete="off" name="pickupDate" id="pickupDate" placeholder="Datum" required
               ng-model="pickupDate"
               ng-change="checkTimeframe('pickup')"
               ng-keydown="$event.keyCode == 13 ? $broadcast('pickupDateAccepted') : null" />
        <div ng-if="mobile" class="mobile-mask"></div>
      </div>
      <div class="form-group mw-timepicker mw-icon" style="width: 45%; margin-left: 1em;"
          mobile="mobile"
          bootstrap-date-time-picker="timeConfig"
          scroll-to-closest="(mobileAutoscroll ? '.mw-timeframe-picker' : false)"
          dtp-autoshow="pickupDateAccepted">
        <md-icon aria-hidden="true">schedule</md-icon>
        <input type="text" autocomplete="off" name="pickupTime" id="pickupTime" placeholder="Tijd" required
               ng-model="pickupTime"
               ng-change="checkTimeframe('pickup')"
               ng-keydown="$event.keyCode == 13 ? true : null" />
        <div ng-if="mobile" class="mobile-mask"></div>
      </div>
    </div>

    <p>
      <label for="returnDate">Terugbrengen</label>
      <span v-if="showExtendButtons">
        <button type="button" class="btn btn-default btn-xs" ng-click="extendReturnBy(1)">{{ 'PLUS_1_HOUR' | translate }}</button>
        <button type="button" class="btn btn-default btn-xs" ng-click="extendReturnBy(2)">{{ 'PLUS_2_HOUR' | translate }}</button>
        <button type="button" class="btn btn-default btn-xs" ng-click="extendReturnBy(4)">{{ 'PLUS_4_HOUR' | translate }}</button>
      </span>
    </p>

    <div style="display: flex;">
      <div class="form-group mw-datepicker mw-icon" style="width: 55%;"
          bootstrap-date-time-picker="dateConfig"
          mobile="mobile"
          dtp-broadcast-accept="returnDateAccepted"
          scroll-to-closest="(mobileAutoscroll ? '.mw-timeframe-picker' : false)">
        <md-icon aria-hidden="true">today</md-icon>
        <input type="text" autocomplete="off" name="returnDate" id="returnDate" placeholder="Datum" required
               ng-model="returnDate"
               ng-change="checkTimeframe('return')"
               ng-keydown="$event.keyCode == 13 ? $broadcast('returnDateAccepted') : null" />
        <div ng-if="mobile" class="mobile-mask"></div>
      </div>
      <div class="form-group mw-timepicker mw-icon" style="width: 45%; margin-left: 1em;"
          mobile="mobile"
          bootstrap-date-time-picker="timeConfig"
          scroll-to-closest="(mobileAutoscroll ? '.mw-timeframe-picker' : false)"
          dtp-autoshow="returnDateAccepted">
        <md-icon aria-hidden="true">schedule</md-icon>
        <input type="text" autocomplete="off" name="returnTime" id="returnTime" placeholder="Tijd" required
               ng-model="returnTime"
               ng-change="checkTimeframe('return')"
               ng-keydown="$event.keyCode == 13 ? true : null" />
        <div ng-if="mobile" class="mobile-mask"></div>
      </div>
    </div>
  </ng-form>
</div>