
<md-dialog flex-xs="100" flex-sm="70" flex-md="50" flex-lg="40" flex-xl="30"
           class="info-dialog"
           style="overflow: visible;">
  <md-dialog-content
    class="md-dialog-content"
    style="overflow: visible;"
  >
    <h3 class="with-close-button">
      Reservering
      <md-button class="md-icon-button close-button" ng-click="hide()">
        <ng-md-icon icon="close"></ng-md-icon>
      </md-button>
    </h3>

    <p>
      <em ng-if="booking.remarkRequester">{{ booking.remarkRequester }}</em>
      <em ng-if="!booking.remarkRequester">Geen kenmerk</em>
    </p>

    <list-item-booking-owner booking="booking" />

    <!-- Trip has been finalized -->
    <div ng-if="booking.trip.finalized">

      <p><strong>Kilometerstanden</strong></p>

      <p>Onderstaande kilometerstanden zijn geaccordeerd en in het systeem opgenomen.</p>
      <ul>
        <li>Begin kilometerstand: <strong>{{ booking.trip.odoBegin }}</strong></li>
        <li>Eind kilometerstand: <strong>{{ booking.trip.odoEnd }}</strong></li>
        <li>Gereden kilometers: <strong>{{ booking.trip.odoEnd - booking.trip.odoBegin }}</strong></li>
      </ul>

    </div>

  </md-dialog-content>
</md-dialog>
