
<div>
  <ng-form name="calendarForm">
    <div class="card mw resource-dashboard" ng-if="isCompany">
      <div class="card-body">
        <div class="mywheels-form">
          <div class="tools">
            <ul class="inline-pills">
              <li ng-repeat="(key, scale) in scales">
                <a class="pill" ng-class="{ active: key === focus.scale }"
                  ng-click="setScale(key); $event.preventDefault()">{{ scale.text }}</a>
              </li>
            </ul>
            <div style="display: inline-block;">
              <div class="form-group mw-datepicker mw-icon"
                  bootstrap-date-time-picker="dateConfig">
                <ng-md-icon aria-hidden="true" icon="today"></ng-md-icon>
                <input type="text" autocomplete="off" name="date" id="date" placeholder="Datum" required
                      ng-model="focus.date"
                      ng-change="changeDate($event)" />
              </div>
            </div>
            <a ng-click="move('subtract'); $event.preventDefault()"><ng-md-icon icon="keyboard_arrow_left"></ng-md-icon></a>
            <a ng-click="setToday(); $event.preventDefault()"><ng-md-icon icon="today"></ng-md-icon></a>
            <a ng-click="move('add'); $event.preventDefault()"><ng-md-icon icon="keyboard_arrow_right"></ng-md-icon></a>
            <a ng-click="refresh(); $event.preventDefault()"><ng-md-icon icon="refresh"></ng-md-icon></a>

            <span ng-if="loading">Laden...</span>
          </div>

          <div class="resource_calendar">
            <svg xmlns="http://www.w3.org/2000/svg" version="1.1"
              viewBox="0 0 100 100" preserveAspectRatio="xMidYMid slice"
              style="width: 100%; height: 100%;"
            >
              <g class="resource_axis"></g>
              <g class="time_axis"></g>
            </svg>

            <div class="calendar">
              <div class="none_found" ng-if="grouped.length === 0"><em>Geen reserveringen gevonden</em></div>
            </div>
            
            <div class="resource_list">
              <div class="resource" ng-repeat="group in grouped">
                <div><strong>{{ group.resource.alias }}</strong></div>
                <div>
                  {{ group.resource.brand }} {{ group.resource.model }}
                  [<small>{{ group.resource.registrationPlate }}</small>]
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </ng-form>
</div>
