<div class="global-spinner" ng-show="loader" type="loader.type">
  <div class="mw-md-progress-circular spinner-size-2"><div class="mw-md-scale-wrapper">
  <div class="mw-md-spinner-wrapper"><div class="mw-md-inner"><div class="mw-md-gap"></div><div class="mw-md-left"><div class="mw-md-half-circle"></div></div><div class="mw-md-right"><div class="mw-md-half-circle"></div></div></div></div>
  </div></div>
</div>
<div class="alerts" ng-controller="AlertController">
  <div class="container">
  	<uib-alert ng-repeat="alert in alerts" type="{{ alert.type }}" close="closeAlert($index)">
      <i ng-if="alert.type==='danger'" class="fa fa-fw fa-exclamation-triangle"></i>
      <i ng-if="alert.type==='success'" class="fa fa-fw fa-check"></i>
      <i ng-if="alert.type==='info'" class="fa fa-fw fa-info-circle"></i>
      <span ng-if="!alert.msg" ng-bind="'GLOBAL.MESSAGE.GENERIC_ERROR' | translate"></span>
      <span ng-bind-html="alert.msg"> </span>&nbsp;
    </uib-alert>
  </div>
</div>
