<div id="resource-edit-page-container" class="container container-transitional"
     ng-if="hasPermission">
  <div class="row">
    <div class="rpad col-md-4">
    </div>
    <div class="rpad col-md-8">
      <h1 class="page-title card-pad-left" style="text-align: left;" smooth-scroll-to-item=".card.sidebar"
          ng-if="!$root.isWindowSizeMD">
        <span ng-if="!currentSection">Mijn auto</span>
        <span ng-if="currentSection">{{ currentSection.title }}</span>
        <ng-md-icon icon="expand_more"></ng-md-icon>
      </h1>
      <h1 class="page-title card-pad-left" style="text-align: left;"
          ng-if="$root.isWindowSizeMD">
        <span ng-if="!currentSection">Mijn auto</span>
        <span ng-if="currentSection">{{ currentSection.title }}</span>
      </h1>
    </div>
  </div>
  <div class="row">
    <div class="rpad col-md-8 col-md-push-4">
      

      <!-- data -->
      <div class="mw card" ng-show="currentSection.id === 'specificaties'">
        <div class="card-body">
          <div ng-include="'resource/edit/data/resource-edit-data.tpl.html'"></div>
        </div>
      </div>

      <!-- sharing settings -->
      <div class="mw card" ng-show="currentSection.id === 'instellingen'">
        <div class="card-body">
          <div ng-include="'resource/edit/sharing_settings/resource-edit-sharing_settings.tpl.html'"></div>
        </div>
      </div>

      <!-- price -->
      <!-- NOTE: MAY BE HIDDEN IN BRANDING CSS (based on id=price) -->
      <div class="mw card" id="resourceEditPrice" ng-show="currentSection.id === 'prijs'">
        <div class="card-body">
          <div ng-include="'resource/edit/price/resource-edit-price.tpl.html'"></div>
        </div>
      </div>

      <!-- photos -->
      <div class="mw card" ng-show="currentSection.id === 'fotos'">
        <div class="card-body">
          <div ng-include="'resource/edit/pictures/resource-edit-pictures.tpl.html'"></div>
        </div>
      </div>

      <!-- location -->
      <div class="mw card" ng-show="currentSection.id === 'locatie'">
        <div class="card-body">
          <div ng-include="'resource/edit/location/resource-edit-location.tpl.html'"></div>
        </div>
      </div>

      <!-- members -->
      <div class="mw card" ng-show="currentSection.id === 'vrienden'">
        <div class="card-body">
          <div ng-include="'resource/edit/members/resource-edit-members.tpl.html'"></div>
        </div>
      </div>

      <!-- discounts -->
      <div class="mw card" ng-show="currentSection.id === 'kortingscodes'">
        <div class="card-body">
          <discount-list me="me" resource="resource" />
        </div>
      </div>

    </div>
    <div class="rpad col-md-4 col-md-pull-8">
      <div class="sidebar card mw">
        <div class="card-body">
          <div ng-include="'resource/partials/resource-header3.tpl.html'"></div>

          <p>
            <a ui-sref="owm.resource.own" href="#">
              &laquo;
              Terug naar overzicht auto's
            </a>
          </p>

          <div class="h-escape" style="margin-top: 1.5rem;">
            <ul class="sidebar-menu">
              <li ng-click="navToSection(section)"
                  ng-class="{ active: currentSection.id === section.id }"
                  md-ink-ripple="#50a2c3"
                  ng-repeat="section in sections">
                <a class="menu-item" href="#">
                  <ng-md-icon icon="{{ section.icon }}"></ng-md-icon>
                  {{ section.title }}
                </a>
              </li>
            </ul>

            <div class="h-pad" ng-if="!isBeheerder(me, resource)">
              <ul class="extra-links">
                <li>
                  <a ng-href="{{ $state.href('owm.resource.calendar', { city: (resource.city | replaceSpaceToDash | lowercase), resourceId: resource.id }) }}" ga-track-event="['interaction', 'updateAvailability', 'resourceEdit']">
                    Pas beschikbaarheid aan ›
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
