<div id="finance-page-container" class="container container-transitional">
  <div class="row">
    <div class="rpad col-12">
      <h1 class="page-title">
        Financiën
      </h1>
    </div>
  </div>
  <div class="row">
    <div class="rpad col-md-4">
      <div class="sidebar card mw">
        <div class="card-body">

          <ul class="sidebar-menu">
            <li ui-sref="owm.finance.vouchers"
                ng-class="{ active: $state.includes('owm.finance.vouchers') }"
                md-ink-ripple="#50a2c3">
              <a class="menu-item" href="#">
                <ng-md-icon icon="payment"></ng-md-icon>
                Rijtegoed
              </a>
              <div ng-if="me.provider.id !== 5">
                <!-- what does this condition mean? -->
                <div style="margin: .3rem 0; font-size: 1.1em; color: #555;">
                  <span ng-if="requiredCredit.voucher > 0">nog te betalen</span>
                  <span ng-if="requiredCredit.voucher <= 0">tegoed</span>
                  <span class="credit"
                    ng-class="{ positive: requiredCredit.voucher <= 0 }">{{ requiredCredit.credit | currency }}</span>
                  <a href="#"
                      style="margin-left: .5rem; position: relative;"
                      ng-click="payoutDialog($event)"
                      ng-if="true || requiredCredit.voucher <= 0 && requiredCredit.credit > 0">
                    <span class="underline">uitbetalen</span>
                  </a>
                </div>

                <!--
                <div style="margin: .3rem 0; font-size: 1.2em; color: #555;">
                  <span>benodigd</span>
                  <span class="credit positive">{{ requiredCredit.total_calc | currency }}</span>
                </div>
                -->
              </div>
            </li>

            <li ui-sref="owm.finance.v4"
                ng-class="{ active: $state.includes('owm.finance.v4') }"
                md-ink-ripple="#50a2c3">
              <a class="menu-item" href="#">
                <ng-md-icon icon="euro_symbol"></ng-md-icon>
                Facturen
              </a>
              <div style="margin: .3rem 0; font-size: 1.1em; color: #555;">
                <span>geen openstaand</span>
              </div>
            </li>

            <li ng-if="me.provider.id === 1 && kmPoints.length > 0"
                ui-sref="owm.finance.kmpoints"
                ng-class="{ active: $state.includes('owm.finance.kmpoints') }"
                md-ink-ripple="#50a2c3">
              <a class="menu-item" href="#">
                <ng-md-icon icon="grade"></ng-md-icon>
                Beheerdersvergoeding
              </a>
              <div style="margin: .3rem 0; font-size: 1.1em; color: #555;">
                <span>{{ kmPoints.total | currency }} opgebouwd</span>
              </div>
            </li>
          </ul>

          <ul class="extra-links">
            <li ng-if="true || me.provider.id === 1">
              <a target="_blank" ui-sref="invite">{{ 'INVITE_EXTRA_VOUCHERS' | translate }} ›</a>
            </li>
            <li ng-if="true || requiredValue && me.numberOfBookings > 3">
              <a target="_blank" ui-sref="contractchoice">{{ 'PERSON.CONTRACT.CHANGE_CONTRACT' | translate }} ›</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="rpad col-md-8">
      <div ui-view></div>
    </div>
  </div>
</div>