<div id="finance-page-container" class="container container-transitional">
  <div class="row">
    <div class="rpad col-md-4">
    </div>
    <div class="rpad col-md-8">
      <h1 class="page-title card-pad-left" style="text-align: left;" smooth-scroll-to-item=".card.sidebar"
          ng-show="!$root.isWindowSizeMD">
        <span ng-if="!sectionTitle">Financiën</span>
        <span ng-if="sectionTitle">{{ sectionTitle }}</span>
        <ng-md-icon icon="expand_more"></ng-md-icon>
      </h1>
      <h1 class="page-title card-pad-left" style="text-align: left;"
          ng-show="$root.isWindowSizeMD">
        <span ng-if="!sectionTitle">Financiën</span>
        <span ng-if="sectionTitle">{{ sectionTitle }}</span>
      </h1>
    </div>
  </div>
  <div class="row">
    <div class="rpad col-md-8 col-md-push-4">
      <div ui-view></div>
    </div>

    <div class="rpad col-md-4 col-md-pull-8">
      <div class="sidebar card mw">
        <div class="card-body">

          <div class="h-escape">
            <ul class="sidebar-menu">
              <li ui-sref="owm.finance.vouchers"
                  ng-class="{ active: $state.includes('owm.finance.vouchers') }"
                  md-ink-ripple="#50a2c3">
                <a class="menu-item" href="#">
                  <ng-md-icon icon="payment"></ng-md-icon>
                  Rijtegoed
                </a>
                <div ng-if="me.provider.id !== 5">
                  <!-- what does this condition mean? -->
                  <div class="feature">
                    <span ng-if="requiredCredit.total > 0">
                      nog te betalen
                      {{ requiredCredit.total | currency }}
                    </span>
                    <span ng-if="requiredCredit.total <= 0 && requiredCredit.credit > 0">
                      resterend
                      {{ requiredCredit.credit - requiredCredit.sub_total | currency }}
                    </span>
                    
                    <a href="#"
                        style="margin-left: .5rem; position: relative;"
                        ng-click="payoutDialog($event)"
                        ng-if="requiredCredit.voucher <= 0 && requiredCredit.credit > 0">
                      <span class="underline">uitbetalen</span>
                    </a>
                  </div>
                </li>

                <li ui-sref="owm.finance.v4"
                    ng-class="{ active: $state.includes('owm.finance.v4') || $state.includes('owm.finance.invoice') }"
                    md-ink-ripple="#50a2c3">
                  <a class="menu-item" href="#">
                    <ng-md-icon icon="euro_symbol"></ng-md-icon>
                    Facturen
                  </a>
                  <!--
                  <div class="feature">
                    <span>geen openstaand</span>
                  </div>
                  -->
                </li>

                <li ng-if="me.provider.id === 1 && kmPoints.length > 0"
                    ui-sref="owm.finance.kmpoints"
                    ng-class="{ active: $state.includes('owm.finance.kmpoints') }"
                    md-ink-ripple="#50a2c3">
                  <a class="menu-item" href="#">
                    <ng-md-icon icon="grade"></ng-md-icon>
                    Beheerdersvergoeding
                  </a>
                  <div class="feature">
                    <span>{{ kmPoints.total | currency }} opgebouwd</span>
                  </div>
                </li>
              </ul>
          </div>

          <ul class="extra-links">
            <li ng-if="me.provider.id === 1">
              <a ui-sref="invite">{{ 'INVITE_EXTRA_VOUCHERS' | translate }} ›</a>
            </li>
            <li ng-if="requiredValue && me.numberOfBookings > 3">
              <a ui-sref="contractchoice">{{ 'PERSON.CONTRACT.CHANGE_CONTRACT' | translate }} ›</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
