<div class="container container-transitional">
  <md-toolbar class="app-toolbar">

    <div class="md-toolbar-tools">

      <a class="app-logo" ui-sref="owmlanding.mywheels-zakelijk">
        <img ng-src="assets/img/mywheels-zakelijk.png" height="34" style="height: 34px !important;" />
      </a>

      <!--<img ng-src="assets/img/mywheels-zakelijk.png" height="34" />-->

      <span flex></span>

      <md-button
        hide-xs
        ui-sref="home"
      >
        <span>Naar mywheels.nl</span>
      </md-button>

      <!--
      <md-menu hide-gt-xs style="margin-right: 4px;" md-position-mode="target-right target" ng-if="user.isAuthenticated" ng-class="{ 'user-name-visible': isWindowSizeSM }">

        <md-button
          class="md-icon-button"
          md-menu-origin
          ng-click="$mdOpenMenu($event)"
        >
          <ng-md-icon icon="menu" alt="Icoon" aria-label="Icoon"></ng-md-icon>
        </md-button>

        <md-menu-content width="4">
          <md-menu-item>
            <md-button">
              <span>Hoe werkt het?</span>
            </md-button>
          </md-menu-item>

          <md-menu-item>
            <md-button">
              <span>Meld je aan</span>
            </md-button>
          </md-menu-item>

          <md-menu-item>
            <md-button">
              <span>Voorwaarden</span>
            </md-button>
          </md-menu-item>
        </md-menu-content>
      </md-menu>
      -->

    </div>

  </md-toolbar>
</div>
