<!-- SHORTCUT MYWHEELS -->
<div class="card" ng-if="me.provider.id === 1 && me.preference">
  <div class="card-body no-padding">

    <md-tabs class="shortcut" ng-if="me.preference !== 'owner'">
      <md-tab><md-tab-label>
        <a ui-sref="owm.trips">{{ 'MY_TRIPS' | translate }}</a>
      </md-tab-label></md-tab>
      <md-tab><md-tab-label>
        <a ui-sref="owm.finance.v4">{{ 'MY_FINANCE' | translate }}</a>
      </md-tab-label></md-tab>
      <md-tab><md-tab-label>
        <a ui-sref="owm.message">{{ 'MY_MESSAGES' | translate }}</a>
      </md-tab-label></md-tab>
      <md-tab><md-tab-label>
        <a ui-sref="invite">{{ 'INVITE_FRIENDS_MENU' | translate }}</a>
      </md-tab-label></md-tab>
      <md-tab><md-tab-label>
        <a ui-sref="owm.person.aboutme">{{ 'MY_MEMBER_PAGE' | translate }}</a>
      </md-tab-label></md-tab>
    </md-tabs>

    <md-tabs class="shortcut" ng-if="me.preference === 'owner' && resources.length > 0">
      <md-tab><md-tab-label>
        <a ui-sref="owm.trips">{{ 'TRIPS_BOOKINGS_FOR_OWNER' | translate }}</a>
      </md-tab-label></md-tab>
      <md-tab ng-if="resources.length === 1"><md-tab-label>
        <a ng-href="{{ $state.href('owm.resource.calendar', { city: resources[0].city, resourceId: resources[0].id }) }}">{{ 'RESOURCE_EDIT_CALENDAR' | translate }}</a>
      </md-tab-label></md-tab>
      <md-tab ng-if="resources.length > 1"><md-tab-label>
        <a ui-sref="owm.resource.own">{{ 'RESOURCE_EDIT_CALENDAR' | translate }}</a>
      </md-tab-label></md-tab>
      <md-tab><md-tab-label>
        <a ui-sref="owm.resource.own">{{ 'MY_RESOURCES' | translate }}</a>
      </md-tab-label></md-tab>
      <md-tab><md-tab-label>
        <a ui-sref="invite">{{ 'INVITE_FRIENDS_MENU' | translate }}</a>
      </md-tab-label></md-tab>
      <md-tab><md-tab-label>
        <a ui-sref="owm.finance.v4">{{ 'MY_FINANCE' | translate }}</a>
      </md-tab-label></md-tab>
    </md-tabs>

    <md-tabs class="shortcut" ng-if="me.preference === 'owner' && resources.length === 0">
      <md-tab><md-tab-label>
        <a ui-sref="list-your-car">{{ 'CREATE_RESOURCE_BUTTON' | translate }}</a>
      </md-tab-label></md-tab>
      <md-tab><md-tab-label>
        <a ui-sref="owm.trips">{{ 'TRIPS_BOOKINGS_FOR_OWNER' | translate }}</a>
      </md-tab-label></md-tab>
      <md-tab><md-tab-label>
        <a ui-sref="owm.finance.v4">{{ 'MY_FINANCE' | translate }}</a>
      </md-tab-label></md-tab>
      <md-tab><md-tab-label>
        <a ui-sref="invite">{{ 'INVITE_FRIENDS_MENU' | translate }}</a>
      </md-tab-label></md-tab>
    </md-tabs>

  </div>
</div>

<!-- SHORTCUT DEELAUTO -->
<div class="card" ng-if="me.provider.id === 5 && me.preference">
  <div class="card-body no-padding">

    <md-tabs class="shortcut" ng-if="me.preference === 'owner' && resources.length === 0">
      <md-tab><md-tab-label>
        <a ui-sref="owm.resource.own">{{ 'CREATE_RESOURCE_BUTTON' | translate }}</a>
      </md-tab-label></md-tab>
      <md-tab><md-tab-label>
        <a ui-sref="owm.person.profile">{{ 'ADD_PROFILE_PERSONAL' | translate }}</a>
      </md-tab-label></md-tab>
      <md-tab><md-tab-label>
        <a ui-sref="owm.finance.contributie">{{ 'PAY_SUBSCRIPTION' | translate }}</a>
      </md-tab-label></md-tab>
    </md-tabs>

    <md-tabs class="shortcut" ng-if="me.preference === 'owner' && resources.length > 0">
      <md-tab><md-tab-label>
        <a ui-sref="owm.resource.own">{{ 'ADD_PARKING_PERMIT' | translate }}</a>
      </md-tab-label></md-tab>
      <md-tab><md-tab-label>
        <a ui-sref="owm.resource.own">{{ 'ADD_MEMBERS' | translate }}</a>
      </md-tab-label></md-tab>
      <md-tab><md-tab-label>
        <a ui-sref="owm.person.profile">{{ 'ADD_PROFILE_PERSONAL' | translate }}</a>
      </md-tab-label></md-tab>
      <md-tab><md-tab-label>
        <a ui-sref="owm.finance.contributie">{{ 'PAY_SUBSCRIPTION' | translate }}</a>
      </md-tab-label></md-tab>
    </md-tabs>

    <md-tabs class="shortcut" ng-if="me.preference !== 'owner'">
      <md-tab><md-tab-label>
        <a ui-sref="owm.person.profile">{{ 'ADD_PROFILE_PERSONAL' | translate }}</a>
      </md-tab-label></md-tab>
      <md-tab><md-tab-label>
        <a ui-sref="owm.finance.contributie">{{ 'PAY_SUBSCRIPTION' | translate }}</a>
      </md-tab-label></md-tab>
      <md-tab><md-tab-label>
        <a href="{{ 'NAVBAR.HOW_IT_WORKS_URL' | translate }}">{{ 'NAVBAR.HOW_IT_WORKS' | translate }}</a>
      </md-tab-label></md-tab>
    </md-tabs>

  </div>
</div>

<!-- ACTIONS -->
<div class="card" ng-if="actions.length">
  <div class="card-heading">
    <h2 class="card-title" ng-if="actions.length">{{ 'MY_ACTIONS' | translate }}</h2>
  </div>

  <div class="card-body" ng-if="actions.length">
    <ul class="list-row action-list">
      <li ng-repeat="a in actions">

        <a ng-if="a.descriptor.deletable" class="close pull-right" ng-click="deleteAction(a)">&times;</a>

        <div ng-bind-html="renderHtml(a.message)" style="margin-bottom: 5px"></div>

        <span ng-repeat="button in a.descriptor.buttons">
          <button class="btn btn-primary" ng-if="button.state" ui-sref="{{ button.state }}">{{ button.text }}</button>
        </span>

      </li>
    </ul>
  </div>
</div>

<!-- CURRENT BOOKINGS -->
<div id="current_bookings" class="card" ng-if="bookings.length > 0">
  <div class="card-heading">
    <h2 class="card-title">{{ 'CURRENT_BOOKINGS' | translate }}</h2>
  </div>
  <div class="card-body">
    <ul class="list-row booking-list booking-dashboard no-border" layout="row" layout-wrap>
      <li ng-repeat="b in bookings | limitTo: 2" ng-include="'booking/list/partial/booking-list-item-dashboard.tpl.html'" class="no-border" flex-gt-xs="50">
      </li>
    </ul>
    <center>
      <a type="button" name="button" class="mywheels-btn mywheels-btn-big mywheels-btn-default mywheels-btn-big" ui-sref="owm.trips" md-ink-ripple="#3a6d81">
        Bekijk alles <span ng-if="totalBookings > 2">({{ totalBookings }})</span>
      </a>
    </center>
  </div>
</div>

<!-- CURRENT RENTALS -->
<div id="current_rentals" class="card" ng-if="rentals.length > 0">
  <div class="card-heading">
    <h2 class="card-title">{{ 'CURRENT_RENTALS' | translate }}
      <span class="pull-right" hide-xs>
        <small>
          Getoond: {{ rentals.length }} van {{ totalRentals }}
          (<a ng-if="me.provider.id !== 50" ui-sref="owm.trips">Bekijk verhuurgeschiedenis</a>
          <a ng-if="me.provider.id === 50" ui-sref="owm.trips">Bekijk ritgeschiedenis</a>)
        </small>
      </span>
      <span class="pull-left" hide-gt-xs>
        <small>
          Getoond: {{ rentals.length }} van {{ totalRentals }}
          (<a ui-sref="owm.trips">Bekijk alles</a>)
        </small>
      </span>
    </h2>
  </div>
  <div class="card-body" id="resource-info">
    <ul class="list-row booking-list">
      <li ng-repeat="b in rentals" ui-sref="owm.booking.show({ bookingId: b.id })"
          ng-include="'booking/list/partial/booking-list-item--owner.tpl.html'">
      </li>
    </ul>
  </div>
</div>

<!-- MyWheels Open banner for owners with resource-->
<div ng-if="me.provider.id === 1 && resources.length > 0">
  <div 
    class="mywheels--open--card"
    ng-click="goToMyWheelsOpen()"
    ga-track-event="['interaction', 'mywheelsOpenUtrecht', 'dashboard']"
    ng-if="MyWheelsOpenUtrecht"
    hide-xs
  >
     <img src="../branding/img/mywheels_open_dashboard_utrecht.png" class="banner" />
         <a class="mywheels-btn mywheels-btn-light mywheels-btn-big" md-ink-ripple="#ded8d8" class="md-primary" style="right:0.5em; font-size:1.1em;padding:.5em 0.8em;">Meld je aan</a>
  </div>

  <div 
    class="mywheels--open--card"
    ng-click="goToMyWheelsOpen()"
    ga-track-event="['interaction', 'mywheelsOpen', 'dashboard']"
    ng-if="!MyWheelsOpenUtrecht"
    hide-xs
  >
     <img src="../branding/img/mywheels_open_dashboard.png" class="banner" />
         <a class="mywheels-btn mywheels-btn-light mywheels-btn-big" md-ink-ripple="#ded8d8" class="md-primary">Meld je aan</a>
  </div>

  <div 
    class="mywheels--open--card"
    ng-click="goToMyWheelsOpen()"
    ga-track-event="['interaction', 'mywheelsOpen', 'dashboard']"
    ng-if="!MyWheelsOpenUtrecht"
    hide-gt-xs
  >
     <img src="../branding/img/mywheels_open_mobiel.png" class="banner" />
         <a class="mywheels-btn mywheels-btn-light mywheels-btn-big" md-ink-ripple="#ded8d8" class="md-primary" style="font-size:1.1em;">Meld je aan</a>
  </div>
  <div 
    class="mywheels--open--card"
    ng-click="goToMyWheelsOpen()"
    ga-track-event="['interaction', 'mywheelsOpen', 'dashboard']"
    ng-if="MyWheelsOpenUtrecht"
    hide-gt-xs
  >
     <img src="../branding/img/mywheels_open_dashboard_utrecht_mobiel.png" class="banner" />
         <a class="mywheels-btn mywheels-btn-light mywheels-btn-big" md-ink-ripple="#ded8d8" class="md-primary" style="font-size:1.1em;">Meld je aan</a>
  </div>
</div>

<!-- Referral program-->
<div ng-if="me.provider.id === 1 && (me.preference === 'renter' || resources.length === 0)">
  <div 
    class="mywheels--open--card"
    ng-click="goToInviteFriends()"
    ga-track-event="['interaction', 'inviteFriendsBanner', 'dashboard']"
    hide-xs
  >
     <img src="../branding/img/vrienden_uitnodigen_dashboard.png" class="banner" />
         <a class="mywheels-btn mywheels-btn-light mywheels-btn-big" md-ink-ripple="#ded8d8" class="md-primary" style="right:0.5em; font-size:1.1em;">{{ 'INVITE_FRIENDS_MENU' | translate }}</a>
  </div>

  <div 
    class="mywheels--open--card"
    ng-click="goToInviteFriends()"
    ga-track-event="['interaction', 'inviteFriendsBanner', 'dashboard']"
    hide-gt-xs
  >
     <img src="../branding/img/vrienden_uitnodigen_dashboard_mobiel.png" class="banner" />
         <a class="mywheels-btn mywheels-btn-light mywheels-btn-big" md-ink-ripple="#ded8d8" class="md-primary" style="font-size: 1em; bottom: 14%; right: 1.5em;">{{ 'INVITE_FRIENDS_MENU' | translate }}</a>
  </div>
</div>

<!-- MEMBER RESOURCES -->
<div id="members_resource_buttons" class="card" ng-if="membersResources.length >= 1">

  <div class="card-heading">
    <h2 class="card-title">{{ 'MEMBERS_RESOURCES' | translate }}<info-icon tooltip-html="'INFO_MEMBERS_RESOURCES' | translate"></info-icon></h2>
  </div>

  <div class="card-body">
    <div ng-if="membersResources.length >= 1">
      <ul class="list-row">
        <li ng-repeat="resource in membersResources" ng-click="selectFavoriteResource(resource)">
          <div ng-include="'resource/partials/resource-header1.tpl.html'"></div>
        </li>
      </ul>
    </div>
  </div>
</div>

<!-- FAVORITES -->
<div id="dashboard_buttons" class="card">

  <div class="card-heading" ng-if="favoriteResources.length >= 1">
    <h2 class="card-title">{{ 'FAVORITE_RESOURCES' | translate }}<info-icon tooltip-html="'INFO_FAVORITES' | translate"></info-icon></h2>
  </div>

  <div class="card-body">
    <div ng-if="favoriteResources.length >= 1">
      <ul class="list-row">
        <li ng-repeat="resource in favoriteResources" ng-click="selectFavoriteResource(resource)">
          <div ng-include="'resource/partials/resource-header1.tpl.html'"></div>
        </li>
      </ul>
      <center>
        <a ui-sref="owm.resource.search.list" class="mywheels-btn mywheels-btn-normal mywheels-btn-big">{{ 'SHOW_MORE_RESOURCES' | translate }}</a>
      </center>
    </div>

    <ul class="list-inline" ng-if="!(favoriteResources.length >= 1)">
      <li id="dashboard_rent_a_car" ng-if="me.preference != 'owner'">
        <a ui-sref="owm.resource.search.list" class="btn btn-success">
          {{ 'RENT_A_CAR' | translate }}
        </a>
      </li>
      <li id="dashboard_list_your_car" ng-if="me.preference != 'renter'">
        <a ui-sref="owm.resource.own" class="btn btn-primary">
          {{ 'MY_RESOURCES' | translate }}
        </a>
      </li>
    </ul>
  </div>
</div>

<!-- BLOG ITEMS -->   
<div class="card" ng-if="me.provider.id === 1">
  <div class="card-heading">
    <h2 class="card-title">{{ 'LAST_BLOG_ITEMS' | translate }}</h2>
  </div>
  <div class="card-body dashboard--blog--overview">
      <ul>
          <li class="blog--item" ng-repeat="item in blogItems | limitTo: 3">
              <a target="_blank" href="{{ item.url }}" ng-bind="item.title"></a>
              <p data-ng-bind-html="(item.content_html | removeEntersFilter | limitTo: 200) + '...'"></p>
          </li>
      </ul>
      <center>
        <a type="button" name="button" target="_blank" class="mywheels-btn mywheels-btn-big mywheels-btn-default mywheels-btn-margin-top mywheels-btn-big" href="https://mywheels.nl/blog" md-ink-ripple="#3a6d81">
          Lees alles
        </a>
      </center>
  </div>
</div>