<div class="dashboard-hero">
  <div class="hero-overlay" style="z-index:1"></div>
  <!-- SEARCHBAR -->
  <section class="dashboard-searchbar-frontpage" style="z-index:2">
    <!-- the overflow rule is to prevent internal scrolling on mobile -->
    <div class="container container-transitional" style="overflow: hidden;">
      <div class="row">
        <div class="rpad
              col-xs-12
              col-md-offset-1 col-md-10
              col-lg-offset-2 col-lg-8">
          <ow-geocoder-searchbar searchtext="homeAddressPrefill"></ow-geocoder-searchbar>
        </div>
      </div>
    </div>
  </section>
  <!-- /SEARCHBAR -->
</div>

<div class="container container-transitional">

  <div class="row" ng-if="me.provider.id === 5 && me.preference">
    <div class="rpad col-xs-12">
      <!-- SHORTCUT DEELAUTO -->
      <div class="card">
        <div class="card-body no-padding">

          <md-tabs class="shortcut" ng-if="me.preference === 'owner' && resources.length === 0">
            <md-tab><md-tab-label>
              <a ui-sref="owm.resource.own">{{ 'CREATE_RESOURCE_BUTTON' | translate }}</a>
            </md-tab-label></md-tab>
            <md-tab><md-tab-label>
              <a ui-sref="owm.person.profile">{{ 'ADD_PROFILE_PERSONAL' | translate }}</a>
            </md-tab-label></md-tab>
            <md-tab><md-tab-label>
              <a ui-sref="owm.finance.contributie">{{ 'PAY_SUBSCRIPTION' | translate }}</a>
            </md-tab-label></md-tab>
          </md-tabs>

          <md-tabs class="shortcut" ng-if="me.preference === 'owner' && resources.length > 0">
            <md-tab><md-tab-label>
              <a ui-sref="owm.resource.own">{{ 'ADD_PARKING_PERMIT' | translate }}</a>
            </md-tab-label></md-tab>
            <md-tab><md-tab-label>
              <a ui-sref="owm.resource.own">{{ 'ADD_MEMBERS' | translate }}</a>
            </md-tab-label></md-tab>
            <md-tab><md-tab-label>
              <a ui-sref="owm.person.profile">{{ 'ADD_PROFILE_PERSONAL' | translate }}</a>
            </md-tab-label></md-tab>
            <md-tab><md-tab-label>
              <a ui-sref="owm.finance.contributie">{{ 'PAY_SUBSCRIPTION' | translate }}</a>
            </md-tab-label></md-tab>
          </md-tabs>

          <md-tabs class="shortcut" ng-if="me.preference !== 'owner'">
            <md-tab><md-tab-label>
              <a ui-sref="owm.person.profile">{{ 'ADD_PROFILE_PERSONAL' | translate }}</a>
            </md-tab-label></md-tab>
            <md-tab><md-tab-label>
              <a ui-sref="owm.finance.contributie">{{ 'PAY_SUBSCRIPTION' | translate }}</a>
            </md-tab-label></md-tab>
            <md-tab><md-tab-label>
              <a href="{{ 'NAVBAR.HOW_IT_WORKS_URL' | translate }}">{{ 'NAVBAR.HOW_IT_WORKS' | translate }}</a>
            </md-tab-label></md-tab>
          </md-tabs>

        </div>
      </div>

    </div>
  </div>
  
  <div class="row is-flex"
       style="margin-bottom: 16px;"
       ng-if="me.provider.id === 1 && me.preference">
    
    <div class="rpad col-md-3 col-sm-6 col-xs-12"
         ng-repeat="menuLink in dashboardLinks">
      
      <a class="dashboard-link" href="#" ui-sref="{{ menuLink.sref }}">
        <div class="title"><span class="u">{{ menuLink.title }}</span></div>
        <ng-md-icon class="chevron" icon="keyboard_arrow_right" size="36"></ng-md-icon>
      </a>
    </div>
  </div>

  <div class="row">
    <div class="rpad col-md-8 col-md-push-4">

      <!-- ACTIONS -->
      <div class="mw card" ng-if="actions.length">
        <div class="card-heading">
          <h2 ng-if="actions.length">{{ 'MY_ACTIONS' | translate }}</h2>
        </div>

        <div class="card-body" ng-if="actions.length">
          <ul class="list-row action-list">
            <li ng-repeat="a in actions">

              <a ng-if="a.descriptor.deletable" class="close pull-right" ng-click="deleteAction(a)">&times;</a>

              <div ng-bind-html="renderHtml(a.message)" style="margin-bottom: 5px"></div>

              <span ng-repeat="button in a.descriptor.buttons">
                <button class="btn btn-primary" ng-if="button.state" ui-sref="{{ button.state }}">{{ button.text }}</button>
              </span>

            </li>
          </ul>
        </div>
      </div>

      <!-- CURRENT BOOKINGS -->
      <div id="current_bookings" class="mw card" ng-if="bookings.length > 0">
        <div class="card-heading">
          <h2 class="card-title">{{ 'CURRENT_BOOKINGS' | translate }}</h2>
        </div>
        <div class="card-body">
          <ul class="list-row booking-list booking-dashboard no-border" layout="row" layout-wrap>
            <li ng-repeat="b in bookings | limitTo: 2" ng-include="'booking/list/partial/booking-list-item-dashboard.tpl.html'" class="no-border" flex-gt-xs="50">
            </li>
          </ul>
          <center>
            <a type="button" name="button" class="mywheels-btn mywheels-btn-big mywheels-btn-default mywheels-btn-big" ui-sref="owm.trips" md-ink-ripple="#3a6d81">
              Bekijk alles <span ng-if="totalBookings > 2">({{ totalBookings }})</span>
            </a>
          </center>
        </div>
      </div>

      <!-- CURRENT RENTALS -->
      <div id="current_rentals" class="mw card" ng-if="rentals.length > 0">
        <div class="card-heading">
          <h2 class="card-title">{{ 'CURRENT_RENTALS' | translate }}
            <span class="pull-right" hide-xs>
              <small>
                Getoond: {{ rentals.length }} van {{ totalRentals }}
                (<a ng-if="me.provider.id !== 50" ui-sref="owm.trips">Bekijk verhuurgeschiedenis</a>
                <a ng-if="me.provider.id === 50" ui-sref="owm.trips">Bekijk ritgeschiedenis</a>)
              </small>
            </span>
            <span class="pull-left" hide-gt-xs>
              <small>
                Getoond: {{ rentals.length }} van {{ totalRentals }}
                (<a ui-sref="owm.trips">Bekijk alles</a>)
              </small>
            </span>
          </h2>
        </div>
        <div class="card-body" id="resource-info">
          <ul class="list-row booking-list">
            <li ng-repeat="b in rentals" ui-sref="owm.booking.show({ bookingId: b.id })"
                ng-include="'booking/list/partial/booking-list-item--owner.tpl.html'">
            </li>
          </ul>
        </div>
      </div>

      <!-- CURRENT BOOKINGS AS EXTRA DRIVER -->
      <div ng-if="me.extraDriver === true" ng-init="getBookingListAsExtraDriver();">
        <div id="current_bookings_as_extra_driver" class="mw card" ng-if="extraDriverBookings.length > 0">
          <div class="card-heading">
            <h2 class="card-title">{{ 'CURRENT_BOOKINGS_AS_EXTRA_DRIVER' | translate }}</h2>
          </div>
          <div class="card-body">
            <ul class="list-row booking-list booking-dashboard no-border" layout="row" layout-wrap>
              <li ng-repeat="extraDriverBooking in extraDriverBookings | limitTo: 2" ng-include="'booking/list/partial/booking-list-item-extra-driver.tpl.html'" class="no-border" flex-gt-xs="50">
              </li>
            </ul>
          </div>
        </div>
      </div>

      <!-- MyWheels Open banner for owners with resource-->
      <div ng-if="me.provider.id === 1 && resources.length > 0">
        <div 
          class="mywheels--open--card"
          ng-click="goToMyWheelsOpen()"
          href="/open"
          ga-track-event="['interaction', 'mywheelsOpenUtrecht', 'dashboard']"
          ng-if="MyWheelsOpenUtrecht"
          hide-xs
        >
          <img src="../branding/img/mywheels_open_dashboard_utrecht.png" class="banner" />
              <a class="mywheels-btn mywheels-btn-light mywheels-btn-big" md-ink-ripple="#ded8d8" class="md-primary" style="right:0.5em; font-size:1.1em;padding:.5em 0.8em;">Meld je aan</a>
        </div>

        <div 
          class="mywheels--open--card"
          ng-click="goToMyWheelsOpen()"
          href="/open"
          ga-track-event="['interaction', 'mywheelsOpen', 'dashboard']"
          ng-if="!MyWheelsOpenUtrecht"
          hide-xs
        >
          <img src="../branding/img/mywheels_open_dashboard.png" class="banner" />
              <a class="mywheels-btn mywheels-btn-light mywheels-btn-big" md-ink-ripple="#ded8d8" class="md-primary">Meld je aan</a>
        </div>

        <div 
          class="mywheels--open--card"
          ng-click="goToMyWheelsOpen()"
          href="/open"
          ga-track-event="['interaction', 'mywheelsOpen', 'dashboard']"
          ng-if="!MyWheelsOpenUtrecht"
          hide-gt-xs
        >
          <img src="../branding/img/mywheels_open_mobiel.png" class="banner" />
              <a class="mywheels-btn mywheels-btn-light mywheels-btn-big" md-ink-ripple="#ded8d8" class="md-primary" style="font-size:1.1em;">Meld je aan</a>
        </div>
        <div 
          class="mywheels--open--card"
          ng-click="goToMyWheelsOpen()"
          href="/open"
          ga-track-event="['interaction', 'mywheelsOpen', 'dashboard']"
          ng-if="MyWheelsOpenUtrecht"
          hide-gt-xs
        >
          <img src="../branding/img/mywheels_open_dashboard_utrecht_mobiel.png" class="banner" />
              <a class="mywheels-btn mywheels-btn-light mywheels-btn-big" md-ink-ripple="#ded8d8" class="md-primary" style="font-size:1.1em;">Meld je aan</a>
        </div>
      </div>

      <!-- Referral program-->
      <div ng-if="me.provider.id === 1 && (me.preference === 'renter' || resources.length === 0)">
        <div 
          class="mywheels--open--card"
          ng-click="goToInviteFriends()"
          ga-track-event="['interaction', 'inviteFriendsBanner', 'dashboard']"
          hide-xs
        >
          <img src="../branding/img/vrienden_uitnodigen_dashboard.png" class="banner" />
              <a class="mywheels-btn mywheels-btn-light mywheels-btn-big" md-ink-ripple="#ded8d8" class="md-primary" style="right:0.5em; font-size:1.1em;">{{ 'INVITE_FRIENDS_MENU' | translate }}</a>
        </div>

        <div 
          class="mywheels--open--card"
          ng-click="goToInviteFriends()"
          ga-track-event="['interaction', 'inviteFriendsBanner', 'dashboard']"
          hide-gt-xs
        >
          <img src="../branding/img/vrienden_uitnodigen_dashboard_mobiel.png" class="banner" />
              <a class="mywheels-btn mywheels-btn-light mywheels-btn-big" md-ink-ripple="#ded8d8" class="md-primary" style="font-size: 1em; bottom: 14%; right: 1.5em;">{{ 'INVITE_FRIENDS_MENU' | translate }}</a>
        </div>
      </div>

      <!-- MEMBER RESOURCES -->
      <div id="members_resource_buttons" class="mw card" ng-if="membersResources.length >= 1">

        <div class="card-heading">
          <h2 class="card-title">{{ 'MEMBERS_RESOURCES' | translate }}<info-icon tooltip-html="'INFO_MEMBERS_RESOURCES' | translate"></info-icon></h2>
        </div>

        <div class="card-body">
          <div ng-if="membersResources.length >= 1">
            <ul class="list-row">
              <li ng-repeat="resource in membersResources" ng-click="selectFavoriteResource(resource)">
                <div ng-include="'resource/partials/resource-header1.tpl.html'"></div>
              </li>
            </ul>
          </div>
        </div>
      </div>

      <!-- FAVORITES -->
      <div id="dashboard_buttons" class="mw card" ng-if="favoriteResources.length >= 1 && membersResources.length === 0">

        <div class="card-heading">
          <h2 class="card-title">{{ 'FAVORITE_RESOURCES' | translate }}<info-icon tooltip-html="'INFO_FAVORITES' | translate"></info-icon></h2>
        </div>

        <div class="card-body">
          <div>
            <ul class="list-row">
              <li ng-repeat="resource in favoriteResources" ng-click="selectFavoriteResource(resource)">
                <div ng-include="'resource/partials/resource-header1.tpl.html'"></div>
              </li>
            </ul>
            <center>
              <a ui-sref="owm.resource.search.list" class="mywheels-btn mywheels-btn-normal mywheels-btn-big">{{ 'SHOW_MORE_RESOURCES' | translate }}</a>
            </center>
          </div>

          <ul class="list-inline" ng-if="!(favoriteResources.length >= 1)">
            <li id="dashboard_rent_a_car" ng-if="me.preference != 'owner'">
              <a ui-sref="owm.resource.search.list" class="btn btn-success">
                {{ 'RENT_A_CAR' | translate }}
              </a>
            </li>
            <li id="dashboard_list_your_car" ng-if="me.preference != 'renter'">
              <a ui-sref="owm.resource.own" class="btn btn-primary">
                {{ 'MY_RESOURCES' | translate }}
              </a>
            </li>
          </ul>
        </div>
      </div>

      <!-- BLOG ITEMS -->   
      <div class="mw card" ng-if="me.provider.id === 1">
        <div class="card-heading">
          <h2 class="card-title">{{ 'LAST_BLOG_ITEMS' | translate }}</h2>
        </div>
        <div class="card-body dashboard--blog--overview">
            <ul>
                <li class="blog--item" ng-repeat="item in blogItems | limitTo: 3">
                    <a target="_blank" href="{{ item.url }}" ng-bind="item.title"></a>
                    <p data-ng-bind-html="(item.content_text | removeEntersFilter | limitTo: 200) + '...'"></p>
                </li>
            </ul>
            <center>
              <a type="button" name="button" target="_blank" class="mywheels-btn mywheels-btn-big mywheels-btn-default mywheels-btn-margin-top mywheels-btn-big" href="https://mywheels.nl/blog" md-ink-ripple="#3a6d81">
                Lees alles
              </a>
            </center>
        </div>
      </div>


    </div><!-- /col-8 -->

    <div class="rpad col-md-4 col-md-pull-8">
      <div class="sidebar card mw">
        <div class="card-body">

          <div class="media" style="margin-bottom: 10px;">
            <a class="pull-left" ui-sref="member({ personId: person.id })">
              <img class="media-object img-user-normal" ng-if="!refreshProfileImage" person-profile-image="{ person: person, size: 'normal', noCache: true }" />
              <div class="media-object img-user-normal" ng-if="refreshProfileImage" />
            </a>
            <div class="media-body">
              <h4 class="media-heading"><a ui-sref="member({ personId: person.id })">{{ person | fullname }}</a></h4>
              <div><small>{{ person.created | memberSince }}</small></div>
              <div><span badge-list="person.badges"></span></div>
            </div>
          </div>
          
          <user-status-line person="person" has-booked="hasBooked"></user-status-line>

          <p ng-if="person.about" class="about-me">{{ person.about }}</p>
          <p ng-if="!person.about" class="about-me-placeholder" ui-sref="owm.person.profile({ highlight: 'profiel' })">Schrijf een korte introductie om jezelf voor te stellen.</p>

          <p class="statistic" ng-if="me.preference !== 'owner'">
            <span class="stat">{{ person.numberOfBookings }}</span><br />
            keer geboekt
          </p>

          <ul class="list-unstyled list-spaced with-icons">
            <li ng-if="person.city">
              <ng-md-icon icon="place"></ng-md-icon>
              {{ person.city }}
            </li>
            <li ng-if="person.email">
              <ng-md-icon icon="email"></ng-md-icon>
              {{ person.email }}
            </li>
            <li ng-repeat="phoneNumber in person.phoneNumbers">
              <ng-md-icon icon="phone"></ng-md-icon>
              {{ phoneNumber.number }}
            </li>
            <li ng-if="person.facebookUid">
              <ng-md-icon icon="facebook"></ng-md-icon>
              <a target="_blank" ng-href="https://facebook.com/{{ person.facebookUid }}">Facebook</a>
            </li>
            <li ng-if="person.twitterUid">
              <ng-md-icon icon="twitter"></ng-md-icon>
              <a target="_blank" ng-href="https://twitter.com/{{ person.twitterUid }}">Twitter</a>
            </li>
            <li ng-if="person.linkedinUid">
              <ng-md-icon icon="linkedin"></ng-md-icon>
              <a target="_blank" ng-href="https://www.linkedin.com/profile/view?id={{ person.linkedinUid }}">LinkedIn</a>
            </li>
          </ul>

          <hr />

          <p><a ui-sref="member({ personId: person.id })">Bekijk profiel &raquo;</a></p>

        </div>
      </div>
    </div>
  </div>
</div>
