<div class="home landing landing-lease">
    <!-- SEARCHBAR -->
    <div class="hero inverted text-center">
        <div class="hero-overlay"></div>
        <div class="landing-title">
            <h1><span class="highlight">De lease-auto die zichzelf terugverdient</span></h1>
            <!--<p class="sub">Dus geen gedoe met sleutels. Makkelijk toch?</p>-->
            <a
                class="mywheels-btn mywheels-btn-bigger mywheels-btn-call-to-action"
                md-ink-ripple="#8f6700"
                href="#aanmeldformulier"
                smooth-scroll-to-item="#aanmeldformulier"
            >
                Meld je nu aan
                <span style="position: relative; bottom: -.1em; right: -.4em;">〉</span>
            </a>
        </div>
    </div>
    <!-- /SEARCHBAR -->

    <!-- TRIANGLE BAR HOME -->
    <div class="triangle--bar--home triangle--bar--home-white"></div>
    <!-- /TRIANGLE BAR -->

   
    <!-- RATINGS -->
    <div class="container-fluid
                container-home
                wat-is-mywheels-open">
        <div class="rpad col-md-12">
            <h2>Wat is <span style="white-space: nowrap;"><img title="MyWheels Lease" alt="MyWheels Lease" ng-src="assets/img/mywheels-lease.png" />?</span></h2>
            <p class="subtitle">
                Lease een auto bij MyWheels en verhuur hem met MyWheels Open. Probleemloos zonder sleuteloverdracht. Zo verdien je je maandlasten terug vanuit je luie stoel.
            </p>
        </div>
    </div>

    <!-- WIL JE MEEDOEN? -->
    <div class="container-fluid
                container-home
                landing-section">
        <div class="row">
            <div class="rpad col-md-12">

                <div class="open-steps">
                    <div class="step">
                        <div class="circle"><ng-md-icon size="50" icon="smartphone"></ng-md-icon></div>
                        <div class="step-label">Zonder sleuteloverdracht</div>
                        <p class="size-2">Een huurder opent jouw auto met zijn of haar smartphone.</p>
                    </div>
                    <div class="line"></div>
                    <div class="step">
                        <div class="circle"><ng-md-icon size="50" icon="euro_symbol"></ng-md-icon></div>
                        <div class="step-label">Een vast bedrag per maand</div>
                        <p class="size-2">Een vast bedrag per maand inclusief keyless technologie ter waarde van 29 euro per maand.</p>
                    </div>
                    <div class="line"></div>
                    <div class="step">
                        <div class="circle"><ng-md-icon size="50" icon="directions_car"></ng-md-icon></div>
                        <div class="step-label">Verlaag je maandlasten</div>
                        <p class="size-2">Verhuur je auto via MyWheels aan vrienden en buren en verdien je leasekosten terug.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container container-transitional">
        <div class="row">
            <div class="rpad col-xs-12">
                <h2 id="hoe_werkt_het" style="padding: 3rem 0; text-align: center; color: #333;">Hoe werkt private lease via MyWheels?</h2>
            </div>
            <div class="rpad col-sm-6 size-3">
                <p>Een nieuwe en zuinige private leaseauto via MyWheels en Justlease biedt je het voordeel van een eigen auto en door deze te delen is het ook nog eens erg voordelig.</p>
                
                <p>De eerste 50 euro die wordt verdiend met de verhuur van je auto, ontvangt de leasemaatschappij. Verdien je meer, dan gaat dat rechtstreeks naar jou! </p>
            </div>
            <div class="rpad col-sm-6 size-3">
                <p>Door de ingebouwde techniek in de auto kun jij de auto verhuren zonder sleuteloverdracht. Het enige dat jij hoeft te doen is de kalender bijhouden van je auto op MyWheels.nl. Het boeken en openen van de auto door de huurder gaat helemaal vanzelf!</p>
                
                <p>Via MyWheels kun je kiezen uit twee verschillende modellen die via een private leaseconstructie worden aangeboden: een brandstof Peugeot 108 en een elektrische Renault ZOE.</p>

                <p>
                    <a href="https://mywheels.nl/autodelen/wp-content/uploads/2019/03/voorwaarden_maart_2019.pdf">
                        Lees de voorwaarden &raquo;
                    </a>
                </p>
            </div>
        </div>
    </div>
    <!-- /WIL JE MEEDOEN? -->

    <div class="container-fluid
                container-home">
        <div class="row">
            <div class="rpad col-xs-12">
                <h2 id="prijzen_specificaties" style="padding: 5rem 0 3rem 0; color: #333; text-align: center;">Prijzen &amp; specificaties</h2>
            </div>
        </div>
        <div class="row">
            <div class="rpad col-sm-6">
                <div class="lease-auto">
                    <h2>Peugeot 108 (5-deurs)</h2>
                    <div class="price">
                        <span class="eur">€ 179</span>
                        <span class="pm">per maand *</span>
                    </div>
                    <p class="size-3">
                        <strong>Inclusief</strong><br />
                        - 15.000 km per jaar<br />
                        - MyWheels Open keyless verhuren twv 29 euro per maand<br />
                        - Reclame bestickering
                    </p>
                </div>
            </div>
            <div class="rpad col-sm-6">
                <div
                    style="max-width: 500px; margin: 0 auto 2rem 0; text-align: center;"
                    info-dialog="leaseAutoSpecs"
                    info-dialog-params="{
                        auto: 'Peugeot 108',
                        foto: '/assets/img/lease/peugeot.png',
                        specs: [
                            'Airconditioning',
                            'Centrale deurvergrendeling',
                            'Radio/MP3-speler',
                            'Bluetooth carkit & audiostreaming ',
                            'Elektrische ramen voor',
                            'Zuinig in gebruik (1 op 26)',
                            'Energielabel B (CO2 uitstoot van 88g per km)',
                        ],
                    }"
                >
                    <img class="img-responsive" src="/assets/img/lease/peugeot.png" />
                    <button class="mywheels-btn mywheels-btn-default">Toon autospecificaties</button>
                </div>
            </div>
        </div>
        <div class="row hidden-xs hidden-sm">
            <div class="rpad col-xs-12">
                <hr style="margin: 3rem 0; border-top: 2px solid #ddd;" />
            </div>
        </div>
        <div class="row">
            <div class="rpad col-sm-6 col-sm-push-6">
                <div class="lease-auto">
                    <h2>Renault ZOE Life Z.E. 40</h2>
                    <div class="price">
                        <span class="eur">€ 399</span>
                        <span class="pm">per maand *</span>
                    </div>
                    <p class="size-3">
                        <strong>Inclusief</strong><br />
                        - 15.000 km per jaar<br />
                        - MyWheels Open keyless verhuren twv 29 euro per maand<br />
                        - Reclame bestickering
                    </p>
                </div>
            </div>
            <div class="rpad col-sm-6 col-sm-pull-6">
                <div
                    style="max-width: 500px; margin: 0 auto 2rem 0; text-align: center;"
                    info-dialog="leaseAutoSpecs"
                    info-dialog-params="{
                        auto: 'Renault ZOE',
                        foto: '/assets/img/lease/zoe.png',
                        specs: [
                            'Airconditioning',
                            'Automaat',
                            'Centrale deurvergrendeling',
                            'Cruise control',
                            'Navigatie & bluetooth',
                            'Rijbereik van 400km op een volle batterij',
                            'Volledig elektrisch met een 41 kWh batterij',
                        ],
                    }"
                >
                    <img class="img-responsive" src="/assets/img/lease/zoe.png" />
                    <button class="mywheels-btn mywheels-btn-default">Toon autospecificaties</button>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="rpad col-xs-12">
                <p style="margin-top: 3rem; text-align: center; color: #888;">*Bovenstaande prijzen gelden voor een looptijd van 36 maanden en 50 euro per maand opbrengst verhuur via MyWheels.</p>
            </div>
        </div>
    </div>


    <!-- IK DOE MEE! -->
    <div class="container container-transitional">
        <div class="rpad col-xs-12" style="text-align: center;">
            <h2 id="aanmeldformulier" style="color: #333; padding-top: 5rem;">Meld je nu aan</h2>
            <p class="size-2">
                Geïnteresseerd? Vul hieronder je gegevens in en we nemen vrijblijvend contact met je op.
            </p>
        </div>
    </div>
    <div
        class="container container-transitional
                mywheels-ik-doe-mee"
        style="padding-top: 0;"
    >
        <div class="rpad col-sm-8 col-sm-offset-2">
            <div style="padding-top: 1em;">
                <request-info-form
                    extra-fields="{
                        model: true,
                    }"
                    track-event="mywheels_lease_meedoen"
                    form-name="mw_lease"
                    submit-text="Ja, ik doe mee"
                />
            </div>
        </div>
    </div>
    <!-- /IK DOE MEE! -->

    <!-- ADAVANTAGES -->
    <div class="advantage-mywheels">
        <div class="container container-transitional">
            <div class="row">
                <div class="rpad col-xs-12">
                    <h2 style="color: #333; text-align: center; padding: 1rem 0;">Veelgestelde vragen</h2>
                </div>
            </div>
            <div class="row">
                <div class="rpad col-sm-6 col-xs-12">

                <div class="card mw faq" ng-repeat="faq in FAQ.left">
                    <div class="card-heading" ng-click="faq.open = !faq.open;">
                    <h4 class="card-title">{{ faq.question }}</h4>
                    </div>
                    <div class="panel-body" uib-collapse="!faq.open">
                    <p>{{ faq.answer }}</p>
                    </div>
                </div>

                </div>
                <div class="rpad col-sm-6 col-xs-12">

                <div class="card mw faq" ng-repeat="faq in FAQ.right">
                    <div class="card-heading" ng-click="faq.open = !faq.open;">
                    <h4 class="card-title">{{ faq.question }}</h4>
                    </div>
                    <div class="panel-body" uib-collapse="!faq.open">
                    <p>{{ faq.answer }}</p>
                    </div>
                </div>

                </div>
            </div>
        </div>
    </div>
    <!-- /ADVANTAGES -->

    <!-- RATINGS -->
    <div ng-include="'partials/landing-ratings.tpl.html'"></div>
    <!-- /RATINGS -->

    <!-- TRIANGLE BAR HOME -->
    <div class="triangle--bar--home triangle--bar--home-lightgray"></div>
    <!-- /TRIANGLE BAR -->

    <div class="footer-logo-row text-center">
        <div class="container-home">
            <h2 class="footer-logo-row-header">In de media</h2>
            <div class="row no-margin">
                <div class="col-xs-6 col-md-2"><img src="assets/img/media/de_volkskrant_logo.png" /></div>
                <div class="col-xs-6 col-md-2"><img src="assets/img/media/nos_logo.png" /></div>
                <div class="col-xs-6 col-md-2"><img src="assets/img/media/de_telegraaf_logo.png" /></div>
                <div class="col-xs-6 col-md-2"><img src="assets/img/media/financieel_dagblad_logo.png" /></div>
                <div class="col-xs-6 col-md-2"><img src="assets/img/media/bnr_nieuwsradio_logo.png" /></div>
                <div class="col-xs-6 col-md-2"><img src="assets/img/media/het_parool_logo.png" /></div>
            </div>
        </div>
    </div>
</div>
<!-- close home -->