
<div id="financeOverviewKmPoints" class="card mw" ng-if="me.provider.id === 1 && kmPoints.length > 0">
  <div class="card-heading">
    <h2>
      Opgebouwde beheerdersvergoeding
    </h2>
  </div>
  <div class="card-body">
    <table class="table financial"
        style="margin-bottom: 0;"
        hide-xs>
      <thead>
        <td style="width: 25%"><strong>Omschrijving</strong></td>
        <td style="width: 25%"><strong>Maand</strong></td>
        <td style="width: 20%"><strong>Van</strong></td>
        <td style="width: 15%" class="text-right"><strong>Bedrag</strong></td>
        <td style="width: 15%" class="text-right"><strong>Resterend</strong></td>
      </thead>
      <tbody>
        <tr class="bt" ng-class="{'text-muted': kmPoints.amount < 0.001}" ng-repeat="kmPoint in kmPoints | orderBy:'-createdAt'">
          <td style="width: 25%">{{kmPoint.description | toTitleCase}}</td>
          <td style="width: 25%">{{kmPoint.createdAt | amDateFormat:'MMMM YYYY'}}</td>
          <td style="width: 20%">{{kmPoint.sender.firstName}}</td>
          <td style="width: 15%" class="text-right">{{kmPoint.initalAmount | currency}}</td>
          <td style="width: 15%" class="text-right">{{kmPoint.amount | currency}}</td>
        </tr>
      </tbody>
    </table>
    <table class="table financial"
        style="margin-bottom: 0;"
        hide-gt-xs>
      <thead>
        <td style="width: 25%"><strong>Omschrijving</strong></td>
        <td style="width: 25%"><strong>Maand</strong></td>
        <td style="width: 25%" class="text-right"><strong>Resterend</strong></td>
      </thead>
      <tbody>
        <tr class="bt" ng-class="{'text-muted': kmPoints.amount < 0.001}" ng-repeat="kmPoint in kmPoints">
          <td style="width: 25%">{{kmPoint.description | toTitleCase}}</td>
          <td style="width: 25%">{{kmPoint.createdAt | amDateFormat:'MMMM'}}</td>
          <td style="width: 25%" class="text-right">{{kmPoint.amount | currency}}</td>
        </tr>
      </tbody>
    </table>
    <p ng-if="!kmPoints || kmPoints.length === 0">
      Je hebt nog geen opgebouwde beheerdersvergoeding.
    </p>
  </div>
</div>
