
<div class="card mw card-inverse text-white" style="background-color:#e6a500;">

  <div class="card-heading">
    <h3 class="text-white">
      <ng-md-icon icon="warning"></ng-md-icon>
      Handmatige controle vereist
    </h3>
  </div>
  <div class="card-body text-white">
    <p><strong>Let op:</strong> je account is nog niet actief.</p>
    <p>Een aantal van onze controles kon niet automatisch uitgevoerd worden. Jouw account controleren we handmatig op werkdagen tussen 09.00 en 17.00 uur. Het is niet mogelijk om eerder van de auto gebruik te maken. Zodra wij deze controles hebben uitgevoerd, ontvang je per mail bericht.</p>
  </div>

</div>
