<div id="trips-page-container" class="container container-transitional">
  <div class="row">
    <div class="rpad col-12">
      <h1 class="page-title">
        <!-- eigenaar/verhuurder van auto -->
        <span ng-if="me.preference === 'owner'">Verhuringen</span>
        <!-- verhuurder & huurder -->
        <span ng-if="me.preference === 'both'">Ritten en verhuringen</span>
        <!-- huurder / fallback -->
        <span ng-if="me.preference !== 'owner' && me.preference !== 'both'">Ritten</span>
      </h1>
    </div>
  </div>
  <div class="row">
    <div class="rpad col-md-4">
      <div class="card mw">
        <div class="card-body mywheels-form">
          <p><label>Periode</label></p>
          <div class="mw-timeframe-picker">
            <div class="dt-line dt-line-a">
              <label for="fromDate">Van</label>
              <div class="dt-controls">
                <div class="form-group mw-datepicker mw-icon"
                    style="width: 100%;"
                    bootstrap-date-time-picker="dateConfig"
                    mobile="mobile"
                    scroll-to-closest="'.mw-timeframe-picker'">
                  <md-icon aria-hidden="true">today</md-icon>
                  <input type="text" autocomplete="off" placeholder="{{ 'FROM' | translate }}"
                        required
                        id="fromDate"
                        ng-model="currentTimeFrame.fromDate"
                        ng-change="loadDate('both', true)" />
                  <div ng-if="mobile" class="mobile-mask"></div>
                </div>
              </div>
            </div>
            <div class="dt-line dt-line-b">
              <label for="toDate">Tot</label>
              <div class="dt-controls">
                <div class="form-group mw-datepicker mw-icon"
                    style="width: 100%;"
                    bootstrap-date-time-picker="dateConfig"
                    mobile="mobile"
                    scroll-to-closest="'.mw-timeframe-picker'">
                  <md-icon aria-hidden="true">today</md-icon>
                  <input type="text" autocomplete="off" placeholder="{{ 'UNTIL' | translate }}"
                        required
                        id="toDate"
                        ng-model="currentTimeFrame.untilDate"
                        ng-change="loadDate('both', true)" />
                  <div ng-if="mobile" class="mobile-mask"></div>
                </div>
              </div>
            </div>
          </div>

          <div ng-show="me.preference !== 'owner'">
            <p><label>Opties</label></p>
            <div>
              <md-checkbox ng-model="showCancelled" ng-change="loadDate('asRenter', true)">
                Geannuleerde en afgewezen ritten
              </md-checkbox>
            </div>
            <div>
              <md-checkbox ng-model="otherOnContract" ng-change="loadDate('asRenter', true)">
                Ritten van medebestuurders op jouw contract
              </md-checkbox>
            </div>
            <!--
            <div>
              <md-checkbox>
                Ritten waarbij je als medebestuurder staat
              </md-checkbox>
            </div>
            -->
          </div>
        </div>
      </div>
    </div>
    <div class="rpad col-md-8">
      <div class="card mw" ng-if="(!totalBookings.asOwner && !totalBookings.asRenter) || renew">
        <div class="card-body">
          <div ng-if="showLoaderSpinner">
            <md-progress-circular md-mode="indeterminate" md-diameter="96"
              style="margin: 0 auto;"></md-progress-circular>
          </div>
          <div ng-if="!showLoaderSpinner && !renew">
            {{ 'NO_TRIPS' | translate }}
          </div>
        </div>
      </div>

      <!-- Bookings for renter -->
      <div class="card mw" ng-if="totalBookings.asRenter > 0 && !renew">

        <div class="card-heading">
          <h3 class="card-title">
            {{ 'TRIPS_BOOKINGS_FOR_RENTER' | translate }} <small style="font-size:14px;">(totaal: {{totalBookings.asRenter}})</small>
          </h3>
        </div>

        <div class="card-body">

          <!-- desktop view -->
          <div class="visible-lg-block">
            <table class="table trips"
              ng-style="lastCallRenter ? { 'margin-bottom': 0 } : {}">
              <tbody>
                <tr 
                  ng-class="{
                    cancelled: ['cancelled', 'owner_cancelled'].indexOf(booking.status) >= 0, 
                    rejected: booking.status === 'rejected', 
                    requested: booking.status === 'requested'
                  }"
                  ng-repeat="booking in bookings.asRenter"
                  class="clickable-row"
                  ui-sref="owm.booking.show({bookingId: booking.id})"
                >
                  <td width="15%" class="media">
                    <ow-resource-picture class="media-object img-resource-small pull-left align-middle" resource="booking.resource" size="small"></ow-resource-picture>
                  </td>
                  <td width="25%">
                    <strong>{{ (booking.beginBooking | amDateFormat:'DD-MM-YYYY') || (booking.beginRequested | amDateFormat:'DD-MM-YYYY') }}</strong>
                    {{ (booking.beginBooking | amDateFormat:'HH:mm') || (booking.beginRequested | amDateFormat:'HH:mm') }}
                    <br/>
                    <strong>{{ (booking.endBooking | amDateFormat:'DD-MM-YYYY') || (booking.endRequested | amDateFormat:'DD-MM-YYYY') }}</strong>
                    {{ (booking.endBooking | amDateFormat:'HH:mm') || (booking.endRequested | amDateFormat:'HH:mm') }}
                  </td>
                  <td width="40%">
                    {{ booking.resource.alias | limitTo: 30}}{{booking.resource.alias.length > 30 ? '...' : ''}}
                    <br/>
                    van {{ booking.resource.owner | fullname }}
                  </td>
                  <td width="20%">
                    <div class="medebestuurder" ng-if="booking.person.id !== me.id">
                      Rit van {{ booking.person.firstName }}
                    </div>

                    <span ng-if="booking.status === 'accepted' && (booking.approved === 'OK' || !booking.approved) && (now < booking.beginBooking || booking.trip.odoBegin || booking.trip.finalized || booking.resource.boardcomputer)">
                      Geaccepteerd
                    </span>
                    <span ng-if="booking.status === 'requested'">In aanvraag</span>
                    <span ng-if="booking.status === 'rejected'">Afgewezen</span>
                    <span ng-if="['cancelled', 'owner_cancelled'].indexOf(booking.status) >= 0">Geannuleerd</span>
                    <span ng-if="booking.status === 'accepted' && booking.approved === 'BUY_VOUCHER'" class="text-danger">
                      <md-button class="md-raised md-primary red">Betaal rit</md-button>
                    </span>
                    <!-- De conditie (booking.person.id === me.id) checkt of je de daadwerkelijke huurder bent,
                          of dat de verhuring door een contractant is gedaan. -->
                    <span ng-if="booking.person.id === me.id &&
                      booking.status === 'accepted' && now > booking.beginBooking && !booking.resource.boardcomputer && (booking.approved === 'OK' || !booking.approved) && !booking.trip.odoBegin && !booking.trip.finalized">
                      <md-button class="md-raised md-primary">Rit administreren</md-button>
                    </span>
                  </td>
                  <td class="text-right" ng-if="me.provider.id === 50">
                    <a target="_blank" ng-href="{{ createTripDetailsLink(booking) }}"><i class="fa fa-fw fa-external-link-square"></i>PDF</a>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>

          <!-- mobile view -->
          <table class="table trips hidden-lg"
            ng-style="lastCallRenter ? { 'margin-bottom': 0 } : {}">
            <tbody>
              <tr 
                ng-class="{
                  cancelled: ['cancelled', 'owner_cancelled'].indexOf(booking.status) >= 0, 
                  rejected: booking.status === 'rejected', 
                  requested: booking.status === 'requested'
                }"
                ng-repeat="booking in bookings.asRenter"
                class="clickable-row"
                ui-sref="owm.booking.show({bookingId: booking.id})"
              >
                <td>
                  <table>
                    <tr>
                      <td>
                        <h4>{{ booking.resource.alias | limitTo: 30}}{{booking.resource.alias.length > 30 ? '...' : ''}}</h4>

                        <div class="medebestuurder" ng-if="booking.person.id !== me.id">
                          Rit van {{ booking.person.firstName }}
                        </div>
                      </td>
                    </tr>
                    <tr layout="row" class="align-middle">
                      <td flex="30" class="media">
                        <ow-resource-picture class="media-object img-resource-small pull-left align-middle" resource="booking.resource" size="small"></ow-resource-picture>
                      </td>
                      <td flex="70">
                        <div>
                          <strong>{{ (booking.beginBooking | amDateFormat:'DD-MM-YYYY') || (booking.beginRequested | amDateFormat:'DD-MM-YYYY') }}</strong>
                          {{ (booking.beginBooking | amDateFormat:'HH:mm') || (booking.beginRequested | amDateFormat:'HH:mm') }}
                          <br/>
                          <strong>{{ (booking.endBooking | amDateFormat:'DD-MM-YYYY') || (booking.endRequested | amDateFormat:'DD-MM-YYYY') }}</strong>
                          {{ (booking.endBooking | amDateFormat:'HH:mm') || (booking.endRequested | amDateFormat:'HH:mm') }}
                        </div>
                        
                        <div>
                          <span ng-if="booking.status === 'accepted'">Geaccepteerd</span>
                          <span ng-if="booking.status === 'requested'">In aanvraag</span>
                          <span ng-if="booking.status === 'rejected'">Afgewezen</span>
                          <span ng-if="['cancelled', 'owner_cancelled'].indexOf(booking.status) >= 0">Geannuleerd</span>
                        </div>
                      </td>
                    </tr>
                    <tr>
                      <td class="text-center action">
                        <span ng-if="booking.status === 'accepted' && booking.approved === 'BUY_VOUCHER'" class="text-danger">
                          <md-button class="md-raised md-primary red">Betaal rit</md-button>
                        </span>
                        <!-- De conditie (booking.person.id === me.id) checkt of je de daadwerkelijke huurder bent,
                              of dat de verhuring door een contractant is gedaan. -->
                        <span ng-if="booking.person.id === me.id &&
                          booking.status === 'accepted' && now > booking.beginBooking && !booking.resource.boardcomputer && (booking.approved === 'OK' || !booking.approved) && !booking.trip.odoBegin && !booking.trip.finalized">
                          <md-button class="md-raised md-primary">Rit administreren</md-button>
                        </span>
                      </td>
                    </tr>
                  </table>
                </td>
              </tr>
            </tbody>
          </table>

          <!-- load more bookings -->
          <center><button ng-click="loadDate('asRenter')" class="mywheels-btn mywheels-btn-normal mywheels-btn-big" ng-if="!lastCallRenter">
              <span ng-if="!showLoaderSpinner">Laad meer</span>
              <span ng-if="showLoaderSpinner"><i class="fa fa-spinner fa-spin"></i></span>
          </button></center>

        </div>
      </div>

      <!-- Bookings for owner -->
      <div class="card mw" ng-if="totalBookings.asOwner > 0 && !renew">

        <div class="card-heading">
          <h3 class="card-title">
            {{ 'TRIPS_BOOKINGS_FOR_OWNER' | translate }} <small style="font-size:14px;">(totaal: {{totalBookings.asOwner}})</small>
          </h3>
        </div>

        <div class="card-body">

          <!-- desktop view -->
          <div class="visible-lg-block">
            <table class="table trips"
              ng-style="lastCallOwner ? { 'margin-bottom': 0 } : {}">
              <tbody>
                <tr 
                  ng-class="{
                    cancelled: ['cancelled', 'owner_cancelled'].indexOf(booking.status) >= 0, 
                    rejected: booking.status === 'rejected', 
                    requested: booking.status === 'requested'
                  }"
                  ng-repeat="booking in bookings.asOwner"
                  class="clickable-row"
                  ui-sref="owm.booking.show({bookingId: booking.id})"
                >
                  <td width="15%" class="media">
                    <img class="media-object img-user-normal pull-left align-middle" person-profile-image="{ person: booking.person, size: 'normal' }" />
                  </td>
                  <td width="25%">
                    <strong>{{ (booking.beginBooking | amDateFormat:'DD-MM-YYYY') || (booking.beginRequested | amDateFormat:'DD-MM-YYYY') }}</strong>
                    {{ (booking.beginBooking | amDateFormat:'HH:mm') || (booking.beginRequested | amDateFormat:'HH:mm') }}
                    <br/>
                    <strong>{{ (booking.endBooking | amDateFormat:'DD-MM-YYYY') || (booking.endRequested | amDateFormat:'DD-MM-YYYY') }}</strong>
                    {{ (booking.endBooking | amDateFormat:'HH:mm') || (booking.endRequested | amDateFormat:'HH:mm') }}
                  </td>
                  <td width="40%">
                    {{ booking.person | fullname }}
                    <br/>
                    {{ booking.resource.alias | limitTo: 30}}{{booking.resource.alias.length > 30 ? '...' : ''}}
                  </td>
                  <td width="20%">
                    <span ng-if="booking.status === 'accepted' && (booking.ok || booking.endBooking < now) && (now < booking.beginBooking || booking.trip.odoBegin || booking.trip.finalized || booking.resource.boardcomputer)">
                      Geaccepteerd
                    </span>
                    <span ng-if="booking.status === 'accepted' && booking.approved === 'BUY_VOUCHER'" class="text-danger">
                      Te betalen
                    </span>
                    <span ng-if="booking.status === 'accepted' && booking.approved !== 'BUY_VOUCHER' && !booking.ok && booking.endBooking > now" class="text-danger">
                      De boeking is nog niet in orde
                    </span>
                    <span ng-if="booking.status === 'rejected'">Afgewezen</span>
                    <span ng-if="['cancelled', 'owner_cancelled'].indexOf(booking.status) >= 0">Geannuleerd</span>
                    <span ng-if="booking.status === 'requested'"">
                      <md-button class="md-raised md-primary">Reageer</md-button>
                    </span>
                    <span ng-if="booking.status === 'accepted' && now > booking.beginBooking && !booking.resource.boardcomputer && (booking.approved === 'OK' || !booking.approved) && !booking.trip.odoBegin && !booking.trip.finalized">
                      <md-button class="md-raised md-primary">Rit administreren</md-button>
                    </span>
                  </td>
                  <td class="text-right" ng-if="me.provider.id === 50">
                    <a target="_blank" ng-href="{{ createTripDetailsLink(booking) }}"><i class="fa fa-fw fa-external-link-square"></i>PDF</a>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>

          <!-- mobile view -->
          <table class="table trips hidden-lg"
            ng-style="lastCallOwner ? { 'margin-bottom': 0 } : {}">
            <tbody>
              <tr 
                ng-class="{
                  cancelled: ['cancelled', 'owner_cancelled'].indexOf(booking.status) >= 0, 
                  rejected: booking.status === 'rejected', 
                  requested: booking.status === 'requested'
                }"
                ng-repeat="booking in bookings.asOwner"
                class="clickable-row"
                ui-sref="owm.booking.show({bookingId: booking.id})"
              >
                <td>
                  <table>
                    <tr>
                      <td>
                        <h4>{{ booking.person | fullname }}</h4>
                      </td>
                    </tr>
                    <tr layout="row" class="align-middle">
                      <td flex="30" class="media">
                        <img class="media-object img-user-normal pull-left align-middle" person-profile-image="{ person: booking.person, size: 'normal' }" />
                      </td>
                      <td flex="70">
                        {{ booking.resource.alias | limitTo: 20}}{{booking.resource.alias.length > 20 ? '...' : ''}}
                        <br/>
                        <strong>{{ (booking.beginBooking | amDateFormat:'DD-MM-YYYY') || (booking.beginRequested | amDateFormat:'DD-MM-YYYY') }}</strong>
                        {{ (booking.beginBooking | amDateFormat:'HH:mm') || (booking.beginRequested | amDateFormat:'HH:mm') }}
                        <br/>
                        <strong>{{ (booking.endBooking | amDateFormat:'DD-MM-YYYY') || (booking.endRequested | amDateFormat:'DD-MM-YYYY') }}</strong>
                        {{ (booking.endBooking | amDateFormat:'HH:mm') || (booking.endRequested | amDateFormat:'HH:mm') }}
                        <br/>
                        <span ng-if="booking.status === 'accepted'">Geaccepteerd</span>
                        <span ng-if="booking.status === 'requested'">In aanvraag</span>
                        <span ng-if="booking.status === 'rejected'">Afgewezen</span>
                        <span ng-if="['cancelled', 'owner_cancelled'].indexOf(booking.status) >= 0">Geannuleerd</span>
                      </td>
                    </tr>
                    <tr>
                      <td class="text-center action">
                        <span ng-if="booking.status === 'requested'"" class="text-danger">
                          <md-button class="md-raised md-primary">Reageer</md-button>
                        </span>
                        <span ng-if="booking.status === 'accepted' && now > booking.beginBooking && !booking.resource.boardcomputer && (booking.approved === 'OK' || !booking.approved) && !booking.trip.odoBegin && !booking.trip.finalized">
                          <md-button class="md-raised md-primary">Rit administreren</md-button>
                        </span>
                      </td>
                    </tr>
                  </table>
                </td>
              </tr>
            </tbody>
          </table>

          <!-- load more bookings -->
          <center><button ng-click="loadDate('asOwner')" class="mywheels-btn mywheels-btn-normal mywheels-btn-big" ng-if="!lastCallOwner">
              <span ng-if="!showLoaderSpinner">Laad meer</span>
              <span ng-if="showLoaderSpinner"><i class="fa fa-spinner fa-spin"></i></span>
          </button></center>

        </div>
      </div>
      </div>
    </div>
  </div>
</div>