<div id="place-page" class="home landing" style="background: none;">

  <div class="hero thinner inverted text-center"
      ng-style="{ 'background-image': 'url(' + place.picture + ')' }">
    <div class="hero-overlay"></div>
    <div class="landing-title">
      <h1><span class="highlight">{{ metaInfo.title }}</span></h1>
      <!--<p class="sub" ng-if="place.lead"><span class="highlight">{{ place.lead }}</span></p>-->
    </div>
  </div>

  <div style="padding-top: 0; margin-top: -2.6rem;" class="landing-lead">
    <div class="container container-transitional" style="padding-top: 0;">
      <div class="row">
        <div class="rpad col-md-offset-1 col-md-10 col-xs-12">
          <ow-geocoder-searchbar searchtext="place.name" shadow="true"></ow-geocoder-searchbar>
        </div>
      </div>
      <div class="row" style="padding: 3rem 0 2rem 0;">
        <div class="rpad col-md-offset-1 col-md-10">
          <p>{{ place.lead }}</p>
        </div>
      </div>
    </div>
  </div>

  <div id="place-page-container" class="container container-transitional">
    <!--
    <div class="row">
      <div class="rpad col-md-offset-2 col-md-8 col-xs-12">
        <div class="card mw">
          <div class="card-body">
            <div ng-bind-html="place.body"></div>
          </div>
        </div>
      </div>
    </div>
    -->

    <div class="resources-for-category"
        ng-if="!searchBoxes.show">
      <div class="row">
        <div class="rpad col-xs-12">
          <h2 class="without-card">
            <span class="skel inline" style="width: 30rem; height: 4rem;"></span>
          </h2>
          <p class="sub">
            <span class="skel inline" style="width: 70rem; height: 2.6rem;"></span>
          </p>
        </div>
      </div>
      <div class="row is-flex">
        <div class="rpad col-xs-12 col-sm-6 col-md-3" ng-repeat="i in [0,1,2,3]">
          <div class="skel"
            style="height: 34rem;"></div>
        </div>
      </div>
      <div class="row">
        <div class="rpad col-xs-12">
          <p style="text-align: center;">
            <span class="skel inline" style="margin-top: 3rem; width: 24rem; height: 4rem;"></span>
          </p>
        </div>
      </div>
    </div>
    
    <div class="resources-for-category"
        ng-repeat="box in searchBoxes.show">
      <div class="row">
        <div class="rpad col-xs-12">
          <h2 class="without-card">{{ box.title }}</h2>
          <p class="sub" ng-if="box.description">{{ box.description }}</p>
        </div>
      </div>
      <div class="row is-flex">
        <div class="rpad col-xs-12 col-sm-6 col-md-3" ng-repeat="resource in box.data.results">
          <ow-resource-card-box
            resource="resource"
            style="flex: 1;">
          </ow-resource-card-box>
          <!--
          <ow-resource-card
            class="vertical"
            lightweight="true"
            resource="resource"
            on-select="selectResource(resource)">
          </ow-resource-card>
          -->
        </div>
      </div>
      <div class="row">
        <div class="rpad col-xs-12">
          <p style="text-align: center;">
            <button class="mywheels-btn mywheels-btn-big mywheels-btn-call-to-action mywheels-btn-margin-top"
                    ui-sref="{{ box.sref }}"
                    md-ink-ripple="#9a3d26">
              Bekijk alle {{ box.data.totalResults }} resultaten <ng-md-icon icon="arrow_forward"></ng-md-icon>
            </button>
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="full-gmaps" ng-if="map">
    <div style="height: 5px;">
      <md-progress-linear ng-show="mapLoading" md-mode="indeterminate"></md-progress-linear>
    </div>
    <div ng-if="!loadMap"
        class="map-skeleton"
        ng-click="loadMapNow()">
      <button class="mywheels-btn mywheels-btn-big mywheels-btn-call-to-action"
              ng-click="loadMapNow()"
              md-ink-ripple="#9a3d26">
        Kaart laden <ng-md-icon icon="arrow_forward"></ng-md-icon>
      </button>
    </div>
    <div ng-if="loadMap">
      <ui-gmap-google-map
        class="google-map"
        center="map.center"
        zoom="map.zoom"
        draggable="map.draggable"
        dragging="map.dragging"
        bounds="map.bounds"
        events="map.events"
        options="map.options"
        control="map.control">

        <ui-gmap-markers
          models="map.markers"
          idKey="'id'"
          icon="'icon'"
          
          doCluster=""
          clusterOptions="map.clusterOptions"

          coords="'coords'"
          click="'onClick'">
        </ui-gmap-markers>

        <ui-gmap-window
          coords="selectedMarker.coords"
          show="selectedMarker.showWindow"
          closeClick="closeWindow()"
          templateUrl="'resource/search/map/resource-marker-window.tpl.html'"
          templateParameter="selectedMarker"
          options="map.windowOptions">
        </ui-gmap-window>

      </ui-gmap-google-map>
    </div>
  </div>

  <!-- WIL JE MEEDOEN? -->
  <div class="container-fluid
              container-home
              mywheels-open-meedoen">
    <div class="rpad col-xs-12">
      <h2>Zo makkelijk is een auto huren bij MyWheels:</h2>

      <div class="open-steps">
        <div class="step">
          <div class="circle"><ng-md-icon size="50" icon="create"></ng-md-icon></div>
          <div class="step-label">Zoek een auto</div>
          <p>Vind een auto in jouw buurt door op postcode of plaats te zoeken.<br /><br />
          Over heel Nederland verspreid delen mensen hun auto's via het platform. Ook biedt MyWheels eigen
           auto's aan, die extra gemakkelijk te huren zijn.</p>
        </div>
        <div class="line"></div>
        <div class="step">
          <div class="circle"><ng-md-icon size="50" icon="directions_car"></ng-md-icon></div>
          <div class="step-label">Reserveren</div>
          <p>Vul de tijden in dat je de auto wilt huren. Heb je nog geen account? Dan vragen we je om je gegevens in te vullen. Daarna versturen we je verzoek naar de verhuurder van de auto. Ook kun je kiezen op welk soort contract je wilt rijden.</p>
        </div>
        <div class="line"></div>
        <div class="step">
          <div class="circle"><ng-md-icon size="50" icon="euro_symbol"></ng-md-icon></div>
          <div class="step-label">Op pad</div>
          <p>Zodra je huurverzoek is geaccepteerd, kun je de auto ophalen en op pad. MyWheels Open auto's worden direct geaccepteerd en kun je opnenen met je smartphone of OV-chipkaart. Bij een auto van een particulier moet je nog even afspreken om de sleutel op te halen.<br /><br />
          Breng de auto na de rit weer terug naar dezelfde plek, en vergeet niet de kilometerstanden door te geven indien dit nodig is.</p>
        </div>
      </div>
    </div>
  </div>
  <!-- /WIL JE MEEDOEN? -->


  <!-- ONZE IDEALEN -->
  <div class="container-fluid" style="background: white; padding: 4rem 0; min-height: 60vh;">
    <div class="container container-home">
      <div class="row">
        <div class="rpad col-xs-12">
          <h2 style="text-align: center;">Onze idealen</h2>
        </div>
      </div>
      <div class="row">
        <div class="rpad col-sm-8">A</div>
        <div class="rpad col-sm-4">
          B
        </div>
      </div>
    </div>
  </div>
  <!-- /ONZE IDEALEN -->


  <!-- RATINGS -->
  <div class="container-fluid slider">
    <div class="ratings-mywheels container-home">
      
      <div class="rpad col-xs-12">
        <h2 class="ratings--heading">Sluit je aan bij 60.000 autodelers</h2>
      </div>

      <div class="ratings--average text-center">
        <span class="ratings--average--stars">
          <ng-md-icon icon="star" aria-hidden="true" class="rating--title--icon"></ng-md-icon>
          <ng-md-icon icon="star" aria-hidden="true" class="rating--title--icon"></ng-md-icon>
          <ng-md-icon icon="star" aria-hidden="true" class="rating--title--icon"></ng-md-icon>
          <ng-md-icon icon="star" aria-hidden="true" class="rating--title--icon"></ng-md-icon>
          <ng-md-icon icon="star_half" aria-hidden="true" class="rating--title--icon grey-star"></ng-md-icon>
          <span class="ratings--average--text"><strong>7.8</strong><small> / 10</small></span>
          <br/>
          Gebaseerd op 68 beoordelingen bij <a href="https://kiyoh.nl/mywheels/" target="_blank">Kiyoh</a>
        </span>
      </div>

      <div class="ratings">
        <div class="rating">
          <div layout="row">
            <span class="rating--title--stars">
              <ng-md-icon icon="star" aria-hidden="true" class="rating--title--icon"></ng-md-icon>
              <ng-md-icon icon="star" aria-hidden="true" class="rating--title--icon"></ng-md-icon>
              <ng-md-icon icon="star" aria-hidden="true" class="rating--title--icon"></ng-md-icon>
              <ng-md-icon icon="star" aria-hidden="true" class="rating--title--icon"></ng-md-icon>
              <ng-md-icon icon="star_half" aria-hidden="true" class="rating--title--icon"></ng-md-icon>
            </span>
            <span class="rating--title--text">
              <h3>9</h3>
            </span>
          </div>
          <p class="rating--content">Duidelijke instructies via de mail. Informatie is helder. Erg handig in het gebruik. Was de eerste keer, en zeker voor herhaling vatbaar!</p>
          <p class="rating--sender"><strong>Marlies</strong> uit Utrecht op 12 februari 2018</p>
        </div>

        <div class="rating">
          <div layout="row">
            <span class="rating--title--stars">
              <ng-md-icon icon="star" aria-hidden="true" class="rating--title--icon"></ng-md-icon>
              <ng-md-icon icon="star" aria-hidden="true" class="rating--title--icon"></ng-md-icon>
              <ng-md-icon icon="star" aria-hidden="true" class="rating--title--icon"></ng-md-icon>
              <ng-md-icon icon="star" aria-hidden="true" class="rating--title--icon"></ng-md-icon>
              <ng-md-icon icon="star" aria-hidden="true" class="rating--title--icon"></ng-md-icon>
            </span>
            <span class="rating--title--text">
              <h3>10</h3>
            </span>
          </div>
          <p class="rating--content">Al jaren lid en alleen maar positieve ervaringen gehad! Groot aanbod van auto's met MyWheels Open in mijn woonplaats, heel behulpzame medewerkers en ook nog erg voordelig geprijsd. Laatste jaar veel van particulieren gehuurd, ook dit werkt vlekkeloos. Dankzij MyWheels hebben we geen eigen auto nodig.</p>
          <p class="rating--sender"><strong>Marcel</strong> uit Houten op 7 oktober 2017</p>
        </div>
      </div>

    </div>
  </div>
  <!-- /RATINGS -->

  <!-- TRIANGLE BAR HOME -->
  <div class="triangle--bar--home triangle--bar--home-lightgray"></div>
  <!-- /TRIANGLE BAR -->

  <div class="footer-logo-row text-center">
    <div class="container-home">
      <h2 class="footer-logo-row-header">In de media</h2>
      <div class="row no-margin">
        <div class="col-xs-6 col-md-2"><img src="assets/img/media/de_volkskrant_logo.png" /></div>
        <div class="col-xs-6 col-md-2"><img src="assets/img/media/nos_logo.png" /></div>
        <div class="col-xs-6 col-md-2"><img src="assets/img/media/de_telegraaf_logo.png" /></div>
        <div class="col-xs-6 col-md-2"><img src="assets/img/media/financieel_dagblad_logo.png" /></div>
        <div class="col-xs-6 col-md-2"><img src="assets/img/media/bnr_nieuwsradio_logo.png" /></div>
        <div class="col-xs-6 col-md-2"><img src="assets/img/media/het_parool_logo.png" /></div>
      </div>
    </div>
  </div>

</div>
