
<md-dialog flex-xs="90" flex-sm="60" flex-md="50" flex-lg="30" flex-xl="25"
           class="info-dialog">
  <md-dialog-content class="md-dialog-content">
    <h3 class="with-close-button">
      <ng-md-icon icon="info_italic" size="28"></ng-md-icon>
      Dagprijsberekening
      <md-button class="md-icon-button close-button" ng-click="hide()">
        <ng-md-icon icon="close"></ng-md-icon>
      </md-button>
    </h3>
    <p>Je betaalt nooit meer dan de dagprijs over één etmaal.</p>
    <p>Voor de opgegeven tijdsduur zouden de uren maal de uurprijs over de dagprijs gaan, en daarom wordt hiervoor in de plaats slechts één keer de dagprijs berekend over deze uren.</p>
    <div class="dialog-buttons-right" style="margin: .5rem -.5rem -.5rem 0;">
      <button class="mywheels-btn mywheels-btn-border"
              md-ink-ripple="#4b702c"
              ng-click="hide()"
              style="white-space: nowrap;">
        Sluiten
      </button>
    </div>
  </md-dialog-content>
</md-dialog>
