
<!--
params:
  resource
  title [optional]
-->
<md-dialog flex-xs="90" flex-sm="60" flex-md="50" flex-lg="40" flex-xl="30"
           class="info-dialog">
  <md-dialog-content class="md-dialog-content">
    <h3 class="with-close-button">
      <ng-md-icon icon="info_italic" size="28"></ng-md-icon>
      {{ params.title || 'Totaal te betalen' }}
      <md-button class="md-icon-button close-button" ng-click="hide()">
        <ng-md-icon icon="close"></ng-md-icon>
      </md-button>
    </h3>
    <p>Naast de vaste huurkosten betaal je voor het huren van deze auto een bedrag per kilometer{{ resource.refuelByRenter ? '.' : ' en een brandstofprijs.' }}</p>
    <p>Deze kilometerkosten zijn gebaseerd op een schatting van het aantal km per uur. Rijd je minder? Dan kun je na afloop het teveel betaalde bedrag terugvragen.</p>
    <div class="dialog-buttons-right" style="margin: .5rem -.5rem -.5rem 0;">
      <button class="mywheels-btn mywheels-btn-border"
              md-ink-ripple="#4b702c"
              ng-click="hide()"
              style="white-space: nowrap;">
        Sluiten
      </button>
    </div>
  </md-dialog-content>
</md-dialog>
