
<md-dialog flex-xs="90" flex-sm="60" flex-md="50" flex-lg="30" flex-xl="25"
           class="info-dialog">
  <md-dialog-content class="md-dialog-content">
    <h3 class="with-close-button">
      <ng-md-icon icon="info_italic" size="28"></ng-md-icon>
      Eigen risico
      <md-button class="md-icon-button close-button" ng-click="hide()">
        <ng-md-icon icon="close"></ng-md-icon>
      </md-button>
    </h3>
    <p>MyWheels hanteert bij schade een eigen risico van 500 euro. Je kunt dit bedrag verlagen naar 250 euro voor 3,50 euro per dag. Bij een MyWheels Go contract ben je verplicht het eigen risico te verlagen. Kijk bij <a target="_blank" href="https://mywheels.nl/autodelen/hoe-huren-werkt/tarieven-huren/">Tarieven</a> voor meer info.</p>
    <div class="dialog-buttons-right" style="margin: .5rem -.5rem -.5rem 0;">
      <button class="mywheels-btn mywheels-btn-border"
              md-ink-ripple="#4b702c"
              ng-click="hide()"
              style="white-space: nowrap;">
        Sluiten
      </button>
    </div>
  </md-dialog-content>
</md-dialog>
