
<!--
params: NONE
-->
<md-dialog flex-xs="90" flex-sm="60" flex-md="50" flex-lg="40" flex-xl="30"
           class="info-dialog">
  <md-dialog-content class="md-dialog-content">
    <h3 class="with-close-button">
      <ng-md-icon icon="local_gas_station" size="28"></ng-md-icon>
      Zelf tanken
      <md-button class="md-icon-button close-button" ng-click="hide()">
        <ng-md-icon icon="close"></ng-md-icon>
      </md-button>
    </h3>
    <p>De verhuurder geeft de auto met een volle tank mee, en jij levert de auto ook met een volle tank weer in. Aan het einde van de verhuurperiode, voordat je hem inlevert, tank je de auto dan af. Op deze manier betaal jij alleen de brandstofkosten van je eigen rit.</p>
    <div class="dialog-buttons-right" style="margin: .5rem -.5rem -.5rem 0;">
      <button class="mywheels-btn mywheels-btn-border"
              md-ink-ripple="#4b702c"
              ng-click="hide()"
              style="white-space: nowrap;">
        Sluiten
      </button>
    </div>
  </md-dialog-content>
</md-dialog>
