<div
  ui-sref="owm.booking.show({ bookingId: b.id })"
  style="
    border-top: 1px solid #e5e5e5;
  "
>
  <div layout="row">
    <div layout="column" style="flex-grow: 1;">
      <h4 class="visible-xs-block" style="color: #333; font-size: 1.8rem; margin: 0; padding: 1.3rem 0 0;">{{ b.resource.alias }}</h4>

      <div layout="row" style="flex-grow: 1; justify-content: space-around; flex-wrap: wrap;">

        <div style="padding: 1.3rem; padding-left: 0;">
          <img ng-src="{{ b.resource | resourcePicture: 'normal' }}" class="img-user-normal" alt="{{ b.resource.alias }}" />
        </div>

        <div style="padding: 1.3rem;">
          <div ng-if="b.beginBooking && !b.beginRequested">
            <div class="booking__timeframe">
              <datetime datetime="{{ b.beginBooking }}"></datetime>
              <datetime datetime="{{ b.endBooking }}"></datetime>
              <span class="tag tag-{{ b.status }}">{{ b.status | bookingStatus }}</span>
            </div>
          </div>
          <div ng-if="b.beginRequested">
            <div class="booking__timeframe">
              <datetime datetime="{{ b.beginRequested }}"></datetime>
              <datetime datetime="{{ b.endRequested }}"></datetime>
              <span class="tag tag-{{ b.status }}">{{ b.status | bookingStatus }}</span>
            </div>
          </div>
        </div>

        <div class="hidden-xs" style="padding: 1.3rem; flex-grow: 1;">
          <div class="truncate">
            {{ b.resource.alias }}
          </div>
          <div class="truncate" style="color: #777;">
            <ng-md-icon size="20" icon="person"></ng-md-icon> {{ b.resource.owner | fullname }}
          </div>
          <div class="truncate" style="color: #777;">
            <ng-md-icon size="20" icon="location_on"></ng-md-icon> {{ b.resource.location }} {{ b.resource.streetNumber }}
          </div>
        </div>
      </div>
    </div>

    <div flex="nogrow" style="display: flex; flex-direction: column; justify-content: center;">
      <ng-md-icon icon="keyboard_arrow_right" style="color: #bbb;"></ng-md-icon>
    </div>
  </div>

</div>
