<md-card class="card">
    <md-card-title class="card-max-width">
        <md-card-title-text layout="colum" layout-wrap style="padding-bottom: 0px;" class="list-your-car--title">
            <h3 class="no-margin" style="font-size: 2rem" flex="100" ng-show="!$root.personSubmitted && !personSubmitted">
                <span>Persoonsgegevens</span>
            </h3>
            <h2 class="no-margin" flex="100" ng-show="$root.personSubmitted || personSubmitted">
                <ng-md-icon icon="check" class="text-success"></ng-md-icon>
                <span ng-show="$root.personSubmitted || personSubmitted" class="text-success">Jouw auto staat online!</span>
            </h2>
        </md-card-title-text>
    </md-card-title>
    <md-card-body class="card-body card-max-width">
        <div class="mywheels-form">

            <p ng-show="!$root.personSubmitted && !personSubmitted">{{ ('LIST_YOUR_CAR_PERSON' | translate).split('&nbsp;').join(' ') }}</p>
            
            <section ng-show="$root.personSubmitted || personSubmitted">
                <p>Jouw {{ resource.brand | toTitleCase }} is nu beschikbaar voor meer dan 50.000 leden van MyWheels. Klik hieronder om te bekijken hoe zij jouw auto zien.</p>

                <center><button type="button" name="button" class="mywheels-btn mywheels-btn-default mywheels-btn-big" ui-sref="owm.resource.show({city: (resource.city | replaceSpaceToDash | lowercase), resourceId: resource.id})">Bekijk voorbeeld</button></center>

                <h3>Promoot je auto</h3>
                <p ng-if="resource.pictures.length > 0">Wij sturen alle gebruikers in de buurt een mail om ze te laten weten dat jouw auto beschikbaar is. Op onze kosten krijgen zij 5 euro korting op een eerste rit in jouw auto.</p>

                <p>Wil je jouw auto zelf promoten? Breng dan hieronder je vrienden op de hoogte dat hij beschikbaar is.<p>

            <div class="share-buttons text-center">
                <a 
                    href="#"
                    socialshare
                    socialshare-provider="facebook"
                    socialshare-via="appConfig.fbAppId"
                    socialshare-text="Huur mijn {{ resource.brand | toTitleCase }} {{ resource.model | toTitleCase }} voor {{ resource.price.dayRateTotal | currency }} per dag via MyWheels"
                    socialshare-hashtags="autodelen"
                    socialshare-url="{{ shareUrl }}"
                    class="md-button md-raised facebook"
                    ga-track-event="['interaction', 'shareOwnResourceFacebook', 'resourceCreate']"
                >
                    <i class="fa fa-fw fa-2x fa-facebook"></i>Facebook
                </a>
                <a 
                    href="#"
                    socialshare
                    socialshare-provider="twitter"
                    socialshare-text="Huur mijn {{ resource.brand | toTitleCase }} {{ resource.model | toTitleCase }} voor {{ resource.price.dayRateTotal | currency }} per dag via MyWheels"
                    socialshare-hashtags="autodelen"
                    socialshare-url="{{ shareUrl }}"
                    class="md-button md-raised twitter"
                    ga-track-event="['interaction', 'shareOwnResourceTwitter', 'resourceCreate']"

                >
                    <i class="fa fa-fw fa-2x fa-twitter"></i>Twitter
                </a>
                <a 
                    href="#"
                    socialshare
                    socialshare-provider="whatsapp"
                    socialshare-text="Huur mijn {{ resource.brand | toTitleCase }} {{ resource.model | toTitleCase }} voor {{ resource.price.dayRateTotal | currency }} per dag via MyWheels"
                    socialshare-url="{{ shareUrl }}"
                    class="md-button md-raised whatsapp"
                    ga-track-event="['interaction', 'shareOwnResourceWhatsApp', 'resourceCreate']"
                    hide-gt-xs
                >
                    <i class="fa fa-fw fa-2x fa-whatsapp"></i>WhatsApp
                </a>
            </div>

            </section>

            <personal-data resource="resource"></personal-data>

        </div>
    </md-card-body>

    <!-- Referral program-->
    <div ng-show="$root.personSubmitted || personSubmitted">
        <div 
            class="mywheels--open--card no-margin"
            ng-click="goToInviteFriends()"
            ga-track-event="['interaction', 'inviteFriendsBanner', 'dashboard']"
            hide-xs
        >
         <img src="../branding/img/vrienden_uitnodigen_dashboard.png" class="banner" />
             <a class="mywheels-btn mywheels-btn-light mywheels-btn-big" md-ink-ripple="#ded8d8" class="md-primary" style="right:0.5em; font-size:1.1em;">{{ 'INVITE_FRIENDS_MENU' | translate }}</a>
        </div>

        <div 
            class="mywheels--open--card no-margin"
            ng-click="goToInviteFriends()"
            ga-track-event="['interaction', 'inviteFriendsBanner', 'dashboard']"
            hide-gt-xs
        >
         <img src="../branding/img/vrienden_uitnodigen_dashboard_mobiel.png" class="banner" />
             <a class="mywheels-btn mywheels-btn-light mywheels-btn-big" md-ink-ripple="#ded8d8" class="md-primary" style="font-size: 1em; bottom: 14%; right: 1.5em;">{{ 'INVITE_FRIENDS_MENU' | translate }}</a>
        </div>
    </div>

</md-card>