.cookiebar {
    text-align: center;
    z-index: 1000;
    background: none;
    width: 100%;
}
.cookiebar--content {
    padding: 0.8rem 0.4em 0.8rem 1em;
    margin: 0 auto;
    width: 100%;
    color: #000;
    background-color: #efefef;
    .md-button {
        line-height: 1;
        padding-bottom: 0;
        margin-bottom: 0;
    }
    md-icon,
    ng-md-icon {
        display: none;
    }

}
@media all and (min-width: 300px) and (max-width: 600px) {
    .cookiebar--content {
        min-height: 40px;
        md-icon,
        ng-md-icon {
            display: unset;
            color: #000;
            float: right;
        }
        span {
            float: left;
        }
        .md-button {
            display: none;
        }
    }
}