.dashboard {
    &-hero {
        position: relative;
        background-image: url('../branding/img/dashboard.jpg');
        background-position: 50% 0;
        background-repeat: no-repeat;
        background-size: cover;
        height: 175px;
        padding: 0 10px;
        .container {
            height: 100%;
            position: relative;
            padding: 0;
            .searchbar-container-dash {
                z-index: 5;
                position: absolute;
                bottom: 30px;
                width: 100%;
                margin-bottom: 4.5em;
                .searchbar {
                    max-width: 500px;
                    margin: 0 auto;
                    opacity: 0.95;
                    &--no-opacity {
                      opacity: 1;
                    }
                    .input-group {
                        input {
                            height: 42px;
                        }
                    }
                    a,
                    button {
                        width: 140px;
                        height: 42px;
                    }
                    a {
                        padding: 0 12px;
                    }
                }
            }
        }
    }
}
@media (min-width:@screen-sm) {
    .dashboard-hero {
        height: 240px;
    }
}
@media (min-width:@screen-lg) {
    .dashboard-hero {
        height: 240px;
        margin-left: auto;
        margin-right: auto;
    }
}
span.action-button a.btn {
    margin-bottom: 10px;
}
span.action-button:last-child a.btn {
    margin-bottom: 0;
}
.shortcut {
    list-style: none;
    md-ink-bar {
        display: none;
    }
}

/* ---------------------- SEARCHBAR  ------------------- */
.dashboard-searchbar-frontpage {
    background: rgba(0, 0, 0, 0.2);
    padding: 1em 0 1em 0;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;

    & form {
      max-width: 100%;
      padding-left: 16px;
        padding-right: 16px;
    }
}

/* ---------------------- BLOG ITEMS  ------------------- */
.dashboard--blog--overview {
    ul {
        color: #5faac8;
        list-style-type: none;
        -webkit-padding-start: 0px;
        margin: 0;
        padding: 0;
    }
    .blog--item {
        padding: 10px 0 10px 0;
        font-size: 1.2em;
        border-bottom: 1px solid #efefef;
        p {
            font-family: Arial;
            font-size: 14px;
            line-height: 1.42857143;
            color: rgba(0, 0, 0, 0.87);
        }
    }
    .blog--item:first-child {
        border-top: 1px solid #efefef;
    }
}
.triangle--bar--booking {
    position: relative;
}

/* ---------------------- BOOKING DATES  ------------------- */
.booking-dashboard {
    margin-bottom: 0px;
}
.booking-dashboard li {
    padding-top: 0;
}
@media only screen and (min-width: @screen-sm) {
    .booking-dashboard li:nth-child(odd) {
        padding-right: 10px
    }
    .booking-dashboard li:nth-child(even) {
        padding-left: 10px;
    }
}

.bookingDate {
    margin: 0 -16px 0 -16px;
    padding-bottom: 10px !important;
    .bookingDateRow {
        width: 100%;
        padding:0px;
    }
    md-icon {
        margin-left: 6px;
        float: left;
        margin-right: 16px;
        line-height: 40px;
    }
    .bookingBeginDate {
        opacity: 1;
        padding:10px;
        height: 60px;
        &.accepted {
            background-color: @mywheels-green;
            border-color: transparent transparent transparent @mywheels-green;
        }
        &.cancelled {
            background-color: @mywheels-red;
            border-color: transparent transparent transparent @mywheels-red;
        }
        &.rejected {
            background-color: @mywheels-orange;
            border-color: transparent transparent transparent @mywheels-orange;
        }
        &.requested {
            background-color: #f5e8a3;
            border-color: transparent transparent transparent #f5e8a3;
        }
    }
    .bookingEndDate:before {
        width: 15px;
        border-style: solid;
        border-width: 30px 0 30px 20px;
        content: '';
        left: 50%;
        top: 0;
        display: inline-block;
        float: left;
        border-color: inherit;
    }
    .bookingEndDate {
        background-color: #aace8c;
        height: 60px;
        &.accepted {
            background-color: #cae1b7; /* 80% */
            border-color: transparent transparent transparent @mywheels-green;
        }
        &.cancelled {
            background-color: #f4b4a4;
            border-color: transparent transparent transparent @mywheels-red;
        }
        &.rejected {
            background-color: #ffe299;
            border-color: transparent transparent transparent @mywheels-orange;
        }
        &.requested {
            background-color: #fcf8e3;
            border-color: transparent transparent transparent #f5e8a3;
        }
    }
    .bookingEndDate span {
        padding:10px;
        float: left;
    }
}
@media only screen and (max-width: 374px) {
    .bookingDate {
        md-icon {
            display: none;
        }
    }
}