


.mw-profile-details-steps {
    .main-heading h2 {
        margin-top: 1em;
    }

    .nav-buttons {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        align-content: flex-start;
        align-items: center;
        margin: 1em 0 0;

        button {
            margin: 0;
        }
    }
}


.progress-steps {
    padding: 2.6em 1.4em 2.4em 1.4em;
    text-align: center;

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;

    justify-content: center;
    align-content: center;
    align-items: center;

    .line {
        position: relative;
        z-index: 1;
        margin: 0 -.2rem;

        width: 9rem;
        border-top: 4px dotted #ccc;

        &.done {
            border-top: 8px solid @mywheels-blue;
        }
    }

    .step {
        user-select: none;

        position: relative;
        z-index: 2;

        box-sizing: content-box;

        width: 3.6rem;
        height: 3.6rem;
        line-height: 3.6rem;

        background: #ccc;
        border: .4rem solid transparent;
        border-radius: 999px;

        .n {
            font-size: 1.4em;
            font-weight: bold;
            color: #999;
        }
        .step-label {
            font-weight: bold;
            white-space: nowrap;
            vertical-align: baseline;
            color: #868788;
            font-size: 12px;
            position: absolute;
            left: -50px;
            right: -50px;
            text-align: center;
            bottom: -35px;
            line-height: 35px;
        }

        &.done {
            margin: -0.2rem;

            width: 4rem;
            height: 4rem;
            line-height: 4rem;

            background: @mywheels-blue;
            .n {
                color: white;
            }
            .step-label {
                color: darken(@mywheels-blue, 6%);
            }
        }

        &.selected {
            margin: -0.7rem;

            width: 5rem;
            height: 5rem;
            line-height: 5rem;

            background: white;
            border-color: @mywheels-blue;
            .n {
                color: @mywheels-blue;
            }
            .step-label {
                color: darken(@mywheels-blue, 6%);
            }
        }
    }
}

@media (max-width: 480px) {
    .progress-steps {
        flex-direction: column;
        margin-left: -160px;

        .line {
            margin: -.2rem 0;

            width: 0;
            height: 3rem;
            border-top: none;
            border-right: 4px dotted #ccc;

            &.done {
                border-top: none;
                border-right: 8px solid @mywheels-blue;
            }
        }

        .step {
            .step-label {
                font-size: 14px;
                position: absolute;
                right: -160px;
                width: 160px;
                top: 50%;
                left: auto;
                text-align: left;
                margin-top: -1.6rem;
                padding-left: 1.5rem;
            }

            &.done {
            }

            &.selected {
            }
        }
    }
}



ul.checklist {
    padding: 0 0 0 1em;

    li {
        list-style: none;

        ng-md-icon {
            color: @mywheels-green;
        }
    }
}




.mw-booking-timeframe {
    margin: 2em 0 0 0;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;

    position: relative;
    
    background: #ddd;

    .pickup, .return {
        text-align: center;
        box-sizing: border-box;
        padding: 16px;

        .date {
            color: #222;
        }

        .time {
            font-weight: bold;
            font-size: 1.6em;
        }
    }

    .pickup {
        width: 48%;
        background: #eee;
    }
    .t path {
        fill: #eee;
        stroke: black;
    }
    .return {
        width: 52%;
        //.date, .time { color: white; }
    }

    .t {
        position: absolute;
        top: 0;
        left: 48%;
        bottom: 0;
    }
}


















// gender option toggle
.gender--options {
    margin: 1em 0 0;
    box-sizing: border-box;
    padding: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-content: flex-start;
    align-items: center;
    input[type="radio"] {
        position: absolute;
        left: -100000px;
    }
    input[type="radio"]:checked + label {
        background: @mywheels-green;
        color: #fff;
    }
    input[type="radio"]:focus + label {
        background: rgba(0, 0, 0, 0.12);
        color: #fff;
    }
    input[type="radio"]:checked:focus + label {
        background: darken(@mywheels-green, 12);
        color: #fff;
    }
    label::after,
    label::before {
        display: none !important;
    }
}
.gender--options__option {
    list-style: none;
    flex-grow: 1;
    flex-shrink: 0;
    margin: 0;
    width: 50%;
    text-align: center;
    label {
        color: #000;
        border: 0.1rem solid #bdc5c7;
        border-radius: 0.1875em;
        width: 100%;
        height: 100%;
        padding: 0.5em;
        margin: 0;
    }
    label:active {
        background: #699b40;
    }
    label:hover {
        background: rgba(0, 0, 0, 0.12);
    }
    &:first-child label {
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
    }
    &:last-child label {
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
    }
}




.form-extra-drivers__first {
  margin-top: 1em;
  margin-bottom: 1em;
}

.label-bigger {
  font-size: 1em;
}
