.page-footer {
    padding: 2.5rem 0;
    -webkit-box-shadow: 0 -4px 8px rgba(0, 0, 0, 0.1);
    box-shadow: 0 -4px 8px rgba(0, 0, 0, 0.1);
    background: @mywheels-gray!important;

    .hr {
        margin-bottom: 2rem;
        border-top: 1px solid #777;
    }
}

.footer-typography {
    color: #fff!important;

    h4 {
        color: #fff;
        font-size: 1.6rem;
        margin-bottom: 10px !important;
    }
    a,
    button {
        color: #bbb;
    }
    a:hover,
    button:hover {
        color: #eee;
    }

    ul {
        padding: 0;

        li {
            list-style: none;
        }
    }

    .mission-statement {
        h4 {
            font-size: 2.1rem;
        }
        .lead {
            font-size: 1.6rem;
            color: #bbb;
            line-height: 1.6;
        }
    }

    .menubox {
        margin-bottom: 2rem;
    }
}

/* A bit confusing, but: `.footerbox` is just for horizontal breathing space,
    and `.menubox` for vertical bottom spacing.  */
@media (max-width: @screen-xs-max) {
    .page-footer .footerbox {
        padding: 0 2rem;
    }
    .page-footer .footerbox.kiyoh-rating {
        padding: 0;
        .text-center();
    }
}

@media (max-width: 400px) {
    .page-footer .footerbox {
        padding: 0 0 !important;
    }
}

.footer-logo-row {
    background: #eee;
    padding: 3em 0 2em;
    img {
        margin-top: 1em;
        height: 59px;
    }
}

.footer-social {
}
