.page-footer {
    padding: 2.5rem 0;
    -webkit-box-shadow: 0 -4px 8px rgba(0, 0, 0, 0.1);
    box-shadow: 0 -4px 8px rgba(0, 0, 0, 0.1);
    background: @mywheels-gray!important;

    .hr {
        margin-bottom: 2rem;
        border-top: 1px solid #777;
    }
/*
    .row {
        margin-left: 0 !important;
        margin-right: 0 !important;
    }
    */
}

.footer-typography {
    color: #fff!important;

    h4 {
        color: #fff;
        font-size: 1.6rem;
        margin-bottom: 10px !important;
    }
    a,
    button {
        color: #bbb;
    }
    a:hover,
    button:hover {
        color: #eee;
    }

    ul {
        padding: 0;

        li {
            list-style: none;
        }
    }

    .mission-statement {
        padding: 10px 0;

        h4 {
            font-size: 2.1rem;
        }
        p {
            color: #bbb;
        }
    }

    .menubox {
        margin-bottom: 2rem;
        white-space: nowrap;
    }
}

/* `.menubox` is for vertical bottom spacing.  */
@media (max-width: @screen-xs-max) {
    .page-footer .kiyoh-rating {
        .text-center();
    }
}

@media (max-width: 400px) {
}

.footer-logo-row {
    background: #eee;
    padding: 3em 0 2em;
    img {
        margin-top: 1em;
        height: 59px;
    }
}

.partner_logos {
    margin-top: 4rem;
    text-align: center;
    overflow: hidden;

    .logo {
        display: inline-block;
        margin: 3rem 6rem;
        vertical-align: middle;

        img {
            margin: 0;
        }
    }
}

@media (max-width: 400px) {
    .partner_logos {
        text-align: center;
        overflow: hidden;

        .logo {
            display: block;
            margin: 3rem 0;

            img {
                margin: 0 auto;
            }
        }
    }
}
