
@media (max-width: 40em) {
  .home.landing {
    .mywheels-open-meedoen {
      font-size: 80%;
    }
  }
}

.home.landing {

  color: #444;

  .lead {
    font-size: 1.2em;
  }

  .discount-action-badges {
    position: relative;

    .discount-action-badge {
      transform: rotate(-4deg);
      transition: transform .1s ease;

      position: absolute;
      top: -12em;
      right: 10%;

      z-index: 100;

      .b {
        position: relative;

        background: #86bd54;
        width: 10em;
        height: 10em;
        border-radius: 99em;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        color: white;
        font-size: 1.3em;
        text-align: center;
        padding: 1em;

        .gratis {
          font-family: "OmnesMedium", Arial, Helvetica, sans-serif;
          font-size: 2em;
          margin-top: -5px;
        }

/*        .actievoorwaarden {
          display: none;
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          color: white;
          font-size: .8em;

          flex-direction: column;
          align-items: center;
          justify-content: center;
        }*/
      }

/*      .b:hover {
        .text {
          display: none;
        }
        .actievoorwaarden {
          display: flex;
        }
      }*/

      &:hover {
        transform: scale(1.02) rotate(-4deg);
      }
    }
  
    @media (max-width: 1025px) {
      .discount-action-badge {
        top: -14em;
        right: 5%;
      }
    }
  }
  
  @media (max-width: 480px) {
    .discount-action-badges {
      overflow: hidden;
      padding: 1em 0;

      .discount-action-badge {
        position: relative;
        top: -1em;
        left: 45%;
        margin: 0 0 1em -5em;
      }
    }
  }

  .mywheels-btn-call-to-action {
    position: relative;
    top: 0;
    left: 0;
    font-family: "OmnesMedium", Arial, Helvetica, sans-serif;
    transition: top .1s ease, left .1s ease, box-shadow .1s ease;
    box-shadow: 1px 3px 5px rgba(0,0,0,.2);

    &:hover {
      /*top: -1px;
      left: -1px;*/
      box-shadow: 1px 3px 15px rgba(0,0,0,.4);
    }
  }

  .hero {
    background-image: url('//mywheels.nl/branding/img/bg.jpg');
    position: relative;

    .landing-title {
      text-shadow: 0.07rem 0.14rem 0.21rem rgba(0, 0, 0, .5);
      position: absolute;
      top: 20%;
      left: 0;
      right: 0;

      .highlight {
        display: inline-block;
        background: rgba(230, 165, 0, 0.65);
        padding: .2em .3em;
      }
    }
  }

  .infobox md-icon {
    padding: 0;
    margin: auto .5em auto 0;
    color: @mywheels-green;
    height: 32px;
    width: 32px;
  }

  .wat-is-mywheels-open {
    text-align: center;
    margin-bottom: 1em;

    h2 {
      color: @mywheels-blue;

      img {
        height: 1.7em;
        position: relative;
        vertical-align: text-bottom;
        bottom: -.29em;
        margin: 0 -.3em 0 -.5em;
        user-select: none;

        user-select: none;
      }
    }

    .subtitle {
      font-family: "OmnesMedium", Arial, Helvetica, sans-serif;
      font-size: 1.6em;
      color: #555;

      max-width: 35em;
      margin: 0 auto;
    }

    @media (max-width: 480px) {
      h2 {
        font-size: 2em;
      }
      .subtitle {
        font-size: 1.2em;
      }
    }
  }

  .mywheels-open-meedoen {
    text-align: center;

    .open-steps {
      display: flex;
      align-items: flex-start;
      justify-content: center;

      margin: 4em 0;

      .step {
        width: 24rem;
        z-index: 200;

        text-align: center;

        .circle {
          display: inline-block;

          background: @mywheels-green;
          background-repeat: no-repeat;
          background-position: center center;
          background-size: auto auto;
          -webkit-background-size: auto auto;

          width: 10rem;
          height: 10rem;
          line-height: 10rem;
          border-radius: 99rem;

          md-icon {
            color: #fff;
            width: 50px;
            height: 50px;
          }
        }

        &.one .circle {
          background-image: url(//v.fastcdn.co/u/37edc5f4/16499236-0-ic-mode-edit-white-2.png);
        }

        &.two .circle {
          background-image: url(//v.fastcdn.co/u/37edc5f4/16499271-0-ic-directions-car-wh.png);
        }

        &.three .circle {
          background-image: url(//v.fastcdn.co/u/37edc5f4/16499301-0-ic-euro-symbol-white.png);
        }

        .step-label {
          font-family: "OmnesMedium", Arial, Helvetica, sans-serif;
          font-size: 1.8em;
          color: @mywheels-blue;
          margin: 2rem 0px;
        }

        p {
          font-size: 1.2em;
        }
      }

      .line {
        border-top: 2px solid #999;
        margin: 5rem -4%;
        z-index: 100;

        width: 22%;
      }

      @media (max-width: 40em) {
        .step {
          width: 20rem;
          .circle {
            width: 7rem;
            height: 7rem;
            line-height: 7rem;
            md-icon {
              transform: scale(.7);
            }
          }
        }
        .line {
          margin: 3.5rem -4%;
        }
      }
    }

    @media (max-width: 480px) {
      .open-steps {
        flex-direction: column;
        align-items: center;
        margin: 1em 0;

        .step {
          margin: 1rem 0;
          .step-label {
            margin: 1rem 0;
          }
        }
        .line {
          display: none;
        }
      }
    }

    h2 {
      color: @mywheels-green;
    }

    @media (max-width: 480px) {
      h2 {
        font-size: 2em;
      }
    }
  }

  @media (max-width: 40em) {
    .mywheels-open-meedoen {
      margin: 2em 0;
    }
  }

  .renter--actions,
  .owner--actions {

    h2 {
      color: @mywheels-blue;
      font-size: 2em;
      margin: 0 0 1em;
    }

    ul {
      margin: 0 0 1em 0;
      padding: 0;

      li {
        list-style: none;
        min-height: 32px;

        .n {
          margin: 0 .5em;
          font-weight: bold;
        }
      }
    }

    md-icon {
      color: @mywheels-green;
      height: 32px;
      width: 32px;
    }
  }

  .renter--action--image {
    background-image: url('../assets/img/photo/buurman.jpg');
    background-position-x: 55% !important;
  }

  .owner--action--image {
    background-image: url('../assets/img/photo/using_app.jpg');
  }

  .mywheels-ik-doe-mee {
    margin: 0 auto 3em auto;
    h2.wb {
      text-align: center;
      font-size: 2em;
    }

    .aanmeldformulier {
      position: relative;

      background: white;
      padding: 2em;
      box-shadow: 0.2em 0.2em 1em rgba(0,0,0,.15);
      border: 1px solid #ccc;

      h2 {
        color: darken(@mywheels-orange, 2%);
      }

      p {
        color: #444;
      }

      .w-submit-button {
        margin: .4em 0 .7em;

        text-align: center;
        font-size: 1.5em;
      }

      .voorwaarden-akkoord {
        margin: 0 9%;
        text-align: center;
      }
    }

    .gratisjaar {
      background: @mywheels-green;
      padding: 2em;
      box-shadow: 0.2em 0.2em 1em rgba(0,0,0,.15);
      border: 1px solid darken(@mywheels-green, 6%);

      color: white;

      h2,
      p {
        color: white;
      }
      a, a:hover {
        color: white;
        text-decoration: underline;
      }
    }
  }

  @media (max-width: 40em) {
    .mywheels-ik-doe-mee {
      padding: 0;

      .aanmeldformulier {
        padding: 1.4em;
      }
    }
  }

  .form-surround {
    margin: -10px;
    padding: 10px;
    position: relative;

    .form-overlay {
      background: rgba(255, 255, 255, .85);
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: 100;

      padding: 10px;

      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      text-align: center;

      &.form-submitted {
        font-size: 1.2em;
        background: rgba(255, 255, 255, .95);
        .lead p,
        md-icon {
          color: darken(@mywheels-blue, 4%);
        }
      }
      &.form-error {
        font-size: 1.2em;
        background: rgba(255, 255, 255, .95);
        .lead p,
        md-icon {
          color: darken(@mywheels-red, 2%);
        }
      }
    }
  }
}