.map__window > * {
    max-width:200px;
}

.angular-google-map-container {
    width: 100%;
    height: 600px;
    icon {
        border-radius: 50% 50% 50% 0;
    }
}

/* fix for Twitter Bootstrap handling of responsive images */
.angular-google-map img {
    max-width: inherit;
}