
.mw-resource-location-map {
  a.map-link {
    display: block;
    position: relative;

    .hover_overlay {
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background: fade(@mywheels-blue, 30%);

      opacity: 0;
      transition: opacity .1s ease;

      ng-md-icon {
        position: absolute;
        top: 1rem;
        right: 1rem;

        height: 64px;
        width: 64px;
        color: white;
      }
    }

    &:hover .hover_overlay {
      opacity: 1;
    }
  }
}
