
.availability-and-pricing-details {
  margin: 1em 0;

  .loading-message {
    margin: 1.4em 0;

    text-align: center;
    font-family: "OmnesMedium", Arial, Helvetica, sans-serif;
    font-size: 1.1em;
  }

  .availability-notice {
    text-align: center;
    color: #444;

    p.notice {
      font-family: "OmnesMedium", Arial, Helvetica, sans-serif;
      font-size: 1.4em;
    }

    &.is-unavailable {
      color: #555;

      ng-md-icon {
        color: #555;
      }
    }
  }
}

.booking.mywheels-form {
  .error-message {
    margin: .5rem 0 1.5rem 0;
    padding: 1.5rem;

    background: #ffebe3;
    color: @mywheels-red;
    font-weight: bold;
    border-radius: .4rem;

    p:last-child {
      margin-bottom: 0;
    }
  }
}

.tabbed {
  margin: 2rem 0 -1rem 0;
  
  .tabh {
    display: flex;
    margin: 0 -.5rem;

    .mywheels-btn {
      margin: 0 .5rem;
      flex-grow: 1;
      position: relative;
      bottom: 0;
      z-index: 99;

      &.active {
        background: white;
        border-color: #ccc;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
        border-bottom: none;
        bottom: -1px;
      }
    }
  }
  .tabb {
    border: 1px solid #ccc;
    background: white;
    padding: 1.6rem;
  }
}
