.mywheels-open-tip-search {
    padding-bottom: 5px;
    font-size: 14px;
    margin: 4px 5px 5px 5px;
    text-align: center;
}
.resource__thumb {
    height: 72px;
}
.resource__thumb--small {
    height: 50px;
}
.resource__alias {
    font-size: floor(@font-size-base * 1.10);
    font-family: @headings-font-family;
}
.resource__price {
    color: @gray-light;
    font-size: floor(@font-size-base * 1);
}
.truncate {
    overflow: hidden;
    /* to hide anything that doesn't fit in the containing element. */
    white-space: nowrap;
    /* to make sure the line doesn't break when it is longer than the containing div. */
    text-overflow: ellipsis;
    /* to do what you want. */
}
.resource__price-list {
    > li {
        text-align: center;
    }
}
.resource_price-list__unit {
    font-size: 12px;
    color: @gray-light;
}
.resource-location-searchbar {
    margin-bottom:10px !important;
}
.resource-search {
    .resource-search__location {
        margin-left: 20px;
    }
}
.resource-property-list {
    li {
        margin-bottom: 5px;
    }
}

.resource-unavailable {
    .text-center();
    margin-top: 1px !important;
    padding: 25px 15px 15px 15px;

    background: @mywheels-red;
    color: #fff;
    h3 { color: #fff; }

    .lead {
        font-size: 1.1em;
    }
}

.backbutton {
    width: 76px;
}
#resource-calendar .fc-event-time {
    display: none;
}
label[for=mywheelsOpen] {
    line-height: 10px;
    height: 30px;
}
.list-margin {
    display: inline-block;
    height: 100%;
    margin: auto 1em auto 0;
}
.clearbutton {
    padding-right: 25px;
}
.clearbutton__container {
    position: absolute;
    left: -20px;
    bottom: 0;
    top: 0;
    font-size: 14px;
    z-index: 5;
    outline: none;
}
.clearbutton__container > i {
    height: 42px;
    line-height: 42px;
}
.pagination {

  &--item {
    padding: .4em;
    outline: 0;
    font-size: 1.1em;

    &.active {
      font-weight: bold;
    }

    &:hover {
      font-weight: bold;
    }
  }

}

.dialog-create-button {
    z-index: 11;
    width: 100%;
    margin-left: -8px;
    margin-bottom: 10px;
    .md-button {
        background-color: @mywheels-blue !important;
    }
}
@media all and (max-height: 660px) {
    .dialog-create-button {
        padding-bottom: 40px;
    }
}
@media all and (min-height: 660px) {
    .dialog-create-button {
        bottom: 0;
        left: 0;
        position: fixed;
        padding-left: 16px;
        padding-right: 16px;
    }
}
@media all and (max-width: @screen-sm) {
    .card-max-width {
      width: 100% !important;
      margin: auto;
    }
}
@media all and (min-width: @screen-sm) {
    .card-max-width {
      width: 35em;
      max-width: 35em;
      margin: auto;
    }
}

.resourceOwnListMobile {
    div {
        padding-top: 10px;
        md-icon,
        ng-md-icon {
            padding-left:5px;
            margin-right:15px;
        }
    }
    img {
        max-width: 100% !important;
        padding-bottom: 10px;
    }
    .not-available {
        color: #e65a37;
    }
    .available {
        color: #82b955;
    }
    h4 {
        margin-top: 20px;
    }
}
.resourceOwnListDesktop {
    .pull-right, .pull-left {
        max-width: 35%;
    }
    .pull-right div, .pull-left div {
        padding-top: 10px;
        md-icon,
        ng-md-icon {
            padding-left:5px;
            margin-right:15px;
        }
    }
    img {
        width: 190px;
        padding-right: 10px;
    }
    .not-available {
        color: #e65a37;
    }
    .available {
        color: #82b955;
    }
}

.resourceRating:first-child {
    border-top: 1px solid #eee;
}
.resourceRating {
    padding: 15px 0;
    border-bottom: 1px solid #eee;
    .review {
        padding: 10px 0;
    }
    .thumb {
        float: left;
        padding: 8px 15px 0 0;
    }
    .reviewer {
        padding-bottom: 8px;
    }
    .comment {
        padding-top: 15px;
    }
    .addComment {
        padding: 8px 0 0 0;
        md-icon,
        ng-md-icon {
            font-size: 20px;
            color: @mywheels-blue;
        }
    }
    .commentText {
        font-style: italic;
    }
}

.specifics-table {
    border-top: 1px solid #ddd;
    margin-bottom: 1.4em;

    .item {
        .title {
            color: #777;
        }
        .info {
            color: black;
        }
        padding: .8rem;
        border-bottom: 1px solid #ddd;
    }
}
@media all and (max-width: 600px) {
    .specifics-table {
        .item:nth-child(odd) {
            border-right: 0;
        }
        .item:nth-child(even) {
            border-left: 0;
            background-color: #f5f5f5;
        }
    }
}
@media all and (min-width: 600px) {
    .specifics-table {
        .specificRow:nth-child(odd) {
            background-color: #f5f5f5;
        }
    }
}

.resource-key-features {
    margin: 2rem 0;
    font-size: 1.8rem;
    font-family: "OmnesMedium", Arial, Helvetica, sans-serif;
    color: #444;

    background: #f5f5f5;
    padding: .5rem;
    border-radius: 1rem;

    .key-features-row {
        margin: 1.2rem 0;
    }

    ng-md-icon {
        margin-right: 1rem;
        color: black;
    }
}

.resource-header {
    h1 {
        font-family: @headings-font-family;
        color: black;
    }
    .subtitle {
        font-size: 1.3em;
        color: #777;
        margin-top: -.4em;

        .bullet {
            display: inline-block;
            width: 5px;
            height: 5px;
            background: #888;
            margin: .15em .5em;
            border-radius: 999px;
        }
    }
}
