
.filter-items {
    border-top: 1px solid #eee;
    margin-top: 6px;

    .filter-item {
        margin: 0 -15px;
        padding: 5px 15px;
        position: relative;
        
        &.selected {
            color: darken(@mywheels-blue, 12%);
            background: #e2ebef;
            font-weight: bold;

            ng-md-icon {
                color: darken(@mywheels-blue, 12%);
                position: relative;
                top: -2px;
            }
        }
    }

    .checkbox-item {
        margin: 0 -15px;
        position: relative;

        md-checkbox {
            padding: 5px 15px;
            margin: 0;
            width: 100%;

            &.md-checked {
                background: #e2ebef;
                
                .md-label {
                    color: darken(@mywheels-blue, 12%);
                    font-weight: bold;
                }
            }

            .md-container {
                left: 15px;
            }
        }
    }

    .filter-item:first-child {
        margin-top: -1px;
    }

    .checkbox-item:first-child {
        margin-top: 3px;
    }
}
