
.resource-pricing {

  .featured-price {
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    
    .pad {
      padding: .6rem .6rem 0;
    }

    .price {
      font-size: 3rem; /* just a tad bit larger than `.mw h1` */
    }
    .annotation {
      font-size: 1.3em;
      color: black;
      margin-left: .2em;

      .hourly {
        white-space: nowrap;
        color: #555;
      }
    }

    .sub-price-line {
      color: #777;
      margin-top: 3px;
    }

    a.show-price-per-hour {
      display: block;
      color: #eee;
      /*background: rgba(0, 0, 0, 0.12);*/
      border-top: 1px solid rgba(56, 53, 53, 0.1);
      text-transform: uppercase;
      font-weight: bold;
      font-size: 0.8em;
      text-align: center;
      padding: .2em;
    }

    .price-per {
      text-transform: uppercase;
      font-weight: bold;
      font-size: 0.8em;

      display: flex;
      justify-content: center;
      flex-direction: row;
      flex-wrap: nowrap;
      
      background: white;
      padding: 0 5px 1px;

      a {
      color: #666;
      text-align: center;
      margin: 0 .5rem;
      padding: 6px 11px 3px;
      outline: none !important;
      border: 1px solid #ccc;
      border-radius: 4rem;
      background: white;

        &.active {
          color: darken(@mywheels-green, 20%);
          border-color: @mywheels-green;
          border-width: 2px;
          padding: 5px 10px 2px;
        }

        outline: none !important;
      }
    }
  }

  .secondary {
    margin: 0;
    padding: 1em 0 0;
    color: #777;
    line-height: 1.6em;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: flex-start;

    .secondary-item {
      margin: 0;
      padding: .2em .4em;
      position: relative;
      text-align: center;
      border: 1px solid transparent;
      border-radius: .3em;

      ng-md-icon {
        color: #444;
        vertical-align: bottom;
        margin: .2em;
      }

      &:hover {
        border-color: #ddd;
        box-shadow: .1em .1em .3em rgba(0,0,0,.1);
      }
    }

    .plus {
      font-size: 1.4em;
      margin-top: 1em;
    }

    .price {
      color: #666;
      font-size: 1.2em;
      /*font-family: "OmnesMedium", Arial, Helvetica, sans-serif;*/
    }
  }

  .secondary-line > span + span {
    margin-left: .5em;
  }

  .free-km {
    color: darken(@mywheels-green, 10%);
    font-weight: bold;

    padding: 3px 4px;
  }

  .nowrap {
    white-space: nowrap;
  }
}
