.md-sidenav-left {
  min-width: 240px;
}

.app-toolbar-row,
.md-sidenav-left .app-toolbar {
  .box-shadow(0 4px 8px rgba(0, 0, 0, 0.1));
}

.app-toolbar-row {
  background: #fff;
  z-index: 10;
  position: relative;

  .container,
  .container-transitional {
    padding: 0;
  }
}

.app-toolbar {
  background-color: #fff !important;
  overflow: hidden;

  .search-mode-hide {
    transition: width .3s ease;
    padding: 0;
  }

  &.in-search-mode .search-mode-hide {
    width: 0;
  }

  .md-toolbar-tools {
    font-size: 16px;
    /*font-family: @headings-font-family;*/
  }

  .md-button {
    font-size: 16px;
    color: @mywheels-gray;
    text-transform: none;
    md-icon,
    ng-md-icon {
      margin-top: -2px;
      color: @mywheels-gray;
    }
  }

  .app-logo {
    margin-top: -1px;
    img {
      height: 30px;
    }

  }

  @media (max-width: 350px) {
    .app-logo img {
      height: 25px;
    }
  }

  .user-menu-button {
    display: inline-block;
    float: right;
    margin-right: 8px;
    max-width: 180px;
    overflow: hidden;
    text-overflow: ellipsis;

    md-icon,
    ng-md-icon { color: @mywheels-blue; }
  }

  .user-name {
    color: @mywheels-blue;
  }

}

.app-menu {
  margin-top: 9px;
  font-size: 16px;
  /*font-family: @headings-font-family;*/

  md-list {
    padding-top: 0;
    padding-bottom: 0;
  }

  md-list-item p {
    color: #333;
  }
  md-list-item > ng-md-icon:first-child,
  md-list-item .md-list-item-inner > ng-md-icon:first-child {
    margin-top: 10px;
    margin-right: 16px;
    margin-bottom: 10px;
  }

  md-divider {
    margin-top: 8px;
    margin-bottom: 8px;
  }

  md-list-item#menuGeoSearch {
    padding: 0;
  }

  ow-geocoder-searchbar {
    ng-md-icon {
      color: @mywheels-gray !important;
      left: 16px !important;
    }
    input {
      border: none !important;
      box-shadow: none !important;
      font-family: @font-family-sans-serif;
      font-size: 16px !important;

      padding-left: calc(16px + 24px + 16px) !important;
      padding-right: calc(16px + 24px) !important;
    }
  }
}
