
<div class="container container-transitional">
  <div class="row rpad">
    <div class="nopad col-sm-4">
      <section class="contract-choice contract-choice--left">
        <h3 same-height="headercontract">MyWheels Go</h3>
        <section>
        <div class="pay" same-height="aa">Betaal vooraf per iDEAL</div>
          <ul>
            <li same-height="a0">Facturatie per rit</li>
            <li same-height="e">Maximaal 3 extra bestuurders<br><small>&euro;1,25 per persoon per rit.</small></li>
            <li same-height="a">Eigen risico verplicht <a target="_blank" href="https://mywheels.nl/autodelen/hoe-huren-werkt/verzekering/">verlaagd</a> <br><small>&euro;3,50 per rit per dag</small></li>
            <li same-height="b">Annuleren binnen 24 uur:<br>volledige ritkosten</li>
            <li same-height="c">Annuleren buiten 24 uur:<br>&euro;2,50</li>
            <li same-height="d">Inkorten rit tot maximaal 1 uur</li>
            <li same-height="f">Geen abonnementskosten</li>
            <li same-height="g">Geen borg</li>
            <li same-height="h">Geen korting</li>
            <li same-height="i" style="display: flex; flex-direction: column; justify-content: center;" ng-if="!disableChoice">
              <button type="button" ng-if="has.go" name="button" class="mywheels-btn mywheels-btn-default" ui-sref="owm.finance.vouchers">Kies dit contract</button>
              <button type="button" ng-if="!has.go" name="button" class="mywheels-btn mywheels-btn-default" ng-click="select('go')">Kies dit contract</button>
            </li>
          </ul>
        </section>
      </section>
    </div>
    <div class="nopad col-sm-4">
      <section class="contract-choice contract-choice--middle" ng-class="{'contract-choice--middle--small': $mdMedia('xs')}">
        <h3 same-height="headercontract">MyWheels Member</h3>
        <section>
          <div class="pay" same-height="aa">Betaal achteraf per SEPA incasso<span ng-if="!enableCompany"> *</span></div>
          <ul>
            <li same-height="a0">Wekelijkse facturatie</li>
            <li same-height="e">Gratis 2 extra bestuurders</li>
            <li same-height="a">Eigen risico optioneel <a target="_blank" href="https://mywheels.nl/autodelen/hoe-huren-werkt/verzekering/">te verlagen</a><br><small>&euro;3,50 per rit per dag</small></li>
            <li same-height="b">Annuleren binnen 24 uur:<br>&euro;2,50</li>
            <li same-height="c">Annuleren buiten 24 uur:<br>gratis</li>
            <li same-height="d">Inkorten rit tot maximaal 2 uur</li>
            <li same-height="f">Geen abonnementskosten</li>
            <li same-height="g">250 euro borg</li>
            <li same-height="h">Geen korting</li>
            <li same-height="i" style="display: flex; flex-direction: column; justify-content: center;" ng-if="!disableChoice">
              <button type="button" ng-if="!has.member" name="button" class="mywheels-btn mywheels-btn-default" ng-click="select('member')">Kies dit contract</button>
              <button type="button" ng-if="has.member" name="button" class="mywheels-btn mywheels-btn-default" ui-sref="owm.finance.vouchers">Kies dit contract</button>
            </li>
          </ul>
        </section>
      </section>
    </div>
    <div class="nopad col-sm-4">
      <section class="contract-choice contract-choice--right"
          ng-if="!me.isCompany && !enableCompany">
        <h3 same-height="headercontract">MyWheels Premium</h3>
        <section>
          <div class="pay" same-height="aa">Betaal achteraf per SEPA incasso<span ng-if="!enableCompany"> *</span></div>
          <ul>
            <li same-height="a0">Wekelijkse facturatie</li>
            <li same-height="e">Gratis 4 extra bestuurders</li>
            <li same-height="a">Eigen risico optioneel <a target="_blank" href="https://mywheels.nl/autodelen/hoe-huren-werkt/verzekering/">te verlagen</a><br><small>&euro;3,50 per rit per dag<br>of &euro;10 per maand</small></li>
            <li same-height="b">Annuleren binnen 24 uur:<br>&euro; 2,50</li>
            <li same-height="c">Annuleren buiten 24 uur:<br>gratis</li>
            <li same-height="d">Inkorten rit tot maximaal 2 uur</li>
            <li same-height="f">10 euro per maand <sup>**</sup></li>
            <li same-height="g">250 euro borg</li>
            <li same-height="h">2 cent per km korting</li>
            <li same-height="i" style="display: flex; flex-direction: column; justify-content: center;" ng-if="!disableChoice">
              <button type="button" ng-if="has.premium" name="button" class="mywheels-btn mywheels-btn-default" ui-sref="owm.finance.vouchers">Kies dit contract</button>
              <button type="button" ng-if="!has.premium" name="button" class="mywheels-btn mywheels-btn-default" ng-click="select('premium')">Kies dit contract</button>
            </li>
          </ul>
        </section>
      </section>
    </div>
    <div class="nopad col-sm-4">
      <section class="contract-choice contract-choice--right"
            ng-if="me.isCompany || enableCompany">
        <h3 same-height="headercontract">MyWheels Company</h3>
        <section>
          <div class="pay" same-height="aa">Betaal achteraf per SEPA incasso of overboeking</div>
          <ul>
            <li same-height="a0">Maandelijkse facturatie</li>
            <li same-height="e">Gratis 50 extra bestuurders</li>
            <li same-height="a">Eigen risico optioneel <a target="_blank" href="https://mywheels.nl/autodelen/hoe-huren-werkt/verzekering/">te verlagen</a><br><small>&euro;3,50 per rit per dag<br>of &euro;10 per maand</small></li>
            <li same-height="b">Annuleren binnen 24 uur:<br>&euro; 2,50</li>
            <li same-height="c">Annuleren buiten 24 uur:<br>gratis</li>
            <li same-height="d">Inkorten rit tot maximaal 2 uur</li>
            <li same-height="f">25 euro per maand</li>
            <li same-height="g">250 euro borg</li>
            <li same-height="h">50% korting op boekingskosten</li>
            <li same-height="i" style="display: flex; flex-direction: column; justify-content: center;" ng-if="!disableChoice">
              <button type="button" ng-if="has.company" name="button" class="mywheels-btn mywheels-btn-default" ui-sref="owm.finance.vouchers">Kies dit contract</button>
              <button type="button" ng-if="!has.company" name="button" class="mywheels-btn mywheels-btn-default" ng-click="select('company')">Kies dit contract</button>
            </li>
          </ul>
        </section>
      </section>
    </div>
  </div>

  <div class="row" style="margin-top: 2rem;" ng-if="!enableCompany">
    <div class="rpad col-xs-12">

      <div class="mw card">
        <div class="card-body">
          <p>
            *Bij ritten hoger dan 250 euro vragen we de rit vooraf te voldoen.<br />
            ** Minimale looptijd 3 maanden, daarna maandelijks op te zeggen.
          </p>
        </div>
      </div>

    </div>
  </div>
</div>