<div class="container container-transitional">
  <div class="row">
    <div class="rpad col-md-4">
    </div>
    <div class="rpad col-md-8">
      <h1 class="page-title card-pad-left" style="text-align: left;">
        Jouw reservering
      </h1>
    </div>
  </div>

  <!-- MOBILE VIEW -->
  <div class="row visible-xs-block visible-sm-block">
    <div class="rpad col-xs-12">
      <div ng-include="'booking/show/partial-notices.tpl.html'"></div>

      <div style="margin-top: -2rem; margin-bottom: 1rem;">

        <!-- accepted timeframe -->
        <div class="h-escape" ng-if="booking.beginBooking">
          <booking-timeframe-indicator
            frame="{
              'pickup': booking.beginBooking,
              'return': booking.endBooking,
            }"
          />
        </div>

        <!-- requested timeframe, if no accepted timeframe yet -->
        <div class="h-escape" ng-if="!booking.beginBooking && booking.beginRequested">
          <booking-timeframe-indicator
            frame="{
              'pickup': booking.beginRequested,
              'return': booking.endRequested,
            }"
          />
        </div>
        
      </div>

      <!-- is this the correct condition ? -->
      <div ng-include="'booking/show/partial-reservationProgressCard.tpl.html'"
        ng-if="!progress.reservationCompleted && !details.cancelled && !details.rejected"></div>
      
      <!-- Je bent zelf contractant (niet de contracthouder) -->
      <div class="card mw"
        ng-if="!perspective.isContractHolder"
      >
        <div class="card-body">
          <p>
            <ng-md-icon icon="info_outline"></ng-md-icon>
            Deze boeking is gemaakt op het {{ contract.type.name }} contract van {{ contract.contractor.firstName }}.
          </p>
        </div>
      </div>

      <div ng-include="'booking/show/partial-renterInitialPayment.tpl.html'"></div>

      <cancellation-info-card
        ng-if="details.cancelled"
        booking="booking"
      />

      <rejection-info-card
        ng-if="details.rejected"
        booking="booking"
      />


      <!-- After reservation completed, and before the booking has (really) ended -->
      <div ng-if="progress.reservationCompleted && !bookingEndedReally">
        <div ng-include="'booking/show/partial-openCloseButtons.tpl.html'" ng-if="!perspective.isContractor"></div>
      </div>


      <!-- After reservation completed, and before the booking has started -->
      <div ng-if="progress.reservationCompleted && !details.bookingStarted">
        <div ng-include="'booking/show/partial-reservationActions.tpl.html'"></div>
        <div ng-include="'booking/show/partial-renterHowto.tpl.html'"></div>
      </div>

      <div ng-include="'booking/show/partial-bookingInfoCard.tpl.html'"></div>

      <!-- While in the reservation process -->
      <div ng-if="!progress.reservationCompleted">
        <div ng-include="'booking/show/partial-alternatives.tpl.html'" ng-if="!perspective.isContractor"></div>
      </div>


      <!-- After reservation completed -->
      <div ng-if="progress.reservationCompleted">
        <div ng-include="'booking/show/partial-agreement.tpl.html'"></div>
        <div ng-include="'booking/show/partial-renterDiscountInfo.tpl.html'"></div>
      </div>


      <!-- remarks are not for contractors (non-renting contract holders) -->
      <div ng-include="'booking/show/partial-remarks.tpl.html'" ng-if="!perspective.isContractor"></div>


      <!-- After reservation completed, and before the booking has (really) ended -->
      <div ng-if="progress.reservationCompleted && !bookingEndedReally">
        <div ng-include="'booking/show/partial-map.tpl.html'"></div>
      </div>


      <!-- After the trip -->
      <div ng-if="accepted && bookingEnded">
        <div ng-include="'booking/show/partial-kmCheck.tpl.html'" ng-if="!perspective.isContractor"></div>
        <div ng-include="'booking/show/partial-declarations.tpl.html'" ng-if="allowDeclarations && !perspective.isContractor"></div>
        <div ng-include="'booking/show/partial-placeReview.tpl.html'" ng-if="showReviewTeaser && !perspective.isContractor"></div>
        <booking-invoices booking="booking" perspective="renter" ng-if="!details.requested && booking.approved === 'OK'"></booking-invoices>
      </div>

    </div>
  </div>

  <!-- DESKTOP (/TABLET) VIEW -->
  <div class="row hidden-xs hidden-sm">
    <div class="rpad col-md-8 col-md-push-4">

      <div ng-include="'booking/show/partial-notices.tpl.html'"></div>

      <cancellation-info-card
        ng-if="details.cancelled"
        booking="booking"
      />

      <rejection-info-card
        ng-if="details.rejected"
        booking="booking"
      />

      <!-- Je bent zelf contractant (niet de contracthouder) -->
      <div class="card mw"
        ng-if="!perspective.isContractHolder"
      >
        <div class="card-body">
          <p>
            <ng-md-icon icon="info_outline"></ng-md-icon>
            Deze boeking is gemaakt op het {{ contract.type.name }} contract van {{ contract.contractor.firstName }}.
          </p>
        </div>
      </div>

      <div ng-include="'booking/show/partial-renterInitialPayment.tpl.html'"></div>

      <!-- While in the reservation process -->
      <div ng-if="!progress.reservationCompleted">
        <div ng-include="'booking/show/partial-alternatives.tpl.html'" ng-if="!perspective.isContractor"></div>
      </div>


      <!-- After reservation completed -->
      <div ng-if="progress.reservationCompleted">
        <div ng-include="'booking/show/partial-agreement.tpl.html'"></div>
        <div ng-include="'booking/show/partial-renterDiscountInfo.tpl.html'"></div>
      </div>


      <!-- After reservation completed, and before the booking has started -->
      <div ng-if="progress.reservationCompleted && !details.bookingStarted">
        <div ng-include="'booking/show/partial-reservationActions.tpl.html'"></div>
      </div>

      <!-- remarks are not for contractors (non-renting contract holders) -->
      <div ng-include="'booking/show/partial-remarks.tpl.html'" ng-if="!perspective.isContractor"></div>


      <!-- After reservation completed, and before the booking has (really) ended -->
      <div ng-if="progress.reservationCompleted && !bookingEndedReally">
        <div ng-include="'booking/show/partial-openCloseButtons.tpl.html'" ng-if="!perspective.isContractor"></div>
        <div ng-include="'booking/show/partial-renterHowto.tpl.html'"></div>
        <div ng-include="'booking/show/partial-map.tpl.html'"></div>
      </div>


      <!-- After the trip -->
      <div ng-if="accepted && bookingEnded">
        <div ng-include="'booking/show/partial-kmCheck.tpl.html'" ng-if="!perspective.isContractor"></div>
        <div ng-include="'booking/show/partial-declarations.tpl.html'" ng-if="allowDeclarations && !perspective.isContractor"></div>
        <div ng-include="'booking/show/partial-placeReview.tpl.html'" ng-if="showReviewTeaser && !perspective.isContractor"></div>
        <booking-invoices booking="booking" perspective="renter" ng-if="!details.requested && booking.approved === 'OK'"></booking-invoices>
      </div>


    </div><!-- /col -->

    <div class="rpad col-md-4 col-md-pull-8">
      <!-- is this the correct condition ? -->
      <div ng-include="'booking/show/partial-reservationProgressCard.tpl.html'"
        ng-if="!progress.reservationCompleted && !details.cancelled && !details.rejected"></div>

      <div ng-include="'booking/show/partial-bookingInfoCard.tpl.html'"></div>
    </div>
  </div>
</div>