<div class="container container-transitional">
  <div class="row">
    <div class="rpad col-md-4">
    </div>
    <div class="rpad col-md-8">
      <h1 class="page-title card-pad-left" style="text-align: left;">
        Jouw reservering
      </h1>
    </div>
  </div>
  <div class="row">
    <div class="rpad col-md-8 col-md-push-4">

      <div ng-include="'booking/show/partial-renterInitialPayment.tpl.html'"></div>

      <!-- Wait for acceptation alert -->
      <div class="card mw" ng-if="hasRequestedTimeframe(booking) && hasAcceptedTimeframe(booking)" id="ownerText">
        <div class="card-body card-inverse" style="background-color:#e6a500; color:white;">
          <span>De wijziging van je reeds geaccepteerde reservering is naar de verhuurder verstuurd. Na goedkeuring ontvang je per mail een bevestiging, pas dan is je wijziging definitief.</span>
        </div>
      </div>

      <!-- Cancel reason -->
      <div class="card mw" ng-if="['cancelled'].indexOf(booking.status) >= 0 && booking.cancelReason">
        <div class="card-body card-inverse" style="background-color:#c85f5f; color:white;"> 
          <span>Deze reservering is automatisch geannuleerd. Een andere huurder heeft de auto voor dezelfde huurperiode gereserveerd en betaald. Omdat jouw reservering nog niet betaald is, hebben we de reservering geannuleerd. Een reservering is pas definitief als je betaald hebt. Je kunt dit voorkomen door een reservering direct te betalen.</span>
        </div>
      </div>

      <!-- Booking altered after buy voucher -->
      <div class="card mw" ng-if="alteredAfterBuyVoucher">
        <div class="card-body card-inverse" style="background-color:#3bab78; color: white;">
          <span>Gelukt! De betaling is ontvangen en de reservering is gewijzigd.</span>
        </div>
      </div>

      <!-- Book only notice -->
      <div ng-if="showBookOnlyNotice"
        class="card mw"
        style="
          background: #ffecc2;
          color: #911a1a;
        "
      >
        <div class="card-body">
          <p><strong>Let op:</strong> Je account is op dit moment nog niet actief, je kunt de auto dus ook nog niet ophalen.</p>
          <p>Een aantal van onze controles konden niet automatisch worden uitgevoerd voor jouw account. Zodra wij deze controles hebben uitgevoerd ontvang je per mail bericht over het activeren van je account.</p>
        </div>
      </div>
      

      <!-- Je bent zelf contractant (niet de contracthouder) -->
      <div class="card mw"
        ng-if="!perspective.isContractHolder"
      >
        <div class="card-body">
          <p>
            <ng-md-icon icon="info_outline"></ng-md-icon>
            Deze boeking is gemaakt op het {{ contract.type.name }} contract van {{ contract.contractor.firstName }}.
          </p>
        </div>
      </div>


      <!-- remarks are not for contractors (non-renting contract holders) -->
      <div ng-include="'booking/show/partial-remarks.tpl.html'" ng-if="!perspective.isContractor"></div>


      <!-- While in the reservation process -->
      <div ng-if="!progress.reservationCompleted">
        <div ng-include="'booking/show/partial-alternatives.tpl.html'" ng-if="!perspective.isContractor"></div>
      </div>


      <!-- After reservation completed -->
      <div ng-if="progress.reservationCompleted">
        <div ng-include="'booking/show/partial-agreement.tpl.html'"></div>
        <div ng-include="'booking/show/partial-renterDiscountInfo.tpl.html'"></div>
      </div>


      <!-- After reservation completed, and before the booking has (really) ended -->
      <div ng-if="progress.reservationCompleted && !bookingEndedReally">
        <div ng-include="'booking/show/partial-openCloseButtons.tpl.html'" ng-if="!perspective.isContractor"></div>
        <div ng-include="'booking/show/partial-renterHowto.tpl.html'"></div>
        <div ng-include="'booking/show/partial-map.tpl.html'"></div>
      </div>


      <!-- After the trip -->
      <div ng-if="accepted && bookingEnded">
        <div ng-include="'booking/show/partial-kmCheck.tpl.html'" ng-if="!perspective.isContractor"></div>
        <div ng-include="'booking/show/partial-declarations.tpl.html'" ng-if="allowDeclarations && !perspective.isContractor"></div>
        <div ng-include="'booking/show/partial-placeReview.tpl.html'" ng-if="showReviewTeaser && !perspective.isContractor"></div>
        <booking-invoices booking="booking" perspective="renter" ng-if="!details.requested && booking.approved === 'OK'"></booking-invoices>
      </div>


    </div><!-- /col -->

    <div class="rpad col-md-4 col-md-pull-8">
      <!-- is this the correct condition ? -->
      <div ng-include="'booking/show/partial-reservationProgressCard.tpl.html'" ng-if="!progress.reservationCompleted"></div>

      <div ng-include="'booking/show/partial-bookingInfoCard.tpl.html'"></div>
    </div>
  </div>
</div>