
<div class="row">
  <div class="rpad col-xs-12">

    <!-- Status en meldingen -->
    <div ng-include="'booking/show/renting/partial-notices.tpl.html'"></div>

    <!-- Begin- en eindtijd -->
    <div style="margin-top: -1rem; margin-bottom: 1rem;">
      <div class="h-escape" ng-if="booking.beginBooking">
        <booking-timeframe-indicator
          frame="{
            'pickup': booking.beginBooking,
            'return': booking.endBooking,
          }"
        />
      </div>
      <div class="h-escape" ng-if="!booking.beginBooking && booking.beginRequested">
        <booking-timeframe-indicator
          frame="{
            'pickup': booking.beginRequested,
            'return': booking.endRequested,
          }"
        />
      </div>
    </div>

    <!-- Status(balk) reservering -->
    <div ng-include="'booking/show/renting/partial-reservationProgressCard.tpl.html'"
      ng-if="!progress.reservationCompleted && !details.cancelled && !details.rejected"></div>
    
    <!-- Je bent zelf contractant (niet de contracthouder) -->
    <div class="card mw" ng-if="!perspective.isContractHolder">
      <div class="card-body">
        <p>
          <ng-md-icon icon="info_outline"></ng-md-icon>
          Deze boeking is gemaakt op het {{ contract.type.name }} contract van {{ contract.contractor.firstName }}.
        </p>
      </div>
    </div>

    <!-- Betalingsscherm -->
    <div ng-include="'booking/show/renting/partial-payment.tpl.html'"></div>

    <!-- Accepteren/weigeren als zijnde eigenaar [onwaarschijnlijk, maar kan gebeuren bv. in geval business: eigenaar+contracthouder] -->
    <div ng-if="perspective.isOwner">
      <div ng-include="'booking/show/renting/partial-ownerAcceptReject.tpl.html'"></div>
    </div>
    
    <!-- Annuleer-knop -->
    <div ng-include="'booking/show/renting/partial-reservationProcessActions.tpl.html'"></div>

    <!-- After reservation completed, and before the booking has (really) ended -->
    <div ng-if="progress.reservationCompleted && !bookingEndedReally && !details.cancelled">
      <!-- MW Open openen en sluiten knoppen -->
      <div ng-include="'booking/show/partial-openCloseButtons.tpl.html'" ng-if="!perspective.isContractor"></div>
    </div>

    <!-- Acties -->
    <div ng-if="progress.reservationCompleted && booking.ok && (!booking.resource.boardcomputer || !bookingEndedReally)">
      <div ng-include="'booking/show/renting/partial-reservationActions.tpl.html'"></div>
    </div>

    <!-- fullscreen dialog click-throughs -->
    <div class="card mw">

      <div class="card-body-item">
        <div
          class="card-body"
          info-dialog="booking-bookingInfo"
          info-dialog-fullscreen="true"
          info-dialog-params="{ booking: booking, resource: resource, perspective: perspective, discount: discount, extraDrivers: extraDrivers }"
        >
          <ng-md-icon class="pull-right" icon="chevron_right"></ng-md-icon>
          Boekingsinformatie<br />
          <small>{{ resource.brand }} {{ resource.model }} {{ resource.location }}</small>
        </div>
      </div>

      <div class="card-body-item" ng-if="progress.reservationCompleted">
        <div
          class="card-body"
          info-dialog="booking-openClose"
          info-dialog-fullscreen="true"
          info-dialog-params="{ booking: booking, resource: resource }"
        >
          <ng-md-icon class="pull-right" icon="chevron_right"></ng-md-icon>
          Hoe open of sluit ik deze auto?
        </div>
      </div>

      <div class="card-body-item" ng-if="progress.reservationCompleted">
        <div
          class="card-body"
          info-dialog="booking-tank"
          info-dialog-fullscreen="true"
          info-dialog-params="{ booking: booking, resource: resource }"
        >
          <ng-md-icon class="pull-right" icon="chevron_right"></ng-md-icon>
          Hoe tank ik?
        </div>
      </div>

      <div class="card-body-item" ng-if="resource.boardcomputer && progress.reservationCompleted">
        <div
          class="card-body"
          info-dialog="booking-openTips"
          info-dialog-fullscreen="true"
          info-dialog-params="{ booking: booking, resource: resource }"
        >
          <ng-md-icon class="pull-right" icon="chevron_right"></ng-md-icon>
          MyWheels Open tips
        </div>
      </div>

      <!-- (1) owner -->
      <div class="card-body-item" ng-if="perspective.isRenter && !perspective.isOwner">
        <div
          class="card-body"
        >
          Eigenaar
          <div class="pull-right">
            <a class="contact-now" alt="Bel {{ resource.owner.phoneNumbers[0].number }}" ng-if="resource.owner.phoneNumbers[0].number" href="tel:{{ resource.owner.phoneNumbers[0].number }}"><ng-md-icon icon="call"></ng-md-icon></a>
            <a class="contact-now" alt="Mail {{ resource.owner.email }}" ng-if="resource.owner.email" href="mailto:{{ resource.owner.email }}"><ng-md-icon icon="mail_outline"></ng-md-icon></a>
            <a class="contact-now" alt="Stuur bericht" ng-click="openChatWith(resource.owner)"><ng-md-icon icon="chat"></ng-md-icon></a>
          </div>
          <br />
          <small>{{ resource.owner | fullname }}</small>
        </div>
      </div>

      <!-- (3) contact person -->
      <div class="card-body-item" ng-if="
        perspective.isRenter &&
        (resource.contactPerson && resource.contactPerson.id !== resource.owner.id)
      ">
        <div
          class="card-body"
        >
          Beheerder
          <div class="pull-right">
            <a class="contact-now" alt="Bel {{ resource.contactPerson.phoneNumbers[0].number }}" ng-if="resource.contactPerson.phoneNumbers[0].number" href="tel:{{ resource.contactPerson.phoneNumbers[0].number }}"><ng-md-icon icon="call"></ng-md-icon></a>
            <a class="contact-now" alt="Mail {{ resource.contactPerson.email }}" ng-if="resource.contactPerson.email" href="mailto:{{ resource.contactPerson.email }}"><ng-md-icon icon="mail_outline"></ng-md-icon></a>
            <a class="contact-now" alt="Stuur bericht" ng-click="openChatWith(resource.contactPerson)"><ng-md-icon icon="chat"></ng-md-icon></a>
          </div>
          <br />
          <small>{{ resource.contactPerson | fullname }}</small>
        </div>
      </div>

    </div><!-- /.card -->

    <!-- Alternatieven, voor als de reservering nog niet compleet is -->
    <div ng-if="!progress.reservationCompleted">
      <div ng-include="'booking/show/renting/partial-alternatives.tpl.html'" ng-if="!perspective.isContractor"></div>
    </div>

    <!-- Huurovereenkomst -->
    <div ng-include="'booking/show/partial-agreement.tpl.html'"></div>

    <!-- NADAT DE RIT IS AFGELOPEN -->
    <div ng-if="bookingEnded">

      <!-- Review schrijven teaser -->
      <div ng-include="'booking/show/partial-placeReview.tpl.html'" ng-if="showReviewTeaser && !perspective.isContractor && accepted"></div>

      <!-- Kosten -->
      <booking-invoices booking="booking" view-as="renter"
        ng-if="!details.requested && booking.approved === 'OK'"
      />
    </div>

    <!-- Opmerkingen van huurder & verhuurder -->
    <div ng-include="'booking/show/partial-remarks.tpl.html'" ng-if="!perspective.isContractor"></div>

    <!-- Kaart -->
    <div ng-if="progress.reservationCompleted && !bookingEndedReally && !details.cancelled">
      <div ng-include="'booking/show/renting/partial-map.tpl.html'"></div>
    </div>

  </div>
</div>
