
<md-dialog flex-xs="90" flex-sm="60" flex-md="50" flex-lg="30" flex-xl="25" class="mw-green">
  <md-toolbar>
    <div class="md-toolbar-tools">
      <h2>Auto openen</h2>
      <span flex></span>
      <md-button class="md-icon-button" ng-click="hide()">
        <ng-md-icon icon="close"></ng-md-icon>
      </md-button>
    </div>
  </md-toolbar>
  <md-dialog-content class="md-dialog-content">
    <div ng-if="!schade">
      <p class="lead">
        Nog even een korte check: is er schade aan de auto te constateren?
      </p>
      <div style="display: flex; flex-direction: row; flex-wrap: wrap; justify-content: space-between;">
        <button class="mywheels-btn mywheels-btn-big mywheels-btn-error"
                md-ink-ripple="#9a3d26"
                ng-click="welSchade()"
                style="white-space: nowrap; margin-top: 10px;">
          Schade
          <!--<ng-md-icon icon="navigate_next" class="text-white"></ng-md-icon>-->
        </button>
        <button class="mywheels-btn mywheels-btn-big mywheels-btn-normal"
                md-ink-ripple="#4b702c"
                ng-click="geenSchade()"
                style="white-space: nowrap; margin-top: 10px;">
          Geen schade
          <!--<ng-md-icon icon="navigate_next" class="text-white"></ng-md-icon>-->
        </button>
      </div>
    </div>
    <div ng-if="schade">
      <p class="lead">
        Kun je deze schade even toelichten?
      </p>
      <div class="form-group">
        <textarea style="width: 100%;" rows="2" auto-resize md-select-on-focus></textarea>
      </div>
      <p style="text-align: right;">
        <button class="mywheels-btn mywheels-btn-big mywheels-btn-normal"
                md-ink-ripple="#4b702c"
                ng-click="open()"
                style="white-space: nowrap; margin-top: 10px;">
          Verstuur en open <!--<ng-md-icon icon="navigate_next" class="text-white"></ng-md-icon>-->
        </button>
        <!--
        <button title="Open de auto" ng-click="openDoorDialog($event, resource)" class="btn btn-lg btn-default btn-success"><i class="fa fa-unlock fa-fw fa-lg"></i></button>
        <button rel="next" class="mywheels-btn mywheels-btn-big mywheels-btn-call-to-action" md-ink-ripple="#8f6700" ng-click="openDoor(resource)">Open
          <ng-md-icon icon="navigate_next" class="text-white"></ng-md-icon>
        </button>
        -->
      </p>
    </div>
  </md-dialog-content>
</md-dialog>
