
<md-dialog flex-xs="90" flex-sm="60" flex-md="50" flex-lg="30" flex-xl="25" class="mw-green">
  <md-toolbar>
    <div class="md-toolbar-tools">
      <h2>Auto openen</h2>

      <span flex></span>
      <md-button class="md-icon-button" ng-click="hide()">
        <ng-md-icon icon="close"></ng-md-icon>
      </md-button>
    </div>
  </md-toolbar>
  <md-dialog-content class="md-dialog-content">
    <div ng-if="!schade">
      <p class="lead">
        Heeft de auto nieuwe schade?
      </p>
      <div style="display: flex; flex-direction: row; flex-wrap: wrap; justify-content: space-between;">
        <button class="mywheels-btn mywheels-btn-big mywheels-btn-error"
                md-ink-ripple="#9a3d26"
                ng-click="welSchade()"
                style="white-space: nowrap; margin-top: 10px;">
          Ja
          <!--<ng-md-icon icon="navigate_next" class="text-white"></ng-md-icon>-->
        </button>
        <button class="mywheels-btn mywheels-btn-big mywheels-btn-normal"
                md-ink-ripple="#4b702c"
                ng-click="geenSchade()"
                style="white-space: nowrap; margin-top: 10px;">
          Nee
          <!--<ng-md-icon icon="navigate_next" class="text-white"></ng-md-icon>-->
        </button>
      </div>
    </div>
    <div ng-show="schade">
      <p class="lead">
        Kun je deze schade even toelichten?
      </p>
      <div class="form-group lead">
        <textarea style="width: 100%;"
                  rows="2"
                  auto-resize
                  md-select-on-focus
                  ng-model="damageDescription"></textarea>
      </div>
      <div class="dialog-buttons-right">
        <button class="mywheels-btn mywheels-btn-border"
                md-ink-ripple="#4b702c"
                ng-click="schade = false;"
                style="white-space: nowrap; margin: 10px 10px 0 0;">
          Terug
        </button>
        <button class="mywheels-btn mywheels-btn-big mywheels-btn-normal"
                md-ink-ripple="#4b702c"
                ng-click="reportDamageDescription()"
                style="white-space: nowrap; margin: 10px 0 0 0;">
          Verstuur en open <!--<ng-md-icon icon="navigate_next" class="text-white"></ng-md-icon>-->
        </button>
      </div>
    </div>
  </md-dialog-content>
</md-dialog>
