
<md-dialog flex-xs="100" flex-sm="70" flex-md="50" flex-lg="40" flex-xl="30"
           class="info-dialog">
  <md-dialog-content class="md-dialog-content">
    <h3 class="with-close-button">
      Eigen risico wijzigen
      <md-button class="md-icon-button close-button" ng-click="hide()">
        <ng-md-icon icon="close"></ng-md-icon>
      </md-button>
    </h3>

    <p ng-if="actionResultMessage" class="alert alert-success" style="margin: 3rem 0 1rem 0;">
      {{ actionResultMessage }}
      <a ng-click="hide()">Sluiten</a>
    </p>

    <div ng-if="!actionResultMessage">

      <div ng-if="currentCredit === null">
        <spinner />
      </div>

      <div ng-if="currentCredit !== null">

        <form name="editRiskReductionForm" class="mywheels-form">
          <div ng-if="contract.ownRiskWaiver === 'month'">
            <p ng-if="perspective.isContractHolder">
              Je hebt bij je {{ contract.type.name }} gekozen om het eigen risico standaard te verlagen.
              Wil je dit uitzetten? Dat kan op <a ui-sref="owm.person.profile.contract">je contractpagina</a>.
            </p>
            <p ng-if="!perspective.isContractHolder">
              Bij dit {{ contract.type.name }} contract is gekozen het eigen risico standaard te verlagen.
            </p>
          </div>
          <div ng-if="contract.ownRiskWaiver !== 'month'">
            <div ng-if="booking.riskReduction">
              <p>
                Je hebt het eigen risico voor deze rit verlaagd.
                Wil je dit uitzetten, dan kan dat met onderstaande knop.
                Je rijtegoed wordt opgehoogd met het bedrag dat je hiermee hebt bespaard.
              </p>
              <p class="dialog-buttons-centered">
                <button class="mywheels-btn mywheels-btn-call-to-action"
                        md-ink-ripple="#4b702c"
                        ng-click="setRiskReduction(false)"
                        style="white-space: nowrap;">
                  Eigen risico uitzetten
                </button>
              </p>
            </div>
            <div ng-if="!booking.riskReduction">
              <p>
                Je hebt het eigen risico niet verlaagd voor deze rit.
                Het verlagen van je eigen risico kost {{ 3.5 | currency }} per etmaal.
                Voor deze rit komt dat neer op {{ amount | currency }}.
              </p>
              <p class="dialog-buttons-centered">
                <button class="mywheels-btn mywheels-btn-call-to-action"
                        md-ink-ripple="#4b702c"
                        ng-click="setRiskReduction(true)"
                        style="white-space: nowrap;">
                  Eigen risico aanzetten
                </button>
              </p>
            </div>
          </div>

        </form>
      
      </div>
    </div>
  </md-dialog-content>
</md-dialog>
