
<!-- Drive and fuel information -->
<div class="card mw"
    id="mywheelsOpenInfo"
    ng-if="['cancelled', 'owner_cancelled', 'rejected'].indexOf(booking.status) < 0 &&
            !bookingEndedReally">
  <div class="card-heading">
    <h3 class="card-title" ng-if="resource.boardcomputer">MyWheels Open</h3>
    <h3 class="card-title" ng-if="!resource.boardcomputer">Sleuteloverdracht</h3>
  </div>

  <div class="card-body">
    <h5>{{ 'LOCKTYPE.ophalen' | translate }}</h5>
    <div ng-bind-html="booking.lockTypeManual | toParagraphs"></div>

    <h5>{{ 'DRIVE' | translate }}</h5>
    <div ng-bind-html="booking.fuelManual | toParagraphs | highlightPin"></div>

    <h5 ng-if="resource.boardcomputer">Tips</h5>
    <table ng-if="resource.boardcomputer">
      <tr>
        <td style="width:55px;"><img src="assets/img/icons/magnifyinglass.png" /></td>
        <td style="line-height: 40px;">Check de auto vóór de rit op schade</td>
      </tr>
      <tr>
        <td style="width:55px;"><img src="assets/img/icons/nosmoking.png" /></td>
        <td style="line-height: 40px;">Niet roken in de auto</td>
      </tr>
      <tr>
        <td style="width:55px;"><img src="assets/img/icons/watch.png" /></td>
        <td style="line-height: 40px;">Breng de auto op tijd terug of verleng de rit</td>
      </tr>
      <tr>
        <td style="width:55px;"><img src="assets/img/icons/sparkles.png" /></td>
        <td style="line-height: 40px;">Lever de auto weer schoon en netjes in</td>
      </tr>
      <tr>
        <td style="width:55px;"><img src="assets/img/icons/gas.png" /></td>
        <td style="line-height: 40px;">
          <span ng-if="booking.resource.fuelType === 'elektrisch'">Zorg dat de auto na afloop weer opgeladen wordt</span>
          <span ng-if="booking.resource.fuelType !== 'elektrisch'">Minimaal 1/4 tank vol voor de volgende huurder</span>
        </td>
      </tr>
    </table>
  </div>
</div>
