
<!-- Add kilometers -->
<div class="card mw"
    id="kilometerForm"
    ng-if="accepted &&
            booking.ok &&
            bookingStarted &&
            (!booking.trip.odoBegin || !booking.trip.odoEnd) &&
            !booking.resource.boardcomputer &&
            !booking.trip.finalized">
  <div class="card-body card-inverse" style="background-color:#5faac8; color:white;" layout="row" layout-xs="column">
    <div flex="75" flex-xs="100">
      <h3 style="color:#fff; margin-bottom:10px; margin-top: 0;">Kilometerstanden doorgeven</h3>
      Wil je de (begin en eind) kilometerstand van de rit doorgeven?
    </div>

    <p hide-gt-xs></p>

    <div flex="25" flex-xs="100" class="text-center">
      <md-button class="md-raised" ui-sref="owm.booking.administer({ bookingId: booking.id })">Rit administreren</md-button>
    </div>
  </div>
</div>


<!-- Wait for finalizing trip by other -->
<div class="card mw"
    id="kilometerForm"
    ng-if="booking.ok &&
            bookingStarted &&
            booking.trip.odoBegin && booking.trip.odoEnd &&
            booking.trip.updatedBy.id === me.id &&
            !booking.resource.boardcomputer &&
            !booking.trip.finalized">
  <div class="card-body card-inverse" style="background-color:#5faac8; color:white;">
    <h3 class="text-white" style="margin: 0;">Controle kilometers</h3>
    <span ng-if="userPerspective==='owner'">Je hebt onderstaande kilometerstanden doorgegeven. We hebben {{ booking.person.firstName }} gevraagd om de kilometerstanden te controleren. Als {{ booking.person.firstName }} dit niet binnen zeven dagen doet, worden de kilometerstanden automatisch geaccordeerd.</span>
    <span ng-if="userPerspective==='renter'">Je hebt onderstaande kilometerstanden doorgegeven. We hebben {{ booking.resource.owner.firstName }} gevraagd om de kilometerstanden te controleren. Als {{ booking.resource.owner.firstName }} dit niet binnen zeven dagen doet, worden de kilometerstanden automatisch geaccordeerd.</span>
    <br/><br/>
    <table>
      <tr>
        <td>Begin kilometerstand: </td>
        <td class="text-right">{{ booking.trip.odoBegin }}</td>
      </tr>
      <tr>
        <td>Eind kilometerstand: </td>
        <td class="text-right">{{ booking.trip.odoEnd }}</td>
      </tr>
      <tr>
        <td>Gereden kilometers: </td>
        <td class="text-right">{{ booking.trip.odoEnd - booking.trip.odoBegin }}</td>
      </tr>
    </table>
  </div>
</div>


<!-- Finalize trip -->
<div class="card mw"
    id="kilometerForm"
    ng-if="booking.ok &&
            bookingEnded &&
            booking.trip.odoBegin && booking.trip.odoEnd &&
            booking.trip.updatedBy.id !== me.id &&
            !booking.resource.boardcomputer &&
            !booking.trip.finalized">
  <div class="card-body card-inverse" style="background-color:#5faac8; color:white;" layout="row" layout-xs="column">
    <div flex="70" flex-xs="100">
      <h3 style="color:#fff; margin-bottom:10px;">Controleer kilometers</h3>
      Zijn onderstaande kilometerstanden correct?
      <br/><br/>
      <table>
        <tr>
          <td>Begin kilometerstand: </td>
          <td class="text-right">{{ booking.trip.odoBegin }}</td>
        </tr>
        <tr>
          <td>Eind kilometerstand: </td>
          <td class="text-right">{{ booking.trip.odoEnd }}</td>
        </tr>
        <tr>
          <td>Gereden kilometers: </td>
          <td class="text-right">{{ booking.trip.odoEnd - booking.trip.odoBegin }}</td>
        </tr>
      </table>
      <br/>
      Kloppen bovenstaande gegevens niet? Neem dan <a href="http://mywheels.nl/autodelen/community/contact" target="_blank" style="color:#fff; text-decoration:underline">contact</a> met ons op.
    </div>

    <p hide-gt-xs></p>

    <div flex="30" flex-xs="100" class="text-center">
      <p hide-xs><br/><br/><br/></p>
      <md-button class="md-raised" ui-sref="owm.booking.finalize({booking: booking.id})">{{ 'FINALIZE_BOOKING' | translate }}</md-button>
    </div>
  </div>
</div>
