
<div class="card mw">
  <div class="card-body">
    <h3>Status</h3>
    <ul class="list-unstyled">
      <li
        ng-repeat="step in progress.list"
        style="margin-bottom: .5rem;"
        ng-style="{
          'font-weight': step.stress ? 600 : 400,
          'cursor': (step.tooltip || step.scrollTo) ? 'pointer' : 'inherit',
        }"
        uib-tooltip="{{ step.tooltip }}"
        smooth-scroll-to-item="{{ step.scrollTo }}"
      >
        <ng-md-icon icon="check" ng-if="step.checked"></ng-md-icon>
        <ng-md-icon icon="check_box_outline_blank" ng-if="!step.checked"></ng-md-icon>
        {{ step.text }}
      </li>
    </ul>

    <div
      class="progress-indicator"
      style="
        position: relative;
        margin-top: 2rem;
        height: 2.6rem;
        border-radius: 999rem;
        background: #eee;
        box-shadow: inset 1px 1px 5px rgba(0,0,0,0.1);
      "
    >
      <div
        class="progress-covered"
        style="
          position: absolute;
          top: 0;
          left: 0;
          bottom: 0;
          border-radius: 999rem;
          background: #82b955;
          width: 0%;

          transition: width .4s ease;
        "
        ng-style="{
          width: progressPercentage + '%',
        }"
      ></div>
    </div>

    <p class="reservation-progress-summary" style="text-align: center;">
      <em>{{ progress.summary }}</em>
    </p>

    <div ng-if="showBookOnlyNotice"
      class="h-escape h-pad"
      style="
        background: #ffecc2;
        color: #911a1a;
        padding-top: 1rem;
        padding-bottom: 1rem;
      "
    >
      <p><strong>Let op:</strong> Je account is op dit moment nog niet actief, je kunt de auto dus ook nog niet ophalen.</p>
      <p>Een aantal van onze controles konden niet automatisch worden uitgevoerd voor jouw account. Zodra wij deze controles hebben uitgevoerd ontvang je per mail bericht over het activeren van je account.</p>
    </div>
  </div>
</div>
