
<!-- Discount information for renter -->
<div class="card mw"
    ng-if="discount.length > 0">
  <div class="card-heading">
    <h3 class="card-title">Kortingscode</h3>
  </div>
  <div class="card-body">
    Je hebt kortingscode {{ discount[0].discount.code }} gebruikt voor deze reservering. Je krijgt tot <span ng-if="discount[0].discount.amount > 0">€ {{ discount[0].discount.amount }}</span> <span ng-if="discount[0].discount.percentage > 0">{{ discount[0].discount.percentage }}%</span> korting van <span ng-if="discount[0].discount.sender.id === resource.owner.id">verhuurder</span> {{ discount[0].discount.sender | fullname }}.
  </div>
</div>
