
<!-- Declarations -->
<div class="card mw">
  <div class="card-heading">
    <h3 class="card-title">
      {{ 'DECLARATION_TITLE' | translate }}
    </h3>
  </div>
  <div class="card-body">
    <div class="row">
      <div class="col-sm-12" ng-repeat="declaration in booking.declarations">
        <div class="declarations__item">
          <div class="declarations__item__image" ng-style="{'background-image': 'url('+appConfig.serverUrl+'/declaration/' + declaration.image + ')'}" ng-click="openDialog($event, declaration)"></div>
          <div class="declarations__item__text">
            <p class="declarations__item__amount">&euro;{{::declaration.amount|number:2}}</p>
            <p><small>{{ 'DECL_LABEL_DATE' | translate }}</small><br>{{::declaration.created}}</p>
          </div>
        </div>
      </div>
    </div>
    <div ng-if="!booking.declarations || booking.declarations.length == 0">
      {{ 'DECL_NO_DEC_SHOW' | translate }}
    </div>
    <div style="margin-top: 2em;" ng-if="allowDeclarationsAdd">
      <a class="btn btn-default" ui-sref="^.administer">{{ 'DECL_ADD' | translate }}</a>
    </div>
  </div>
</div>
