
<!-- Discount information for owner -->
<div class="card mw"
    ng-if="discount.length > 0 &&
          discount[0].discount.sender.id === resource.owner.id">
  <div class="card-heading">
    <h3 class="card-title">Kortingscode</h3>
  </div>
  <div class="card-body">
    <span>{{ booking.person | fullname }} heeft kortingscode {{ discount[0].discount.code }} gebruikt voor deze reservering. Met deze code krijgt {{ booking.person.firstName }} tot <span ng-if="discount[0].discount.amount > 0">€ {{ discount[0].discount.amount }}</span> <span ng-if="discount[0].discount.percentage > 0">{{ discount[0].discount.percentage }}%</span> korting van jou.</span>
  </div>
</div>
