<!DOCTYPE html>
<html>

<head>
	<base href="/">
	<title bind-meta bind-meta-prop="title"></title>
	<meta name="description" content="" bind-meta bind-meta-attr="content" bind-meta-prop="description" />
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1">

	<!-- icons -->
	<link rel="shortcut icon" href="/branding/logoicon.ico">
	<link rel="icon" sizes="16x16 32x32 64x64" href="/branding/logoicon.ico">
	<link rel="icon" type="image/png" sizes="196x196" href="/branding/logoicon-192.png">
	<link rel="icon" type="image/png" sizes="160x160" href="/branding/logoicon-160.png">
	<link rel="icon" type="image/png" sizes="96x96" href="/branding/logoicon-96.png">
	<link rel="icon" type="image/png" sizes="64x64" href="/branding/logoicon-64.png">
	<link rel="icon" type="image/png" sizes="32x32" href="/branding/logoicon-32.png">
	<link rel="icon" type="image/png" sizes="16x16" href="/branding/logoicon-16.png">
	<link rel="apple-touch-icon" href="/branding/logoicon-57.png">
	<link rel="apple-touch-icon" sizes="114x114" href="/branding/logoicon-114.png">
	<link rel="apple-touch-icon" sizes="72x72" href="/branding/logoicon-72.png">
	<link rel="apple-touch-icon" sizes="144x144" href="/branding/logoicon-144.png">
	<link rel="apple-touch-icon" sizes="60x60" href="/branding/logoicon-60.png">
	<link rel="apple-touch-icon" sizes="120x120" href="/branding/logoicon-120.png">
	<link rel="apple-touch-icon" sizes="76x76" href="/branding/logoicon-76.png">
	<link rel="apple-touch-icon" sizes="152x152" href="/branding/logoicon-152.png">
	<link rel="apple-touch-icon" sizes="180x180" href="/branding/logoicon-180.png">
	<meta name="msapplication-TileColor" content="#FFFFFF">
	<meta name="msapplication-TileImage" content="/branding/logoicon-144.png">
	<meta name="msapplication-config" content="/branding/browserconfig.xml">

	<meta name="google-site-verification" content="fuCuROqvpZYmVH5A8uTzM2CnLdTBk2x7THnrSpSePVM" />
	<meta name="google-site-verification" content="oLKSn8CMjj_JeRGGxijr--jpO6DDMVz4z0HW-40UtNI" />
	
	<% styles.forEach( function ( file ) { %>
		<link rel="stylesheet" type="text/css" href="<%= file %>" />
	<% }); %>

	<link rel="stylesheet" type="text/css" href="branding/style.css">
	<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

	<!-- OpenGraph -->
	<meta property="og:type" content="website" />
	<meta property="og:url" content="" bind-meta bind-meta-attr="content" bind-meta-prop="url" />
	<meta property="og:title" content="Huur voordelig een auto" bind-meta bind-meta-attr="content" bind-meta-prop="title" />
	<meta property="og:description" content="" bind-meta bind-meta-attr="content" bind-meta-prop="description" />
	<meta property="og:image" content="/branding/huur_in_de_buurt.jpg" bind-meta bind-meta-attr="content" bind-meta-prop="image" />
	<meta property="og:locale" content="nl_NL" bind-meta bind-meta-attr="content" bind-meta-prop="locale" />

	<meta property="robots" content="all" bind-meta bind-meta-attr="content" bind-meta-prop="robots" />
	<meta property="canonical" bind-meta bind-meta-attr="href" bind-meta-prop="canonical" />

	<!-- Twitter -->
	<meta name="twitter:card" content="summary" />
	<meta name="twitter:title" content="" bind-meta bind-meta-attr="content" bind-meta-prop="title" />
	<meta name="twitter:description" content="" bind-meta bind-meta-attr="content" bind-meta-prop="description" />
	<meta name="twitter:image:src" content="/branding/huur_in_de_buurt.jpg" bind-meta bind-meta-attr="content" bind-meta-prop="image" />
	
	<!-- Mailchimp goal tracking -->
	<!-- <script id="mcjs">
		!function(c,h,i,m,p){m=c.createElement(h),p=c.getElementsByTagName(h)[0],m.async=1,m.src=i,p.parentNode.insertBefore(m,p)}(document,"script","https://chimpstatic.com/mcjs-connected/js/users/33c2c4a296c61fb67ac1ed501/4374b6da1660dd385c9eb14d9.js");
	</script> -->
	
</head>

<body layout="column">

	<div ui-view>
		<div class="global-spinner" ng-show="loader" type="loader.type">
			<div class="mw-md-progress-circular spinner-size-2"><div class="mw-md-scale-wrapper">
			<div class="mw-md-spinner-wrapper"><div class="mw-md-inner"><div class="mw-md-gap"></div><div class="mw-md-left"><div class="mw-md-half-circle"></div></div><div class="mw-md-right"><div class="mw-md-half-circle"></div></div></div></div>
			</div></div>
		</div>
	
	</div>
	<% scripts.forEach(function (file) { %>
		<script type="text/javascript" src="<%= file %>?v=<%= version %>"></script>
		<% }); %>
</body>

</html>
