
<h2>Opties en accessoires</h2>
<div class="specifics-table">
    <div flex="100" layout-gt-xs="row" class="specificRow">
        <div flex-xs="100" flex="50" layout="row" class="item airconditioning">
            <div flex="50" class="title">{{ 'ACCESSORIES.AIRCONDITIONING' | translate }}</div>
            <div flex="50" class="info"><has-feature-icon has="airconditioning >= 0" type="has"></has-feature-icon></div>
        </div>
        <div flex-xs="100" flex="50" layout="row" class="item bike_carrier">
            <div flex="50" class="title">{{ 'ACCESSORIES.BIKE_CARRIER' | translate }}</div>
            <div flex="50" class="info"><has-feature-icon has="bikeCarrier >= 0" type="has"></has-feature-icon></div>
        </div>
    </div>
    <div flex="100" layout-gt-xs="row" class="specificRow">
        <div flex-xs="100" flex="50" layout="row" class="item child_seat">
            <div flex="50" class="title">{{ 'ACCESSORIES.CHILD_SEAT' | translate }}</div>
            <div flex="50" class="info"><has-feature-icon has="childSeat >= 0" type="has"></has-feature-icon></div>
        </div>
        <div flex-xs="100" flex="50" layout="row" class="item mp3_connection">
            <div flex="50" class="title">{{ 'ACCESSORIES.MP3_CONNECTION' | translate }}</div>
            <div flex="50" class="info"><has-feature-icon has="mp3Connection >= 0" type="has"></has-feature-icon></div>
        </div>
    </div>
    <div flex="100" layout-gt-xs="row" class="specificRow">
        <div flex-xs="100" flex="50" layout="row" class="item navigation">
            <div flex="50" class="title">{{ 'ACCESSORIES.NAVIGATION' | translate }}</div>
            <div flex="50" class="info"><has-feature-icon has="navigation >= 0" type="has"></has-feature-icon></div>
        </div>
        <div flex-xs="100" flex="50" layout="row" class="item wheelchair_friendly">
            <div flex="50" class="title">{{ 'ACCESSORIES.WHEELCHAIR_FRIENDLY' | translate }}</div>
            <div flex="50" class="info"><has-feature-icon has="wheelchairFriendly >= 0" type="has"></has-feature-icon></div>
        </div>
    </div>
    <div flex="100" layout-gt-xs="row" class="specificRow">
        <div flex-xs="100" flex="50" layout="row" class="item towbar">
            <div flex="50" class="title">{{ 'ACCESSORIES.TOW_BAR' | translate }}</div>
            <div flex="50" class="info"><has-feature-icon has="towbar >= 0" type="has"></has-feature-icon></div>
        </div>
        <div flex-xs="100" flex="50" layout="row" class="item winter_tires">
            <div flex="50" class="title">{{ 'ACCESSORIES.WINTER_TIRES' | translate }}</div>
            <div flex="50" class="info"><has-feature-icon has="winterTires >= 0" type="has"></has-feature-icon></div>
        </div>
    </div>
</div>
