
<div class="resource-key-features">
  <div layout="row" layout-align="center" class="key-features-row">
    <div flex-xs="100" flex="40" class="item">
      <ng-md-icon icon="vpn_key"></ng-md-icon>
      <span ng-repeat="locktype in resource.locktypes | unique:'locktype'">{{  ('LOCKTYPE.' + locktype) | translateOrDefault : locktype | lowercase }}<span ng-if="!$last"> & </span></span>
      <span ng-if="!resource.locktypes">{{ 'UKNOWN_LOCKTYPE' | translate | lowercase }}</span>
    </div>
    <div flex-xs="100" flex="40" class="item">
      <ng-md-icon icon="message"></ng-md-icon>
      <span>{{ resource.response_accept | percentage : 0 }} {{ 'ACCEPTED_REQUESTS' | translate}}</span>
    </div>
  </div>
  <div layout="row" layout-align="center" class="key-features-row">
    <div flex-xs="100" flex="40" class="item" ng-if="resource.rating_totals.satisfaction > .5">
      <ng-md-icon icon="thumb_up"></ng-md-icon>
      {{ resource.rating_totals.satisfaction | percentage: 0 }} tevredenheid
    </div>
    <div flex-xs="100" flex="40" class="item">
      <ng-md-icon icon="event_available"></ng-md-icon>
      {{ resource.numberOfBookings | wasBookedTimes }}
    </div>
  </div>
</div>