<md-card class="ow-card" ng-click="select()" style="box-shadow:none;">
  <div class="md-card-image" style="position: relative">
    <div resource="resource" size="normal" class="ng-isolate-scope">
      <img class="media-object img-resource-large pull-left" ng-src="{{ resource.pictures[0] | resourceAvatar:'large' }}" />
    </div>
    <div class="price">
        <h2 class="no-margin" style="color:#fff">
      {{ resource.price.dayRateTotal | currency }}
      </h2>
        <div ng-if="resource.price.kmFree" class="">
            <small>{{ 'FREE_KM_DAY' | translate }}</small>
        </div>
    </div>
  </div>
  <div style="position: relative">
      <md-card-title>
          <md-card-title-text>
            <a ui-sref="owm.resource.show({city: (resource.city | replaceSpaceToDash | lowercase), resourceId: resource.id})">
              <h3 class="no-margin" style="font-size: 2rem" >
                <span>{{ resource.alias || ('RESOURCE_NO_NAME' | translate) }} </span>
              </h3>
            </a>
          </md-card-title-text>
      </md-card-title>
      <md-card-body class="ow-list-compact">
          <md-list class="margin-right">
              <md-list-item>
                <!-- location -->
                <ng-md-icon icon="directions_car" alt="Icoon" aria-label="Icoon"></ng-md-icon>
                <div flex>
                    <span ng-if="resource.brand || resource.model" flex="none">{{ (resource.brand + ' ' + resource.model) | toTitleCase }}</span>
                    <span class="tag tag-warning" ng-if="['smartphone', 'chipcard'].indexOf(resource.locktype) >= 0" flex="none"> {{ 'MYWHEELS_OPEN_TIP' | translate }} 
                    <md-tooltip class="multiline" md-direction="bottom" ng-if="['smartphone', 'chipcard'].indexOf(resource.locktype) >= 0">
                        {{ 'MYWHEELS_OPEN_INFO' | translate }}
                    </md-tooltip></span>
                    <span class="tag tag-success" ng-if="resource.newScoreCar" flex="none"> {{ 'NEW_TIP' | translate }} </span>
                </div>
              </md-list-item>
              <md-list-item>
                <!-- location -->
                <ng-md-icon icon="location_on" alt="Icoon" aria-label="Icoon"></ng-md-icon>
                <div flex>
                    <span> {{ resource.location }}, {{ resource.city }}
                      <span ng-if="resource.distance_to"> ({{ resource.distance_to | formatKilometers }})</span>
                    </span>
                </div>
              </md-list-item>
              <md-list-item>
                <!-- person -->
                <ng-md-icon icon="person" alt="Icoon" aria-label="Icoon"></ng-md-icon>
                <div flex>
                    {{ resource.owner.firstName }}
                    <span rating-thumb="{ value : resource.rating_totals.satisfaction, senders: resource.rating_totals.senders }"></span>
                </div>
              </md-list-item>
              <md-list-item hide-xs>
                <!-- number of bookings -->
                <ng-md-icon icon="check" alt="Icoon" aria-label="Icoon"></ng-md-icon>
                  <div flex>
                    <span>
                      {{ resource.numberOfBookings | wasBookedTimes }}
                    </span>
                  </div>
              </md-list-item>
          </md-list>
          <div class="next-icon">
              <a ui-sref="owm.resource.show({city: (resource.city | replaceSpaceToDash | lowercase), resourceId: resource.id, start: startDate, end: endDate})">
                  <ng-md-icon icon="navigate_next" alt="Icoon" aria-label="Icoon"></ng-md-icon>
              </a>
          </div>
      </md-card-body>
    </div>
</md-card>