<div class="resource-unavailable escape-card-padding">

  <h3>Niet beschikbaar</h3>
  <div class="lead">
    <p class="text-white">
      Het spijt ons, de eigenaar heeft deze auto op onbeschikbaar gezet.
      Wil je de auto toch graag huren? Neem dan contact op met de eigenaar.
    </p>
  </div>
  <p>
    <a class="mywheels-btn mywheels-btn-light mywheels-btn-big"
       md-ink-ripple="rgb(230, 90, 55)"
       class="md-primary"
       ui-sref="owm.resource.search.list({ lat: resource.latitude, lng: resource.longitude })">
      Vind een auto in de buurt
    </a>
  </p>
</div>
