<div class="resource-unavailable escape-card-padding">

  <h3>Niet beschikbaar</h3>
  <div class="lead">
    <p>
      Het spijt ons, maar het lijkt erop dat deze auto door de eigenaar op onbeschikbaar is gezet.
      Dit kan een tijdelijke maatregel zijn.
    </p>
    <p>
      Wilt u de auto toch graag huren? Neem dan contact op met de eigenaar.
    </p>
  </div>
  <p>
    <a class="mywheels-btn mywheels-btn-light mywheels-btn-big"
       md-ink-ripple="rgb(230, 90, 55)"
       class="md-primary"
       ui-sref="owm.resource.search.list({ lat: resource.latitude, lng: resource.longitude })">
      Vind een auto in de buurt
    </a>
  </p>
</div>
