
<div class="resource-key-features">
  <div layout="column" layout-gt-xs="row" layout-align="center" class="key-features-row">
    <div flex-gt-sm="40" flex="100" class="item">
      <ng-md-icon icon="vpn_key"></ng-md-icon>
      <span ng-repeat="locktype in resource.locktypes | unique:'locktype'">{{  ('LOCKTYPE.' + locktype) | translateOrDefault : locktype }}<span ng-if="!$last"> & </span></span>
      <span ng-if="!resource.locktypes">{{ 'UKNOWN_LOCKTYPE' | translate }}</span>
    </div>
    <div flex-gt-sm="40" flex="100" class="item">
      <ng-md-icon icon="message"></ng-md-icon>
      <span>{{ resource.response_accept | percentage : 0 }} {{ 'ACCEPTED_REQUESTS' | translate}}</span>
    </div>
  </div>
  <div layout="column" layout-gt-xs="row" layout-align="center" class="key-features-row">
    <div flex-gt-sm="40" flex="100" class="item" ng-if="resource.rating_totals.senders && resource.rating_totals.satisfaction >= .5">
      <ng-md-icon icon="thumb_up"></ng-md-icon>
      {{ resource.rating_totals.satisfaction | percentage: 0 }} tevredenheid
    </div>
    <div flex-gt-sm="40" flex="100" class="item" ng-if="resource.rating_totals.senders && resource.rating_totals.satisfaction < .5">
      <ng-md-icon icon="thumb_down"></ng-md-icon>
      {{ resource.rating_totals.satisfaction | percentage: 0 }} tevredenheid
    </div>
    <div flex-gt-sm="40" flex="100" class="item" ng-if="!resource.rating_totals.senders">
      <ng-md-icon icon="thumbs_up_down"></ng-md-icon>
      Nog niet beoordeeld
    </div>
    <div flex-gt-sm="40" flex="100" class="item">
      <ng-md-icon icon="event_available"></ng-md-icon>
      {{ resource.numberOfBookings | wasBookedTimes }}
    </div>
  </div>

  <div ng-if="$root.experiments.schattingKmKostenDropdown" layout="column" layout-gt-xs="row" layout-align="center" class="key-features-row">

    <!-- KILOMETERPRIJS -->

    <!-- geen gratis kilometers    //  ng-click="infoDialog('kilometerkosten')" -->
    <div flex-gt-sm="40" flex="100" class="item" info-dialog="kilometerkosten" info-dialog-params="{ kmFree: resource.price.kmFree }" ng-if="!resource.price.kmFree">
      <ng-md-icon icon="directions_car"></ng-md-icon>
      <span class="underline"><span class="price">{{ resource.price.kilometerRate | currency }}</span> per km</span>
    </div>

    <!-- wel gratis kilometers     // ng-click="infoDialog('kilometerkosten')" -->
    <div flex-gt-sm="40" flex="100" class="item" info-dialog="kilometerkosten" info-dialog-params="{ kmFree: resource.price.kmFree }" ng-if="resource.price.kmFree">
      <ng-md-icon icon="directions_car"></ng-md-icon>
      <span class="free-km">{{ (showPricePerHour ? 'FREE_KM_HOUR' : 'FREE_KM_DAY') | translate }}</span><br />
      <span class="underline">daarna <span class="price">{{ resource.price.kilometerRate | currency }}</span> per km</span>
    </div>



    <!-- BRANDSTOFBELEID -->

    <!-- zelf tanken    // ng-click="infoDialog('zelfTanken')" -->
    <div flex-gt-sm="40" flex="100" class="item" info-dialog="zelfTanken" ng-if="resource.refuelByRenter">
      <ng-md-icon icon="local_gas_station"></ng-md-icon>
      <span class="underline">Zelf tanken</span>
    </div>

    <!-- vaste prijs per km   // ng-click="infoDialog('vasteBrandstofprijs')" -->
    <div flex-gt-sm="40" flex="100" class="item" info-dialog="vasteBrandstofprijs" info-dialog-params="{ tankpas: resource.fuelCardCar }" ng-if="!resource.refuelByRenter">
      <ng-md-icon icon="local_gas_station"></ng-md-icon>
      <span class="underline">Brandstof <span class="price">{{ resource.price.fuelPerKilometer | currency }}</span> per km</span>
    </div>

  </div>
</div>