
<!-- && !isWindowSizeMD 
<div ng-if="resource.isActive && features.social" class="card mw">
    <div class="card-body">
        <p ng-if="resource.owner.id === me.id || resource.contactPerson.id === me.id">{{ 'SOCIAL_SHARE_RESOURCE' | translateOrDefault }}</p>
        <p ng-if="resource.owner.id !== me.id && resource.contactPerson.id !== me.id">{{ 'SOCIAL_SHARE_RESOURCE_NOT_OWNER' | translateOrDefault }}</p>
        <div class="share-buttons text-center">
            <a 
                href="#"
                socialshare
                socialshare-provider="facebook"
                socialshare-via="appConfig.fbAppId"
                socialshare-text="Huur een {{ resource.brand | toTitleCase }} {{ resource.model | toTitleCase }} voor {{ resource.price.dayRateTotal | currency }} per dag via MyWheels"
                socialshare-hashtags="autodelen"
                socialshare-url="{{ shareUrl }}"
                class="btn btn-link"
                ga-track-event="['interaction', 'shareResourceFacebook', 'resourceShow']"
            >
                <i class="fa fa-fw fa-1x fa-facebook"></i>Facebook
            </a>
            <a 
                href="#"
                socialshare
                socialshare-provider="twitter"
                socialshare-text="Huur een {{ resource.brand | toTitleCase }} {{ resource.model | toTitleCase }} voor {{ resource.price.dayRateTotal | currency }} per dag via MyWheels"
                socialshare-hashtags="autodelen"
                socialshare-url="{{ shareUrl }}"
                class="btn btn-link"
                ga-track-event="['interaction', 'shareResourceTwitter', 'resourceShow']"

            >
                <i class="fa fa-fw fa-1x fa-twitter"></i>Twitter
            </a>
            <a 
                href="#"
                socialshare
                socialshare-provider="whatsapp"
                socialshare-text="Huur een {{ resource.brand | toTitleCase }} {{ resource.model | toTitleCase }} voor {{ resource.price.dayRateTotal | currency }} per dag via MyWheels"
                socialshare-url="{{ shareUrl }}"
                class="btn btn-link"
                ga-track-event="['interaction', 'shareResourceWhatsApp', 'resourceShow']"
                hide-gt-xs
            >
                <i class="fa fa-fw fa-1x fa-whatsapp"></i>WhatsApp
            </a>
        </div>
    </div>
</div>-->

<div ng-if="resource.isActive && features.social" class="card">
    <div class="card-body">
        <p ng-if="resource.owner.id === me.id || resource.contactPerson.id === me.id">{{ 'SOCIAL_SHARE_RESOURCE' | translateOrDefault }}</p>
        <p ng-if="resource.owner.id !== me.id && resource.contactPerson.id !== me.id">{{ 'SOCIAL_SHARE_RESOURCE_NOT_OWNER' | translateOrDefault }}</p>
        <div class="share-buttons text-center">
            <a 
                href="#"
                socialshare
                socialshare-provider="facebook"
                socialshare-via="appConfig.fbAppId"
                socialshare-text="Huur een {{ resource.brand | toTitleCase }} {{ resource.model | toTitleCase }} voor {{ resource.price.dayRateTotal | currency }} per dag via MyWheels"
                socialshare-hashtags="autodelen"
                socialshare-url="{{ shareUrl }}"
                class="btn btn-link"
                ga-track-event="['interaction', 'shareResourceFacebook', 'resourceShow']"
            >
                <i class="fa fa-fw fa-1x fa-facebook"></i>Facebook
            </a>
            <a 
                href="#"
                socialshare
                socialshare-provider="twitter"
                socialshare-text="Huur een {{ resource.brand | toTitleCase }} {{ resource.model | toTitleCase }} voor {{ resource.price.dayRateTotal | currency }} per dag via MyWheels"
                socialshare-hashtags="autodelen"
                socialshare-url="{{ shareUrl }}"
                class="btn btn-link"
                ga-track-event="['interaction', 'shareResourceTwitter', 'resourceShow']"

            >
                <i class="fa fa-fw fa-1x fa-twitter"></i>Twitter
            </a>
        </div>
    </div>
</div>