<div class="home landing">
    <!-- SEARCHBAR -->
    <div ng-if="!features.homeCarousel" class="hero inverted text-center">
        <div class="hero-overlay"></div>
        <section class="container homepage-baseline">
            <div class="homepage-baseline-header">
                <span><h1 id="tagline" class="fadeInDown animated">{{'TAGLINE_HOME' | translate}}</h1></span>
                <span><h3 id="taglineSubtitle" class="fadeInDown animated">{{'TAGLINE_HOME_SUBTITLE' | translate}}</h3></span>
            </div>
        </section>
        <section ng-if="features.homePage" class="homepage-searchbar-frontpage">
            <!-- the overflow rule is to prevent internal scrolling on mobile -->
            <div class="container container-transitional" style="overflow: hidden;">
                <div class="row">
                    <div class="rpad
                        col-xs-12
                        col-md-offset-1 col-md-10
                        col-lg-offset-2 col-lg-8">
                        <ow-geocoder-searchbar searchtext="makeHomeAddressPrefill(user.identity)"></ow-geocoder-searchbar>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <!-- /SEARCHBAR -->

    <!-- TRIANGLE BAR HOME -->
    <div class="triangle--bar--home triangle--bar--home-white"></div>
    <!-- /TRIANGLE BAR -->

    <!-- MYWHEELS OPEN -->
    <div class="mywheels--open--card" ng-if="features.homePage && (!user || !user.identity.isBusinessConnected)" ui-sref="owmlanding.mywheels-open" ga-track-event="['interaction', 'mywheelsOpen', 'home']" hide-xs>
       <img src="../branding/img/mywheels_open_desktop.png" class="banner" />
           <a class="mywheels-btn mywheels-btn-light mywheels-btn-big" md-ink-ripple="#ded8d8" class="md-primary">Meld je aan</a>
    </div>
   
    <div class="mywheels--open--card" ng-if="features.homePage && (!user || !user.identity.isBusinessConnected)" ui-sref="owmlanding.mywheels-open" ga-track-event="['interaction', 'mywheelsOpen', 'home']" hide-gt-xs>
       <img src="../branding/img/mywheels_open_mobiel.png" class="banner" />
           <a class="mywheels-btn mywheels-btn-light mywheels-btn-big" md-ink-ripple="#ded8d8" class="md-primary">Meld je aan</a>
    </div>

    <!-- BLOG ITEMS -->   
    <div class="blog--overview" ng-if="features.homePage && (!user || !user.identity.isBusinessConnected)">
        <section class="center">
            <h2>Ons laatste nieuws</h2>
            <a type="button" name="button" class="mywheels-btn mywheels-btn-default mywheels-btn-big" href="https://mywheels.nl/blog/" target="_blank" md-ink-ripple="#3a6d81" hide-xs>
                Lees alles
            </a>
        </section>
        <div class="blog--overview--items">
            <section>
                <ul>
                    <li class="blog--item" ng-repeat="item in blogItems">
                        <a target="_blank" href="{{ item.url }}" ng-bind="item.title"></a>
                    </li>
                </ul>
                <a type="button" name="button" class="mywheels-btn mywheels-btn-default mywheels-btn-margin-top mywheels-btn-big" href="/blog" md-ink-ripple="#3a6d81" hide-gt-xs>
                    Lees alles
                </a>
            </section>
        </div>
    </div>

    <!-- RENTER CALL TO ACTION -->
    <div class="renter--actions" ng-if="features.homePage">
        <div class="renter--action">
            <section>
                <h2>Huur in de buurt</h2>
                <p class="size-2">Met auto's in meer dan 500 plaatsen, vind je altijd wel een auto bij jou in de buurt. Geen vaste abonnementskosten en voordelige tarieven, bij ons betaal je alleen wanneer je een auto gebruikt.</p>
                <a type="button" name="button" class="mywheels-btn mywheels-btn-default mywheels-btn-margin-top mywheels-btn-big" href="/auto-huren?page=1" md-ink-ripple="#3a6d81">
                    Bekijk het aanbod
                </a>
            </section>
            <div class="renter--action--image"></div>
        </div>
    </div>
    <!-- /RENTER CALL TO ACTION -->

    <!-- OWNER CALL TO ACTION -->
    <div class="owner--actions" ng-if="features.homePage">
        <div class="owner--action">
            <section>
                <h2>Verhuur en verdien</h2>
                <div class="size-2">
                    <p>Je auto aanbieden is gratis. Vul je kenteken in, plaats een paar mooie foto's en je kunt beginnen. Zo verdien jij iets extra's aan je auto en kunnen jouw buren op pad.</p>
                    <p>Met <a href="/open" ui-sref="owmlanding.mywheels-open">MyWheels Open</a> kan je nog makkelijker en vaker je auto delen.</p>
                </div>
                <button type="button" name="button" class="mywheels-btn mywheels-btn-default mywheels-btn-margin-top mywheels-btn-big" ui-sref="list-your-car" md-ink-ripple="#3a6d81">
                    Meld je auto aan
                </button>
            </section>
            <div class="owner--action--image"></div>
        </div>
    </div>
    <!-- /OWNER CALL TO ACTION -->

    <div ng-include="'partials/landing-ratings.tpl.html'"></div>

    <!-- TRIANGLE BAR HOME -->
    <div class="triangle--bar--home triangle--bar--home-white"></div>
    <!-- /TRIANGLE BAR -->

    <div  class="advantage-mywheels" ng-if="features.homePage">
        <!-- ADVANTAGES -->
        <div class="container container-transitional">
            <div class="row">
                <div class="rpad col-xs-12">
                    <h2 class="infoboxes--heading">Voordelen van MyWheels</h2>
                </div>
            </div>

            <div class="row is-flex">
                <div class="rpad col-sm-6">
                    <div class="infobox">
                        <div layout="row" layout-align="start center" layout-margin class="infobox--title">
                            <ng-md-icon size="32" icon="directions_car" alt="Icoon" aria-label="Icoon"></ng-md-icon>
                            <h3 class="infobox--title--text">Voordelig autodelen</h3>
                        </div>
                        <div class="size-2">
                            <p class="infobox--content">MyWheels is het voordeligste autodeelplatform van Nederland. Onze tarieven zijn zo laag omdat we een not-­for-profit­organisatie zijn. Wij vinden leefbare buurten belangrijker dan winstmaximalisatie. Vanwege onze idealen heeft MyWheels al meer dan 65.000 autodelers. Sluit je aan!</p>
                            <a href="https://mywheels.nl/autodelen/community/onze-idealen/" class="infobox--link">Lees meer</a>
                        </div>
                    </div>
                </div>
                <div class="rpad col-sm-6">
                    <div class="infobox">
                        <div layout="row" layout-align="start center" layout-margin class="infobox--title">
                            <ng-md-icon size="32" icon="security" alt="Icoon" aria-label="Icoon"></ng-md-icon>
                            <h3 class="infobox--title--text">Geen abonnementskosten of verplichte borg</h3>
                        </div>
                        <div class="size-2">
                            <p class="infobox--content">Heb je af en toe een auto nodig? Dan kun je zonder borg direct huren via MyWheels Go. Maak je veel ritten? Dan is MyWheels Member iets voor jou. Je betaalt dan eenmalig een borg en profiteert van allerlei voordelen.</p>
                            <a href="https://mywheels.nl/autodelen/hoe-huren-werkt/tarieven-huren/" class="infobox--link">Lees meer</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row is-flex">
                <div class="rpad col-sm-6">
                    <div class="infobox">
                        <div layout="row" layout-align="start center" layout-margin class="infobox--title">
                            <ng-md-icon size="32" icon="contact_phone" alt="Icoon" aria-label="Icoon"></ng-md-icon>
                            <h3 class="infobox--title--text">All­-risk verzekerd</h3>
                        </div>
                        <div class="size-2">
                            <p class="infobox--content">Je bent via MyWheels altijd goed verzekerd bij Centraal Beheer. Wij regelen de verzekering voor de duur van de huur, waardoor je met een gerust hart op weg gaat.</p>
                            <a href=" https://mywheels.nl/autodelen/hoe-huren-werkt/verzekering" class="infobox--link">Lees meer</a>
                        </div>
                    </div>
                </div>
                <div class="rpad col-sm-6">
                    <div class="infobox">
                        <div layout="row" layout-align="start center" layout-margin class="infobox--title">
                            <ng-md-icon size="32" icon="call_split" alt="Icoon" aria-label="Icoon"></ng-md-icon>
                            <h3 class="infobox--title--text">Dag en nacht hulp bij pech</h3>
                        </div>
                        <div class="size-2">
                            <p class="infobox--content">Gebeurt er iets onderweg? 24 uur per dag staat er iemand voor je klaar om je uit de brand te helpen. Een telefoontje is genoeg, en als de auto niet meer verder kan, regelt de verzekering vervangend vervoer.</p>
                            <a href="https://mywheels.nl/autodelen/community/contact/" class="infobox--link">Lees meer</a>
                        </div>
                    </div>
                </div>
                <!--
                <div class="rpad col-sm-6">
                    <div class="infobox disabled">
                        <div layout="row" layout-align="start center" layout-margin class="infobox--title">
                            <ng-md-icon size="32" icon="done" alt="Icoon" aria-label="Icoon"></ng-md-icon>
                            <h3 class="infobox--title--text">Flexibele opties voor verhuurders</h3>
                        </div>
                        <div class="size-2">
                            <p class="infobox--content">Eenmalig een vriendenprijsje instellen? Elke rit automatisch goedkeuren of liever zelf een rit beoordelen? Je auto delen met een besloten groep? Dat kan allemaal. Verhuren via MyWheels is flexibel en eenvoudig. Jij verhuurt je auto, MyWheels regelt de rest.</p>
                        </div>
                    </div>
                </div>
                <div class="rpad col-sm-6">
                    <div class="infobox disabled">
                        <div layout="row" layout-align="start center" layout-margin class="infobox--title">
                            <ng-md-icon size="32" icon="verified_user" alt="Icoon" aria-label="Icoon"></ng-md-icon>
                            <h3 class="infobox--title--text">Veilig & Betrouwbaar</h3>
                        </div>
                        <div class="size-2">
                            <p class="infobox--content">Om ervoor te zorgen dat huurder en verhuurder elkaar kunnen vertrouwen, voert MyWheels meerdere veiligheidscontroles uit. Zo creëren we een veilige community en kun jij met een gerust hart een auto huren of verhuren.</p>
                        </div>
                    </div>
                </div>
                <div class="rpad col-sm-6">
                    <div class="infobox disabled">
                        <div layout="row" layout-align="start center" layout-margin class="infobox--title">
                            <ng-md-icon size="32" icon="near_me" alt="Icoon" aria-label="Icoon"></ng-md-icon>
                            <h3 class="infobox--title--text">Landelijk en lokaal</h3>
                        </div>
                        <div class="size-2">
                            <p class="infobox--content">MyWheels is een landelijk opererend platform, met stevige lokale wortels in de plaatsen waar onze auto’s staan. Onze coördinatoren helpen je op weg en zijn onze ogen en oren in het land.</p>
                        </div>
                    </div>
                </div>
                -->
            </div>
        </div>
        <!-- /ADVANTAGES -->
    </div>

    <div class="lease-banner">
        <div class="container container-transitional wat-is-mywheels-open">
            <div class="row">
                <div class="rpad col-xs-12">
                    <h2>Goedkoop een auto leasen met <img title="MyWheels Lease" alt="MyWheels Lease" ng-src="assets/img/mywheels-lease.png" /></h2>
                </div>
            </div>
            <div class="row">
                <div class="rpad col-md-8 col-md-offset-2">
                    <p class="size-2">
                        Lease een auto bij MyWheels en verhuur de auto met MyWheels Open. Probleemloos zonder sleuteloverdracht. Zo verdien je je maandlasten terug vanuit je luie stoel.
                        <a ui-sref="owmlanding.mywheels-lease">Ontdek MyWheels Lease &raquo;</a>
                    </p>
                </div>
            </div>
        </div>
        <div class="container container-transitional" style="padding-top: 0;">
            <div class="row">
                <div class="rpad col-xs-12 col-sm-6">
                    <div class="lease-auto as-frame" ui-sref="owmlanding.mywheels-lease">
                        <h2 style="text-align: center;">Peugeot 108 (5-deurs)</h2>
                        <div layout="row">
                            <div flex="70" flex-xs="60" class="hoverable-img" style="background-image: url('/assets/img/lease/peugeot.png');"></div>
                            <div class="price" style="text-align: center; display: flex; flex-direction: column; justify-content: center;">
                                <div class="eur" style="margin: 0; line-height: 60px;">€ 179</div>
                                <div class="pm">per maand *</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="rpad col-xs-12 col-sm-6">
                    <div class="lease-auto as-frame" ui-sref="owmlanding.mywheels-lease">
                        <h2 style="text-align: center;">Renault ZOE Life Z.E. 40</h2>
                        <div layout="row">
                            <div flex="70" flex-xs="60" class="hoverable-img" style="background-image: url('/assets/img/lease/zoe.png');"></div>
                            <div class="price" style="text-align: center; display: flex; flex-direction: column; justify-content: center;">
                                <div class="eur" style="margin: 0; line-height: 60px;">€ 399</div>
                                <div class="pm">per maand *</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="rpad col-xs-12">
                    <p style="text-align: center; color: #888; margin-top: 2rem;">
                        *Bovenstaande prijzen gelden voor een looptijd van 36 maanden en 50 euro per maand opbrengst verhuur via MyWheels.
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="imageblock">
        <div class="hero-overlay"></div>
        <div class="imageblock--content">
            <h3 class="imageblock--heading">Begin direct met huren</h3>
            <button class="mywheels-btn mywheels-btn-big mywheels-btn-call-to-action mywheels-btn-margin-top" ui-sref="owm.auth.signup" md-ink-ripple="#9a3d26" ng-show="!invitedBySlug">{{ 'SIGNUP_SHORT' | translate }}</button>
            <button class="mywheels-btn mywheels-btn-error mywheels-btn-margin-top mywheels-btn-big" ui-sref="subscribe({ slug: invitedBySlug })" md-ink-ripple="#9a3d26" ng-show="invitedBySlug">{{ 'SIGNUP_SHORT' | translate }}</button>
        </div>
    </div>

    <div class="footer-logo-row text-center" ng-if="features.homePage">
        <div class="container-home">
            <h2 class="footer-logo-row-header">In de media</h2>
            <div class="row no-margin">
                <div class="col-xs-6 col-md-2"><img src="assets/img/media/de_volkskrant_logo.png" /></div>
                <div class="col-xs-6 col-md-2"><img src="assets/img/media/nos_logo.png" /></div>
                <div class="col-xs-6 col-md-2"><img src="assets/img/media/de_telegraaf_logo.png" /></div>
                <div class="col-xs-6 col-md-2"><img src="assets/img/media/financieel_dagblad_logo.png" /></div>
                <div class="col-xs-6 col-md-2"><img src="assets/img/media/bnr_nieuwsradio_logo.png" /></div>
                <div class="col-xs-6 col-md-2"><img src="assets/img/media/het_parool_logo.png" /></div>
            </div>
        </div>
    </div>
</div>
<!-- close home -->