<div ng-if="removed === false">
    <div class="carousel-background">
        <div class="carousel-background-image" ng-if="images.length < 3" ng-style="carouselBackgroundImage"></div>
        <ng-owl-carousel class="owl-theme"
            owl-items="images"
            owl-ready="owlReady($api)"
            owl-properties="{
                loop: (images.length > 2),
                center: true,
                nav: true,
                dots: false,
                responsive: {
                    '0': { items: 1 },
                    '300': { items: 1 },
                    '400': { items: 1.2 },
                    '500': { items: 1.5 },
                    '600': { items: 1.8 },
                    '700': { items: 2 },
                    '800': { items: 2.2 },
                    '900': { items: 2.4 },
                    '1000': { items: 2.6 },
                    '1200': { items: 2.7 },
                    '1400': { items: 3 },
                },
            }"
            ng-click="owlClick($event)">
            <!-- ng-click doesn't work on automatically cloned elements :|-->
            <div class="item"
                 ng-attr-index="{{ i }}"
                 ng-repeat="(i, url) in images">
                <img src="{{ url }}" />
            </div>
        </ng-owl-carousel>
    </div>

    <div class="return-toolbar-container container container-transitional hidden-xs">
        <div class="return-toolbar">
            <button type="button"
                    ui-sref="owm.resource.search.list"
                    class="btn btn-link return">
                <ng-md-icon size="32" icon="arrow_back"></ng-md-icon>
                <md-tooltip md-direction="top">{{ 'RESOURCE_BACK_TO_LIST' | translate }}</md-tooltip>
            </button>

            <button ng-if="(me && (resource.owner.id === me.id || resource.contactPerson.id === me.id))"
                    ui-sref="owm.resource.edit({ resourceId: resource.id })"
                    type="button"
                    class="btn btn-link edit-resource">
                <ng-md-icon size="32" icon="create"></ng-md-icon>
                <md-tooltip md-direction="top">{{ 'EDIT_RESOURCE' | translate }}</md-tooltip>
            </button>
        </div>
    </div>

    <div id="resource-page-container" class="container container-transitional">

        <div class="col-md-8 col-xs-12 no-padding">
            <div class="card resource-header mw">
                <div class="card-body">
                    <div flex layout="row" class="title-bar-wrapper">
                        <a href="#" class="back-button" ui-sref="owm.resource.search.list">
                            <ng-md-icon icon="arrow_back"></ng-md-icon>
                        </a>
                        <div class="title-bar">
                            <div flex layout="row">
                                <h1 class="single-line" flex>
                                    Huur {{ resource.alias || ('RESOURCE_NO_NAME' | translate) }} {{ resource.city ? 'in ' + resource.city : '' }}
                                </h1>
                                <md-button ng-if="me" class="is-favorite-button md-icon-button md-accent" aria-label="Favorite"
                                                      ng-class="{ 'is-favorite': isFavorite, 'loading': !isFavoriteResolved }">
                                    <ng-md-icon size="28" icon="favorite_border" ng-if="isFavoriteResolved && !isFavorite" ng-click="toggleFavorite(true)"></ng-md-icon>
                                    <ng-md-icon size="28" icon="favorite" ng-if="isFavoriteResolved && isFavorite" ng-click="toggleFavorite(false)"></ng-md-icon>
                                    <md-progress-circular md-mode="indeterminate" ng-if="!isFavoriteResolved"></md-progress-circular>
                                </md-button>
                            </div>

                            <div class="subtitle">
                                <span ng-if="resource.locktypes.indexOf('chipcard') >= 0 || resource.locktypes.indexOf('smartphone') >= 0">
                                    <span class="tag tag-warning mw-badge mw-badge-open">MyWheels Open</span>
                                    <span class="bullet"></span>
                                </span>
                                <span ng-if="resource.isNew">
                                    <span class="tag tag-warning mw-badge mw-badge-new">Nieuw</span>
                                    <span class="bullet"></span>
                                </span>
                                <span class="subtitle-feature">
                                    {{ (resource.brand | toTitleCase) || ('UNKNOWN_BRAND' | translate) }}
                                    <span ng-if="resource.model">{{ resource.model }}</span>
                                </span>
                                <span ng-if="resource.city">
                                    <span class="bullet"></span>
                                    <span class="subtitle-feature">
                                        {{ resource.city | toTitleCase }}
                                    </span>
                                </span>
                            </div>
                        </div>
                    </div>

                    <div ng-include="'resource/partials/resource-key-features.tpl.html'"></div>

                    <div class="resource-advertisement" ng-if="resource.advertisement">
                        <h2>Over mijn deelauto</h2>

                        <div class="user-text">
                            <p style="white-space: pre-line;">{{ resource.advertisement }}</p>
                        </div>
                    </div>

                    <div ng-include="'resource/partials/technische-kenmerken.tpl.html'"></div>

                    <div ng-include="'resource/partials/opties-en-accessoires.tpl.html'"></div>
                </div>
            </div>

            <!-- edit -->
            <div class="card mw card-navigation clearfix" ng-if="false">

                <div ng-if="me" class="text-warning pull-right" style="padding-top: 3px;">
                    <div ng-if="!isFavoriteResolved">
                        <i class="fa fa-heart-o fa-spin fa-2x text-muted"></i>
                    </div>
                    <div ng-if="isFavoriteResolved">
                        <i class="fa fa-heart fa-2x" ng-if="isFavorite" ng-click="toggleFavorite(false)"></i>
                        <i class="fa fa-heart-o fa-2x" ng-if="!isFavorite" ng-click="toggleFavorite(true)"></i>
                    </div>
                </div>

                <button type="button" class="btn btn-link" ui-sref="owm.resource.search.list">
                    <i class="fa fa-arrow-left"></i> {{ 'RESOURCE_BACK_TO_LIST' | translate }}
                </button>

                <button ng-if="me && (resource.owner.id === me.id || resource.contactPerson.id === me.id)" ui-sref="owm.resource.edit({ resourceId: resource.id })" type="button" class="btn btn-link">
                    <i class="fa fa-cog"></i> {{ 'EDIT_RESOURCE' | translate }}
                </button>
            </div>

            <!-- resource sidebar smaller screens (not in sidebar) -->
            <div class="card" ng-if="!isWindowSizeMD" id="priceBookingContainer">
                <div class="card-body">
                    <div style="max-width: 50rem; margin-left: auto; margin-right: auto;">
                        <!-- price -->
                        <!--<div ng-include="'resource/partials/resource-price.tpl.html'"></div>-->
                        <resource-pricing resource="resource"></resource-pricing>
                    </div>
                </div>
                <div class="card-body" style="padding-top: 0;">
                    <div style="max-width: 50rem; margin-left: auto; margin-right: auto;">
                        <!-- unavailability notice -->
                        <div ng-if="unavailable" ng-include="'resource/partials/resource-unavailable.tpl.html'"></div>

                        <!-- booking form -->
                        <div ng-if="!unavailable">
                            <div class="text-center" ng-if="showBookingFormToggle">
                                <p>
                                    <button class="mywheels-btn mywheels-btn-big mywheels-btn-call-to-action" ng-click="toggleBookingForm()">
                                        {{ 'BOOK_A_CAR' | translate }}
                                    </button>
                                </p>
                                <p>
                                    <a class="btn btn-link" ui-sref="owm.resource.calendar({city: (resource.city | replaceSpaceToDash | lowercase), resourceId: resource.id})">
                                        <i class="fa fa-calendar"></i> {{ 'CALENDAR_BUTTON' | translate }}
                                    </a>
                                </p>
                            </div>
                            <div id="createBookingContainer" uib-collapse="!showBookingForm">
                                <reservation-form person="me" resource="resource" booking="booking"></reservation-form>
                            </div>
                            <!--/ booking form -->

                            <div class="text-center">
                                <p>
                                    <a class="btn btn-link btn-sm" ng-show="showBookingForm" ng-click="toggleBookingForm()">
                                        <i class="fa fa-chevron-up"></i>
                                    </a>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- owner -->
            <div class="card mw">
                <div class="card-heading">
                    <h3>Eigenaar</h3>
                </div>
                <div class="card-body">
                    <div class="media">
                        <img class="media-object pull-left img-user-normal" person-profile-image="{ person: resource.owner, size: 'normal' }" />
                        <div class="media-body">
                            <h4 class="media-heading"><a ui-sref="member({ personId: resource.owner.id })">{{ resource.owner | fullname }}</a></h4>
                            <div ng-if="resource.owner.created" class="text-muted">
                                <small>{{ resource.owner.created | memberSince }}</small>
                            </div>
                            <div><span badge-list="resource.owner.badges"></span></div>

                            <button ng-if="me" type="button" class="btn btn-link" ng-click="openChatWith(resource.owner)">
                                <i class="fa fa-comment fa-fw"></i> {{ 'SEND_MESSAGE' | translate }}
                            </button>
                        </div>
                    </div>
                    <div ng-if="resource.owner.about">
                        <p style="white-space:pre-line">{{ resource.owner.about}}</p>
                    </div>
                </div>
            </div>

            <!-- mywheels open benefits -->
            <div class="card mw"
                 id="mywheels_open_info"
                 ng-if="resource.locktypes.indexOf('chipcard') >= 0 || resource.locktypes.indexOf('smartphone') >= 0">
                <div class="card-heading">
                    <h3>{{ 'MYWHEELS_OPEN_TITLE' | translate }}</h3>
                </div>
                <div class="card-body">
                    <div layout="row" layout-xs="column">
                        <div flex="50" flex-xs="100">
                            <md-list style="padding: 0px;">
                              <md-list-item ng-if="resource.locktypes.indexOf('chipcard') >= 0 && resource.locktypes.indexOf('smartphone') < 0">
                                <ng-md-icon icon="vpn_key" alt="Icoon" aria-label="Icoon" class="text-success list-margin"></ng-md-icon>
                                <span>Openen met je <a target="_blank" href="https://mywheels.nl/autodelen/veelgestelde-vragen/hoe-open-ik-een-auto-met-mijn-chipkaart/">chipkaart</a></span>
                              </md-list-item>
                              <md-list-item ng-if="resource.locktypes.indexOf('chipcard') < 0 && resource.locktypes.indexOf('smartphone') >= 0">
                                <ng-md-icon icon="vpn_key" alt="Icoon" aria-label="Icoon" class="text-success list-margin"></ng-md-icon>
                                <span>Openen met je <a target="_blank" href="https://mywheels.nl/autodelen/veelgestelde-vragen/hoe-open-auto-smartphone/">smartphone</a></span>
                              </md-list-item>
                              <md-list-item ng-if="resource.locktypes.indexOf('chipcard') >= 0 && resource.locktypes.indexOf('smartphone') >= 0">
                                <ng-md-icon icon="vpn_key" alt="Icoon" aria-label="Icoon" class="text-success list-margin"></ng-md-icon>
                                <span>Openen met je <a target="_blank" href="https://mywheels.nl/autodelen/veelgestelde-vragen/hoe-open-auto-smartphone/">smartphone</a> & <a target="_blank" href="https://mywheels.nl/autodelen/veelgestelde-vragen/hoe-open-ik-een-auto-met-mijn-chipkaart/">chipkaart</a></span>
                              </md-list-item>
                              <md-list-item>
                                <ng-md-icon icon="date_range" alt="Icoon" aria-label="Icoon" class="text-success list-margin"></ng-md-icon>
                                <span>24 uur per dag te huur</span>
                              </md-list-item>
                            </md-list>
                        </div>
                        <div flex="50" flex-xs="100">
                            <md-list style="padding: 0px;">
                              <md-list-item>
                                <ng-md-icon icon="access_time" alt="Icoon" aria-label="Icoon" class="text-success list-margin"></ng-md-icon>
                                <span>Direct geaccepteerd</span>
                              </md-list-item>
                              <md-list-item>
                                <ng-md-icon icon="mode_edit" alt="Icoon" aria-label="Icoon" class="text-success list-margin"></ng-md-icon>
                                <span>Automatische kilometerregistratie</span>
                              </md-list-item>
                            </md-list>
                        </div>
                    </div>
                </div>
            </div>

            <!-- contact person -->
            <div class="card mw" ng-if="me && resource.contactPerson && (resource.contactPerson.id !== resource.owner.id)">
                <div class="card-heading">
                    <h3>{{ 'CONTACT_PERSON' | translate }}</h3>
                    <div class="media">
                        <img class="media-object pull-left img-user-normal" person-profile-image="{ person: resource.contactPerson, size: 'normal' }" />
                        <div class="media-body">
                            <h4 class="media-heading"><a ui-sref="member({ personId: resource.contactPerson.id })">{{ resource.contactPerson | fullname }}</a></h4>
                            <div ng-if="resource.contactPerson.created" class="text-muted">
                                <small>{{ resource.contactPerson.created | memberSince }}</small>
                            </div>
                            <div><span badge-list="resource.contactPerson.badges"></span></div>

                            <button ng-if="me" type="button" class="btn btn-link" ng-click="openChatWith(resource.contactPerson)">
                                <i class="fa fa-comment fa-fw"></i> {{ 'SEND_MESSAGE' | translate }}
                            </button>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <div ng-if="resource.contactPerson.about">
                        <p>{{ resource.contactPerson.about}}</p>
                    </div>
                </div>
            </div>

            <!-- ratings -->
            <div class="card mw" ng-if="features.ratings">
                <div class="card-heading">
                    <h3>
                      <span ng-bind="'RATINGS' | translate"></span>
                      &nbsp;<span ng-if="resource.ratings.length >= 1">({{ resource.ratings.length }})</span>
                    </h3>
                </div>
                <div class="card-body">
                    <div ng-include="'resource/partials/resource-rating-summary.tpl.html'"></div>
                    <div ng-if="resource.ratings.length">
                        <br/>
                        <div ng-include="'resource/partials/resource-rating-reviews.tpl.html'"></div>
                    </div>
                </div>
            </div>

            <!--<div ng-include="'resource/partials/social.tpl.html'" ng-if="!isWindowSizeMD"></div>-->

            <!-- location -->
            <div class="card mw">
                <div class="card-heading" ng-if="resource.location">
                    <h3>{{ resource.location }} <small ng-if="resource.city">{{ resource.city }}</small></h3>
                </div>
                <ui-gmap-google-map class="google-map" center="map.center" zoom="map.zoom" draggable="false" dragging="map.dragging" bounds="map.bounds" events="map.events" options="map.options">
                    <!-- prefedined markers -->
                    <!-- rendering via ng-repear, HIGH OVERHEAD via DOM Manipulation -->
                    <ui-gmap-marker idKey="$index" ng-repeat="m in map.markers" coords="m" icon="m.icon" click="onMarkerClicked(m)">
                        <ui-gmap-window show="m.showWindow" closeClick="m.closeClick()">
                        </ui-gmap-window>
                    </ui-gmap-marker>
                </ui-gmap-google-map>

                <div class="card-body" ng-show="resource.city">
                    {{ 'RESOURCE_MORE_IN_CITY' | translate }} <a ui-sref="owm.resource.place.list({ city: (resource.city | replaceSpaceToDash | lowercase) })">{{ resource.city }}</a>
                </div>
            </div>

        </div>
        <!-- /col -->

        <!-- resource sidebar -->
        <div ng-if="isWindowSizeMD" class="col-md-4 hidden-xs hidden-sm">
            <div class="card">
                <div class="card-body">
                    <resource-pricing resource="resource"></resource-pricing>
                </div>
            </div>

            <div class="card reservation-form-card" hl-sticky offset-top="20" container="resource-page-container">
                <div class="not-sticky-connect"></div>
                <div class="card-body">
                    <div ng-if="unavailable" ng-include="'resource/partials/resource-unavailable.tpl.html'"></div>
                    <reservation-form ng-if="!unavailable" person="me" resource="resource" booking="booking"></reservation-form>
                </div>
            </div>

            <!--<div ng-include="'resource/partials/social.tpl.html'"></div>-->
        </div>

    </div>
    <!-- /row -->
</div>


<!-- "book now" floating bottom toolbar, for mobile -->
<md-toolbar class="md-hue-2 fixed-call-to-action" ng-if="removed === false && !showBookingForm" hide-gt-xs>
    <div class="md-toolbar-tools">
        <md-button class="md-raised md-primary" ng-click="toggleBookingForm()" ng-if="!openDialogSpinner" ga-track-event="['booking', 'created_pre', user.isAuthenticated, null, true]">{{ 'BOOK_A_CAR' | translate }}</md-button>
        <md-button class="md-raised md-primary" ng-if="openDialogSpinner"><i class="fa fa-fw fa-circle-o-notch fa-spin"></i></md-button>
    </div>
    <div class="satisfaction" ng-if="resource.rating_totals.senders > 0">{{ satisfaction }} {{ 'SATISFACTION_RENTERS' | translate }}</div>
    <div class="satisfaction" ng-if="resource.rating_totals.senders === 0">{{ resource.price.dayRateTotal | currency }} per dag <span ng-if="resource.price.kmFree">en 100 km gratis</span></div>
</md-toolbar>


<div ng-if="removed === true" class="container container-transitional">
    <div class="col-xs-12 no-padding">

        <md-card >
            <md-card-title>
              <md-card-title-text>
                <span class="md-headline">Deze auto is helaas niet meer beschikbaar</span>
                <span class="md-subhead">Vind een andere auto bij jou in de buurt die wel beschikbaar is.</span>
              </md-card-title-text>
            </md-card-title>
            <md-card-content>
              <section>
                <ow-geocoder-searchbar></ow-geocoder-searchbar>
              </section>
            </md-card-content>
        </md-card>

    </div>
</div>
