<div ng-if="resource.removed === false" class="container" ng-class="{ 'container-transitional': features.resourceSidebar }">
    <div>
        <div ng-class="{ 'col-md-8 col-xs-12' : features.resourceSidebar }" class="no-padding">
            <!-- edit -->
            <div class="card card-navigation clearfix">

                <div ng-if="me" class="text-warning pull-right" style="padding-top: 3px;">
                    <div ng-if="!isFavoriteResolved">
                        <i class="fa fa-heart-o fa-spin fa-2x text-muted"></i>
                    </div>
                    <div ng-if="isFavoriteResolved">
                        <i class="fa fa-heart fa-2x" ng-if="isFavorite" ng-click="toggleFavorite(false)"></i>
                        <i class="fa fa-heart-o fa-2x" ng-if="!isFavorite" ng-click="toggleFavorite(true)"></i>
                    </div>
                </div>

                <button type="button" class="btn btn-link" ui-sref="owm.resource.search.list">
                    <i class="fa fa-arrow-left"></i> {{ 'RESOURCE_BACK_TO_LIST' | translate }}
                </button>

                <button ng-if="me && (resource.owner.id === me.id || resource.contactPerson.id === me.id)" ui-sref="owm.resource.edit({ resourceId: resource.id })" type="button" class="btn btn-link">
                    <i class="fa fa-cog"></i> {{ 'EDIT_RESOURCE' | translate }}
                </button>
            </div>

            <!-- header -->
            <div flex>
                <md-card ng-class="{'ow-card': !isWindowSizeSM}">
                    <md-card-header class="blue-header" ng-if="isWindowSizeSM">
                        <md-card-header-text>
                            <h1 class="resource-md-title">Huur {{ resource.alias || ('RESOURCE_NO_NAME' | translate) }} in {{ resource.city | toTitleCase }}</h1>
                        </md-card-header-text>
                    </md-card-header>
                    <div ng-class="{'card-responsive': isWindowSizeSM}">
                        <div class="md-card-image">
                            <div class="media-object img-width50p pull-left md-card-image" resource-carousel="resource"></div>
                        </div>
                        <div class="md-card-padding">
                            <md-card-title ng-if="!isWindowSizeSM">
                                <md-card-title-text layout="colum" layout-wrap>
                                    <h1 class="no-margin" style="font-size: 2rem;" flex="100">{{ resource.alias || ('RESOURCE_NO_NAME' | translate) }} in {{ resource.city | toTitleCase }}</h1>
                                </md-card-title-text>
                            </md-card-title>
                            <md-card-body class="ow-list-compact">
                                <div class="card-body-margin">
                                    <h3 style="margin-bottom: 5px;">{{ (resource.brand | toTitleCase) || ('UNKNOWN_BRAND' | translate) }}
                                      <span ng-if="resource.model"> {{ resource.model }}</span>
                                    </h3>
                                        <span 
                                            ng-if="resource.locktypes.indexOf('chipcard') >= 0 || resource.locktypes.indexOf('smartphone') >= 0" 
                                            class="tag tag-warning" 
                                            style="margin-top: 8px; margin-bottom: 8px; margin-left: 0px;"
                                            id="mywheels-open-tip-label"
                                        >
                                            {{ 'MYWHEELS_OPEN_TIP' | translate }}
                                            <md-tooltip md-direction="bottom" class="multiline">{{ 'MYWHEELS_OPEN_INFO' | translate }}</md-tooltip>
                                        </span>
                                        <span 
                                            ng-if="resource.isNew && ['smartphone', 'chipcard'].indexOf(resource.locktype) < 0"
                                            class="tag tag-success"
                                            style="margin-top: 8px; margin-bottom: 8px; margin-left: 0px;"
                                        >
                                            {{ 'NEW_TIP' | translate }}
                                        </span>
                                        <span 
                                            ng-if="resource.isNew && ['smartphone', 'chipcard'].indexOf(resource.locktype) >= 0"
                                            class="tag tag-success"
                                            style="margin-left: 0px;"
                                        >
                                            {{ 'NEW_TIP' | translate }}
                                        </span>
                                    <div ng-include="'resource/partials/resource-features.tpl.html'"></div>
                                </div>
                            </md-card-body>
                        </div>
                    </div>
                </md-card>
            </div>

            <!-- resource sidebar smaller screens (not in sidebar) -->
            <div class="card" ng-if="!features.resourceSidebar || !isWindowSizeMD" id ="priceBookingContainer">
                <div class="card-body">
                    <!-- price -->
                    <div ng-include="'resource/partials/resource-price.tpl.html'"></div>

                    <!-- booking form -->
                    <div class="text-center" ng-if="showBookingFormToggle">
                        <p>
                            <button ng-if="!me"  class="btn btn-success mywheels-btn-big" ng-click="toggleBookingForm()">
                                {{ 'BOOK_A_CAR' | translate }}
                            </button>
                            <button ng-if="me"  class="btn btn-success mywheels-btn-big" ng-click="toggleBookingForm()">
                                {{ 'BOOK_A_CAR' | translate }}
                            </button>
                        </p>
                        <p>
                            <a class="btn btn-link" ui-sref="owm.resource.calendar({city: (resource.city | replaceSpaceToDash | lowercase), resourceId: resource.id})">
                                <i class="fa fa-calendar"></i> {{ 'CALENDAR_BUTTON' | translate }}
                            </a>
                        </p>
                    </div>
                    <div id="createBookingContainer" uib-collapse="!showBookingForm">
                        <reservation-form person="me" resource="resource" booking="booking" show-price="false"></reservation-form>
                    </div>
                    <!--/ booking form -->

                    <div class="text-center">
                        <p>
                            <a class="btn btn-link btn-sm" ng-show="showBookingForm" ng-click="toggleBookingForm()">
                                <i class="fa fa-chevron-up"></i>
                            </a>
                        </p>
                    </div>

                </div>
            </div>

            <!-- owner -->
            <div class="card">
                <div class="card-heading">
                    <h3 class="card-title">{{ 'OWNER' | translate }}</h3>
                    <div class="media">
                        <img class="media-object pull-left img-user-normal" person-profile-image="{ person: resource.owner, size: 'normal' }" />
                        <div class="media-body">
                            <h4 class="media-heading"><a ui-sref="member({ personId: resource.owner.id })">{{ resource.owner | fullname }}</a></h4>
                            <div ng-if="resource.owner.created" class="text-muted">
                                <small>{{ resource.owner.created | memberSince }}</small>
                            </div>
                            <div><span badge-list="resource.owner.badges"></span></div>

                            <button ng-if="me" type="button" class="btn btn-link" ng-click="openChatWith(resource.owner)">
                                <i class="fa fa-comment fa-fw"></i> {{ 'SEND_MESSAGE' | translate }}
                            </button>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <div ng-if="resource.advertisement">
                        <h5>{{ 'ABOUT_CAR' | translate}}</h5>
                        <p style="white-space:pre-line">{{ resource.advertisement }}</p>
                    </div>
                    <div ng-if="resource.owner.about">
                        <h5>{{ 'ABOUT_ME' | translate }}</h5>
                        <p style="white-space:pre-line">{{ resource.owner.about}}</p>
                    </div>
                </div>
            </div>

            <!-- mywheels open benefits -->
            <div class="card" ng-if="resource.locktypes.indexOf('chipcard') >= 0 || resource.locktypes.indexOf('smartphone') >= 0" id="mywheels_open_info">
                <div class="card-heading">
                    <h3 class="card-title">{{ 'MYWHEELS_OPEN_TITLE' | translate }}</h3>
                </div>
                <div class="card-body">
                    <div layout="row" layout-xs="column">
                        <div flex="50" flex-xs="100">
                            <md-list style="padding: 0px;">
                              <md-list-item ng-if="resource.locktypes.indexOf('chipcard') >= 0 && resource.locktypes.indexOf('smartphone') < 0">
                                <md-icon alt="Icoon" aria-label="Icoon" class="text-success list-margin">vpn_key</md-icon>
                                <span>Openen met je <a target="_blank" href="https://mywheels.nl/autodelen/veelgestelde-vragen/hoe-open-ik-een-auto-met-mijn-chipkaart/">chipkaart</a></span>
                              </md-list-item>
                              <md-list-item ng-if="resource.locktypes.indexOf('chipcard') < 0 && resource.locktypes.indexOf('smartphone') >= 0">
                                <md-icon alt="Icoon" aria-label="Icoon" class="text-success list-margin">vpn_key</md-icon>
                                <span>Openen met je <a target="_blank" href="https://mywheels.nl/autodelen/veelgestelde-vragen/hoe-open-auto-smartphone/">smartphone</a></span>
                              </md-list-item>
                              <md-list-item ng-if="resource.locktypes.indexOf('chipcard') >= 0 && resource.locktypes.indexOf('smartphone') >= 0">
                                <md-icon alt="Icoon" aria-label="Icoon" class="text-success list-margin">vpn_key</md-icon>
                                <span>Openen met je <a target="_blank" href="https://mywheels.nl/autodelen/veelgestelde-vragen/hoe-open-auto-smartphone/">smartphone</a> & <a target="_blank" href="https://mywheels.nl/autodelen/veelgestelde-vragen/hoe-open-ik-een-auto-met-mijn-chipkaart/">chipkaart</a></span>
                              </md-list-item>
                              <md-list-item>
                                <md-icon alt="Icoon" aria-label="Icoon" class="text-success list-margin">date_range</md-icon>
                                <span>24 uur per dag te huur</span>
                              </md-list-item>
                            </md-list>
                        </div>
                        <div flex="50" flex-xs="100">
                            <md-list style="padding: 0px;">
                              <md-list-item>
                                <md-icon alt="Icoon" aria-label="Icoon" class="text-success list-margin">access_time</md-icon>
                                <span>Direct geaccepteerd</span>
                              </md-list-item>
                              <md-list-item>
                                <md-icon alt="Icoon" aria-label="Icoon" class="text-success list-margin">mode_edit</md-icon>
                                <span>Automatische kilometerregistratie</span>
                              </md-list-item>
                            </md-list>
                        </div>
                    </div>
                </div>
            </div>

            <!-- resource info -->
            <div class="card" id="resourceInfo">
                <div class="card-heading">
                    <h3 class="card-title">{{ 'RESOURCE_INFO' | translate }}</h3>
                </div>
                <div class="card-body">

                    <div class="specifics">
                        <div flex layout-gt-xs="row" class="specificRow">
                            <div flex-xs="100" flex="50" layout="row" class="item fuel_type">
                                <div flex="50" class="title">{{ 'FUEL_TYPE' | translate }}</div>
                                <div flex="50" class="info">{{ (resource.fuelType | translate | toTitleCase) || ('UNKNOWN' | translate | toTitleCase) }}</div>
                            </div>
                            <div flex-xs="100" flex="50" layout="row" class="item gear">
                                <div flex="50" class="title">{{ 'GEAR' | translate }}</div>
                                <div flex="50" class="info" ng-if="automaticGear >= 0">{{ 'AUTOMATIC_GEAR' | translate }}</div>
                                <div flex="50" class="info" ng-if="automaticGear < 0">{{ 'MANUAL_GEAR' | translate }}</div>
                            </div>
                        </div>
                        <div flex="100" layout-gt-xs="row" class="specificRow">
                            <div flex-xs="100" flex="50" layout="row" class="item resource_type">
                                <div flex="50" class="title">{{ 'RESOURCE_TYPE' | translate }}</div>
                                <div flex="50" class="info">{{ resourceTypeValue }}</div>
                            </div>
                            <div flex-xs="100" flex="50" layout="row" class="item minimum_age">
                                <div flex="50" class="title">{{ 'MINIMUM_AGE' | translate }}</div>
                                <div flex="50" class="info">{{ resource.minimumAge }} {{ 'YEAR' | translate }}</div>
                            </div>
                        </div>
                        <div flex="100" layout-gt-xs="row" class="specificRow">
                            <div flex-xs="100" flex="50" layout="row" class="item time_of_origin">
                                <div flex="50" class="title">{{ 'TIME_OF_ORGIN' | translate }}</div>
                                <div flex="50" class="info">{{ resource.bouwjaar || ('UNKNOWN' | translate) }}</div>
                            </div>
                            <div flex-xs="100" flex="50" layout="row" class="item number_of_seats">
                                <div flex="50" class="title">{{ 'NUMBER_OF_SEATS' | translate }}</div>
                                <div flex="50" class="info">{{ resource.numberOfSeats }}</div>
                            </div>
                        </div>
                        <div flex="100" layout-gt-xs="row" class="specificRow">
                            <div flex-xs="100" flex="50" layout="row" class="item color">
                                <div flex="50" class="title">{{ 'COLOR' | translate }}</div>
                                <div flex="50" class="info">{{ (resource.color | toTitleCase) || ('UNKNOWN' | translate) }}</div>
                            </div>
                            <div flex-xs="100" flex="50" layout="row" class="item created">
                                <div flex="50" class="title">{{ 'RESOURCE_AGE' | translate }}</div>
                                <div flex="50" class="info" ng-if="resource.created">{{ resource.created | resourceAge }}</div>
                                <div flex="50" class="info" ng-if="!resource.created">{{ 'UNKNOWN' | translate }}</div>
                            </div>
                        </div>
                        <div flex="100" layout-gt-xs="row" class="specificRow">
                            <div flex-xs="100" flex="50" layout="row" class="item smoking">
                                <div flex="50" class="title">{{ 'SMOKING' | translate }}</div>
                                <div flex="50" class="info"><md-icon alt="Icoon" aria-label="Icoon" class="text-danger">close</md-icon></div>
                            </div>
                            <div flex-xs="100" flex="50" layout="row" class="item pets">
                                <div flex="50" class="title">{{ 'PETS' | translate }}</div>
                                <div flex="50" class="info"><md-icon alt="Icoon" aria-label="Icoon" class="text-danger">close</md-icon></div>
                            </div>
                        </div>
                    </div>

                    <div class="subTitle">
                        <h3 class="card-title">{{ 'RESOURCE_PROPERTIES' | translate }}</h3>
                    </div>
                    <div class="specifics">
                        <div flex="100" layout-gt-xs="row" class="specificRow">
                            <div flex-xs="100" flex="50" layout="row" class="item airconditioning">
                                <div flex="50" class="title">{{ 'ACCESSORIES.AIRCONDITIONING' | translate }}</div>
                                <div flex="50" class="info" ng-if="airconditioning >= 0"><md-icon alt="Icoon" aria-label="Icoon" class="text-success">check</md-icon></div>
                                <div flex="50" class="info" ng-if="airconditioning < 0"><md-icon alt="Icoon" aria-label="Icoon" class="text-danger">close</md-icon></div>
                            </div>
                            <div flex-xs="100" flex="50" layout="row" class="item bike_carrier">
                                <div flex="50" class="title">{{ 'ACCESSORIES.BIKE_CARRIER' | translate }}</div>
                                <div flex="50" class="info" ng-if="bikeCarrier >= 0"><md-icon alt="Icoon" aria-label="Icoon" class="text-success">check</md-icon></div>
                                <div flex="50" class="info" ng-if="bikeCarrier < 0"><md-icon alt="Icoon" aria-label="Icoon" class="text-danger">close</md-icon></div>
                            </div>
                        </div>
                        <div flex="100" layout-gt-xs="row" class="specificRow">
                            <div flex-xs="100" flex="50" layout="row" class="item child_seat">
                                <div flex="50" class="title">{{ 'ACCESSORIES.CHILD_SEAT' | translate }}</div>
                                <div flex="50" class="info" ng-if="childSeat >= 0"><md-icon alt="Icoon" aria-label="Icoon" class="text-success">check</md-icon></div>
                                <div flex="50" class="info" ng-if="childSeat < 0"><md-icon alt="Icoon" aria-label="Icoon" class="text-danger">close</md-icon></div>
                            </div>
                            <div flex-xs="100" flex="50" layout="row" class="item mp3_connection">
                                <div flex="50" class="title">{{ 'ACCESSORIES.MP3_CONNECTION' | translate }}</div>
                                <div flex="50" class="info" ng-if="mp3Connection >= 0"><md-icon alt="Icoon" aria-label="Icoon" class="text-success">check</md-icon></div>
                                <div flex="50" class="info" ng-if="mp3Connection < 0"><md-icon alt="Icoon" aria-label="Icoon" class="text-danger">close</md-icon></div>
                            </div>
                        </div>
                        <div flex="100" layout-gt-xs="row" class="specificRow">
                            <div flex-xs="100" flex="50" layout="row" class="item navigation">
                                <div flex="50" class="title">{{ 'ACCESSORIES.NAVIGATION' | translate }}</div>
                                <div flex="50" class="info" ng-if="navigation >= 0"><md-icon alt="Icoon" aria-label="Icoon" class="text-success">check</md-icon></div>
                                <div flex="50" class="info" ng-if="navigation < 0"><md-icon alt="Icoon" aria-label="Icoon" class="text-danger">close</md-icon></div>
                            </div>
                            <div flex-xs="100" flex="50" layout="row" class="item wheelchair_friendly">
                                <div flex="50" class="title">{{ 'ACCESSORIES.WHEELCHAIR_FRIENDLY' | translate }}</div>
                                <div flex="50" class="info" ng-if="wheelchairFriendly >= 0"><md-icon alt="Icoon" aria-label="Icoon" class="text-success">check</md-icon></div>
                                <div flex="50" class="info" ng-if="wheelchairFriendly < 0"><md-icon alt="Icoon" aria-label="Icoon" class="text-danger">close</md-icon></div>
                            </div>
                        </div>
                        <div flex="100" layout-gt-xs="row" class="specificRow">
                            <div flex-xs="100" flex="50" layout="row" class="item towbar">
                                <div flex="50" class="title">{{ 'ACCESSORIES.TOW_BAR' | translate }}</div>
                                <div flex="50" class="info" ng-if="towbar >= 0"><md-icon alt="Icoon" aria-label="Icoon" class="text-success">check</md-icon></div>
                                <div flex="50" class="info" ng-if="towbar < 0"><md-icon alt="Icoon" aria-label="Icoon" class="text-danger">close</md-icon></div>
                            </div>
                            <div flex-xs="100" flex="50" layout="row" class="item winter_tires">
                                <div flex="50" class="title">{{ 'ACCESSORIES.WINTER_TIRES' | translate }}</div>
                                <div flex="50" class="info" ng-if="winterTires >= 0"><md-icon alt="Icoon" aria-label="Icoon" class="text-success">check</md-icon></div>
                                <div flex="50" class="info" ng-if="winterTires < 0"><md-icon alt="Icoon" aria-label="Icoon" class="text-danger">close</md-icon></div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

            <!-- contact person -->
            <div class="card" ng-if="me && resource.contactPerson && (resource.contactPerson.id !== resource.owner.id)">
                <div class="card-heading">
                    <h3 class="card-title">{{ 'CONTACT_PERSON' | translate }}</h3>
                    <div class="media">
                        <img class="media-object pull-left img-user-normal" person-profile-image="{ person: resource.contactPerson, size: 'normal' }" />
                        <div class="media-body">
                            <h4 class="media-heading"><a ui-sref="member({ personId: resource.contactPerson.id })">{{ resource.contactPerson | fullname }}</a></h4>
                            <div ng-if="resource.contactPerson.created" class="text-muted">
                                <small>{{ resource.contactPerson.created | memberSince }}</small>
                            </div>
                            <div><span badge-list="resource.contactPerson.badges"></span></div>

                            <button ng-if="me" type="button" class="btn btn-link" ng-click="openChatWith(resource.contactPerson)">
                                <i class="fa fa-comment fa-fw"></i> {{ 'SEND_MESSAGE' | translate }}
                            </button>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <div ng-if="resource.contactPerson.about">
                        <h5>{{ 'ABOUT_ME' | translate }}</h5>
                        <p>{{ resource.contactPerson.about}}</p>
                    </div>
                </div>
            </div>

            <!-- ratings -->
            <div class="card" ng-if="features.ratings">
                <div class="card-heading">
                    <h3 class="card-title">
                  <span ng-bind="'RATINGS' | translate"></span>
                  &nbsp;<span ng-if="resource.ratings.length >= 1">({{ resource.ratings.length }})</span>
                </h3>
                </div>
                <div class="card-body">
                    <div ng-include="'resource/partials/resource-rating-summary.tpl.html'"></div>
                    <div ng-if="resource.ratings.length">
                        <br/>
                        <div ng-include="'resource/partials/resource-rating-reviews.tpl.html'"></div>
                    </div>
                </div>
            </div>

            <div ng-if="resource.isActive && features.social && !isWindowSizeMD" class="card">
                <div class="card-body">
                    <p ng-if="resource.owner.id === me.id || resource.contactPerson.id === me.id">{{ 'SOCIAL_SHARE_RESOURCE' | translateOrDefault }}</p>
                    <p ng-if="resource.owner.id !== me.id && resource.contactPerson.id !== me.id">{{ 'SOCIAL_SHARE_RESOURCE_NOT_OWNER' | translateOrDefault }}</p>
                    <div class="share-buttons text-center">
                        <a 
                            href="#"
                            socialshare
                            socialshare-provider="facebook"
                            socialshare-via="appConfig.fbAppId"
                            socialshare-text="Huur een {{ resource.brand | toTitleCase }} {{ resource.model | toTitleCase }} voor {{ resource.price.dayRateTotal | currency }} per dag via MyWheels"
                            socialshare-hashtags="autodelen"
                            socialshare-url="{{ shareUrl }}"
                            class="btn btn-link"
                            ga-track-event="['interaction', 'shareResourceFacebook', 'resourceShow']"
                        >
                            <i class="fa fa-fw fa-1x fa-facebook"></i>Facebook
                        </a>
                        <a 
                            href="#"
                            socialshare
                            socialshare-provider="twitter"
                            socialshare-text="Huur een {{ resource.brand | toTitleCase }} {{ resource.model | toTitleCase }} voor {{ resource.price.dayRateTotal | currency }} per dag via MyWheels"
                            socialshare-hashtags="autodelen"
                            socialshare-url="{{ shareUrl }}"
                            class="btn btn-link"
                            ga-track-event="['interaction', 'shareResourceTwitter', 'resourceShow']"

                        >
                            <i class="fa fa-fw fa-1x fa-twitter"></i>Twitter
                        </a>
                        <a 
                            href="#"
                            socialshare
                            socialshare-provider="whatsapp"
                            socialshare-text="Huur een {{ resource.brand | toTitleCase }} {{ resource.model | toTitleCase }} voor {{ resource.price.dayRateTotal | currency }} per dag via MyWheels"
                            socialshare-url="{{ shareUrl }}"
                            class="btn btn-link"
                            ga-track-event="['interaction', 'shareResourceWhatsApp', 'resourceShow']"
                            hide-gt-xs
                        >
                            <i class="fa fa-fw fa-1x fa-whatsapp"></i>WhatsApp
                        </a>
                    </div>
                </div>
            </div>

            <!-- location -->
            <div class="card">
                <div class="card-heading">
                    <h3 class="card-title">{{ resource.location }} <small>{{ resource.city }}</small></h3>
                </div>
                <ui-gmap-google-map class="google-map" center="map.center" zoom="map.zoom" draggable="false" dragging="map.dragging" bounds="map.bounds" events="map.events" options="map.options">
                    <!-- prefedined markers -->
                    <!-- rendering via ng-repear, HIGH OVERHEAD via DOM Manipulation -->
                    <ui-gmap-marker idKey="$index" ng-repeat="m in map.markers" coords="m" icon="m.icon" click="onMarkerClicked(m)">
                        <ui-gmap-window show="m.showWindow" closeClick="m.closeClick()">
                        </ui-gmap-window>
                    </ui-gmap-marker>
                </ui-gmap-google-map>

                <div class="card-body">
                    {{ 'RESOURCE_MORE_IN_CITY' | translate }} <a ui-sref="owm.resource.place.list({ city: (resource.city | replaceSpaceToDash | lowercase) })">{{ resource.city }}</a>
                </div>
            </div>

        </div>
        <!-- /col -->

        <!-- resource sidebar -->
        <div ng-if="features.resourceSidebar && isWindowSizeMD" class="col-md-4 hidden-xs hidden-sm">
            <div class="card">
                <div class="card-heading">
                    <h3 class="card-title"><i class="fa fa-fw fa-pencil"></i> {{ 'BOOK_A_CAR' | translate }}</h3>
                </div>
                <div class="card-body">
                    <reservation-form person="me" resource="resource" booking="booking" show-price="true"></reservation-form>
                </div>
            </div>

            <div ng-if="resource.isActive && features.social" class="card">
                <div class="card-body">
                    <p ng-if="resource.owner.id === me.id || resource.contactPerson.id === me.id">{{ 'SOCIAL_SHARE_RESOURCE' | translateOrDefault }}</p>
                    <p ng-if="resource.owner.id !== me.id && resource.contactPerson.id !== me.id">{{ 'SOCIAL_SHARE_RESOURCE_NOT_OWNER' | translateOrDefault }}</p>
                    <div class="share-buttons text-center">
                        <a 
                            href="#"
                            socialshare
                            socialshare-provider="facebook"
                            socialshare-via="appConfig.fbAppId"
                            socialshare-text="Huur een {{ resource.brand | toTitleCase }} {{ resource.model | toTitleCase }} voor {{ resource.price.dayRateTotal | currency }} per dag via MyWheels"
                            socialshare-hashtags="autodelen"
                            socialshare-url="{{ shareUrl }}"
                            class="btn btn-link"
                            ga-track-event="['interaction', 'shareResourceFacebook', 'resourceShow']"
                        >
                            <i class="fa fa-fw fa-1x fa-facebook"></i>Facebook
                        </a>
                        <a 
                            href="#"
                            socialshare
                            socialshare-provider="twitter"
                            socialshare-text="Huur een {{ resource.brand | toTitleCase }} {{ resource.model | toTitleCase }} voor {{ resource.price.dayRateTotal | currency }} per dag via MyWheels"
                            socialshare-hashtags="autodelen"
                            socialshare-url="{{ shareUrl }}"
                            class="btn btn-link"
                            ga-track-event="['interaction', 'shareResourceTwitter', 'resourceShow']"

                        >
                            <i class="fa fa-fw fa-1x fa-twitter"></i>Twitter
                        </a>
                    </div>
                </div>
            </div>

        </div>

    </div>
    <!-- /row -->
</div>

<md-toolbar class="md-hue-2 fixed-call-to-action" ng-if="resource.removed === false && !showBookingForm" hide-gt-xs>
    <div class="md-toolbar-tools">
        <md-button class="md-raised md-primary" ng-click="toggleBookingForm()" ng-if="!openDialogSpinner" ga-track-event="['booking', 'created_pre', user.isAuthenticated, null, true]">{{ 'BOOK_A_CAR' | translate }}</md-button>
        <md-button class="md-raised md-primary" ng-if="openDialogSpinner"><i class="fa fa-fw fa-circle-o-notch fa-spin"></i></md-button>
    </div>
    <div class="satisfaction" ng-if="resource.rating_totals.senders > 0">{{ satisfaction }} {{ 'SATISFACTION_RENTERS' | translate }}</div>
    <div class="satisfaction" ng-if="resource.rating_totals.senders === 0">{{ resource.price.dayRateTotal | currency }} per dag <span ng-if="resource.price.kmFree">en 100 km gratis</span></div>
</md-toolbar>

<div class="col-md-8 col-md-offset-2">
  <md-card ng-if="resource.removed === true">
    <md-card-title>
      <md-card-title-text>
        <span class="md-headline">Deze auto is helaas niet meer beschikbaar</span>
        <span class="md-subhead">Vind een andere auto bij jou in de buurt die wel beschikbaar is.</span>
      </md-card-title-text>
    </md-card-title>
    <md-card-content>
      <section>
        <ow-geocoder-searchbar></ow-geocoder-searchbar>
      </section>
    </md-card-content>
  </md-card>
</div>
